/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 45, ../sass/style.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 46, ../sass/style.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 47, ../sass/style.scss */
audio:not([controls]) {
  display: none;
}

/* line 48, ../sass/style.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 60, ../sass/style.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 62, ../sass/style.scss */
html, button, input, select, textarea {
  font-family: sans-serif;
  color: #333;
}

/* line 64, ../sass/style.scss */
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
/* line 72, ../sass/style.scss */
::-moz-selection {
  background: #00baff;
  color: white;
  text-shadow: none;
}

/* line 73, ../sass/style.scss */
::selection {
  background: #00baff;
  color: white;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 80, ../sass/style.scss */
a {
  color: #00baff;
  text-decoration: none;
}

/* line 85, ../sass/style.scss */
a:visited {
  color: #00baff;
}

/* line 87, ../sass/style.scss */
a:hover {
  color: #424242;
  border-bottom: 2px solid #00baff;
}

/* line 92, ../sass/style.scss */
a:focus {
  outline: thin dotted #00baff;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 97, ../sass/style.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 104, ../sass/style.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 106, ../sass/style.scss */
b, strong {
  font-weight: bold;
}

/* line 108, ../sass/style.scss */
blockquote {
  margin: 1em 40px;
}

/* line 110, ../sass/style.scss */
dfn {
  font-style: italic;
}

/* line 112, ../sass/style.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 114, ../sass/style.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 116, ../sass/style.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 119, ../sass/style.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 122, ../sass/style.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 124, ../sass/style.scss */
q {
  quotes: none;
}

/* line 125, ../sass/style.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 127, ../sass/style.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 130, ../sass/style.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 132, ../sass/style.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 139, ../sass/style.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 140, ../sass/style.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 141, ../sass/style.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
/* line 153, ../sass/style.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 159, ../sass/style.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 166, ../sass/style.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 173, ../sass/style.scss */
form {
  margin: 0;
}

/* line 174, ../sass/style.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 177, ../sass/style.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 184, ../sass/style.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 192, ../sass/style.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
/* line 198, ../sass/style.scss */
button, input {
  line-height: normal;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
/* line 206, ../sass/style.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 212, ../sass/style.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/*
 * Consistent box sizing and appearance
 */
/* line 218, ../sass/style.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 219, ../sass/style.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 220, ../sass/style.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 226, ../sass/style.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 233, ../sass/style.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 237, ../sass/style.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 244, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 245, ../sass/style.scss */
td {
  vertical-align: top;
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */
/* line 252, ../sass/style.scss */
.chromeframe {
  text-align: center;
  margin: 0;
  background: #DE3163;
  color: white;
  text-shadow: none;
  padding: 0.2em 0;
  border-top: 1px solid black;
  border-bottom: 2px solid white;
}
/* line 262, ../sass/style.scss */
.chromeframe a {
  color: white;
  text-decoration: none;
  border-bottom: 1px dotted white;
}
/* line 266, ../sass/style.scss */
.chromeframe a:hover {
  border-bottom: 1px solid white;
}

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/* line 277, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 283, ../sass/style.scss */
html, body {
  height: 100%;
  background: #f5f6f6;
  color: #424242;
}

/* line 291, ../sass/style.scss */
body {
  font: normal 100%/1.5 lemonde-courrier-1, Cambria, Georgia, "Times New Roman", Times, serif;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  text-rendering: optimizeLegibility;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -webkit-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/* line 317, ../sass/style.scss */
h1 {
  font-family: "futura-pt-1";
  font-weight: normal;
}

/* line 324, ../sass/style.scss */
h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "futura-pt-1";
}

/* line 334, ../sass/style.scss */
body > header {
  margin: 4rem auto 2rem;
  width: 73rem;
}
/* line 337, ../sass/style.scss */
body > header hgroup {
  width: 33rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 341, ../sass/style.scss */
body > header hgroup h1 {
  margin: 0;
  font-weight: 300;
}
/* line 344, ../sass/style.scss */
body > header hgroup h1 a {
  text-decoration: none;
  color: #424242;
}
/* line 347, ../sass/style.scss */
body > header hgroup h1 a:visited {
  color: #424242;
}
/* line 350, ../sass/style.scss */
body > header hgroup h1 a:hover {
  color: #00baff;
  border-bottom: none;
}
/* line 356, ../sass/style.scss */
body > header hgroup h2 {
  margin: 0;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  white-space: nowrap;
  overflow-x: visible;
  color: #AAA;
  text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.4);
}

/* line 369, ../sass/style.scss */
body > footer {
  margin: 4rem auto 2rem;
  padding-bottom: 2rem;
  width: 73rem;
}
/* line 373, ../sass/style.scss */
body > footer p {
  width: 33rem;
  margin: 0 auto;
}

/* line 379, ../sass/style.scss */
article {
  margin: 4rem auto 0;
  width: 73rem;
  overflow: hidden;
  *zoom: 1;
}
/* line 385, ../sass/style.scss */
article > * {
  width: 33rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 391, ../sass/style.scss */
article > figure {
  min-width: 33rem;
  width: 73rem;
  margin: 0 auto;
  overflow: visible;
  overflow: hidden;
  *zoom: 1;
}
/* line 398, ../sass/style.scss */
article > figure > img, article > figure > svg, article > figure > canvas, article > figure > div {
  float: right;
}
/* line 402, ../sass/style.scss */
article > figure > textarea, article > figure > pre, article > figure > div.CodeMirror {
  float: right;
}

/* line 411, ../sass/style.scss */
a.more-link {
  white-space: nowrap;
}

/* line 415, ../sass/style.scss */
.entry-meta {
  display: none;
}

/* line 419, ../sass/style.scss */
#page-nav {
  margin: 4rem auto 2rem;
  padding-bottom: 2rem;
  width: 73rem;
}
/* line 424, ../sass/style.scss */
#page-nav > div {
  display: inline-block;
  padding-right: 1rem;
}
/* line 427, ../sass/style.scss */
#page-nav > div:first-child {
  padding-left: 20rem;
}

/* line 435, ../sass/style.scss */
sup {
  display: inline-block;
  position: relative;
  top: -1em;
  min-width: .5em;
}
/* line 442, ../sass/style.scss */
sup a {
  position: absolute;
  top: 0;
  left: -0.4em;
  display: block;
  -webkit-transition: all .2s;
  -webkit-transform-origin: 50% 50%;
  padding: 2px;
  text-align: center;
  min-width: 1.4em;
  min-height: 1em;
  line-height: .9em;
  position: absolute;
  top: 0;
  vertical-align: middle;
}
/* line 463, ../sass/style.scss */
sup a:hover {
  background-color: white;
  border: 1px solid #00baff;
  -webkit-border-radius: 8em 8em;
  -moz-border-radius: 8em / 8em;
  -ms-border-radius: 8em / 8em;
  -o-border-radius: 8em / 8em;
  border-radius: 8em / 8em;
  cursor: pointer;
  -webkit-transform: scale(1.5);
}

/*sup {
	vertical-align: 60%;
	font-size: 75%;
	line-height: 100%;
}
sub {
	vertical-align: -10%;
	font-size: 75%;
	line-height: 100%;
}*/
/* line 487, ../sass/style.scss */
.amp {
  /*font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", "Warnock Pro", serif;*/
  font-weight: normal;
  /*font-style: italic;*/
  /*font-size: 1.1em;
  line-height: 1em;*/
  font-weight: 300;
}

/* line 495, ../sass/style.scss */
.caps {
  /*font-size: 90%;*/
  -moz-font-feature-settings: "smcp=1";
  -ms-font-feature-settings: "smcp" 1;
}

/* line 500, ../sass/style.scss */
.dquo {
  margin-left: -0.4em;
}

/* line 503, ../sass/style.scss */
.quo {
  margin-left: -0.2em;
}

/* because formatting .numbers should consider your current font settings, we will not style it here */
/* line 508, ../sass/style.scss */
.numbers {
  -moz-font-feature-settings: "pnum=1,onum=1";
  -ms-font-feature-settings: "pnum" 1,"onum" 1;
}

/* line 522, ../sass/style.scss */
.CodeMirror {
  font-size: 14px;
  width: 33rem;
}

/* line 528, ../sass/style.scss */
.CodeMirror-scroll {
  height: auto;
  overflow: visible !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
  width: 100%;
}

/* line 536, ../sass/style.scss */
.CodeMirror-gutter {
  background-color: transparent;
}

/* line 545, ../sass/style.scss */
.CodeMirror-gutter-text pre {
  padding-right: .5em;
  color: #f5f6f6;
  position: relative;
}
/* line 552, ../sass/style.scss */
.CodeMirror-gutter-text pre span {
  position: absolute;
  display: block;
  top: 0;
  right: -0.5em;
}
/* line 562, ../sass/style.scss */
.CodeMirror-gutter-text pre span i {
  position: absolute;
  top: 0;
  opacity: 1;
  right: -2px;
  cursor: pointer;
  color: #00baff;
  display: block;
  font-size: 18px;
  width: 21px;
  -webkit-transition: all .2s;
  -webkit-transform-origin: 50% 50%;
}
/* line 575, ../sass/style.scss */
.CodeMirror-gutter-text pre span i:hover {
  -webkit-transform: scale(1.5);
  text-shadow: 0px 0px 4px #fff;
}
/* line 579, ../sass/style.scss */
.CodeMirror-gutter-text pre span i.active {
  color: #d33682;
  top: 200px;
  opacity: 0;
}

/* line 594, ../sass/style.scss */
.CodeMirror-lines {
  padding-left: 10px;
}

/* line 610, ../sass/style.scss */
.xxxCodeMirror-gutter {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
  min-width: 2em;
  height: 100%;
}

/* line 618, ../sass/style.scss */
.xxxCodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .2em .4em .4em;
}

/* line 628, ../sass/style.scss */
.CodeMirror pre {
  line-height: 1.5em;
}

/* line 632, ../sass/style.scss */
.xxxCodeMirror textarea {
  font-family: monospace !important;
}

/* line 636, ../sass/style.scss */
.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 2px solid #00baff !important;
  height: 22px;
  margin-top: -3.5px !important;
  box-shadow: 0px 0px 2px #fff;
}

/* line 646, ../sass/style.scss */
.xxxCodeMirror-focused .CodeMirror-cursor {
  visibility: visible;
}

/* line 660, ../sass/style.scss */
.CodeMirror-matchingbracket {
  color: #d33682 !important;
}

/* line 664, ../sass/style.scss */
.CodeMirror-nonmatchingbracket {
  color: #dc322f !important;
  text-decoration: line-through;
}

/* line 678, ../sass/style.scss */
.CodeMirror-focused .activeline {
  border-bottom: none !important;
  background: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.8);
}

/* line 684, ../sass/style.scss */
.activeline {
  border-bottom: 1px dashed #00baff !important;
  z-index: 1000;
}

/* line 690, ../sass/style.scss */
.CodeMirror-gutter {
  background-color: transparent;
  width: 3em;
}

/* line 695, ../sass/style.scss */
.CodeMirror-gutter-text {
  color: #ddd;
}

/* line 703, ../sass/style.scss */
span.CodeMirror-matchhighlight {
  border-bottom: 1px solid #00baff;
}

/* line 707, ../sass/style.scss */
.CodeMirror-focused span.CodeMirror-matchhighlight {
  border-bottom: 1px solid #00baff;
}

/* Solarized (dark) theme */
/* line 748, ../sass/style.scss */
.cm-s-solarized-dark {
  background: #002b36;
  color: #839496;
}

/* line 753, ../sass/style.scss */
.cm-s-solarized-dark div.CodeMirror-selected {
  background: #586e75;
}

/* line 757, ../sass/style.scss */
.cm-s-solarized-dark .CodeMirror-gutter {
  background: #073642;
}

/* line 761, ../sass/style.scss */
.cm-s-solarized-dark .CodeMirror-gutter-text {
  color: #586e75;
}

/* line 765, ../sass/style.scss */
.cm-s-solarized-dark .CodeMirror-cursor {
  border-left: 1px solid #839496;
}

/* line 769, ../sass/style.scss */
.cm-s-solarized-dark span.cm-keyword {
  color: #268bd2;
}

/* line 770, ../sass/style.scss */
.cm-s-solarized-dark span.cm-atom {
  color: #b58900;
}

/* line 771, ../sass/style.scss */
.cm-s-solarized-dark span.cm-number {
  color: #2aa198;
}

/* line 772, ../sass/style.scss */
.cm-s-solarized-dark span.cm-def {
  color: #839496;
}

/* line 773, ../sass/style.scss */
.cm-s-solarized-dark span.cm-variable {
  color: #839496;
}

/* line 774, ../sass/style.scss */
.cm-s-solarized-dark span.cm-variable-2 {
  color: #b58900;
}

/* line 775, ../sass/style.scss */
.cm-s-solarized-dark span.cm-variable-3 {
  color: #268bd2;
}

/* line 776, ../sass/style.scss */
.cm-s-solarized-dark span.cm-property {
  color: #859900;
}

/* line 777, ../sass/style.scss */
.cm-s-solarized-dark span.cm-operator {
  color: #2aa198;
}

/* line 778, ../sass/style.scss */
.cm-s-solarized-dark span.cm-comment {
  color: #586e75;
}

/* line 779, ../sass/style.scss */
.cm-s-solarized-dark span.cm-string {
  color: #2aa198;
}

/* line 780, ../sass/style.scss */
.cm-s-solarized-dark span.cm-string-2 {
  color: #2aa198;
}

/* line 781, ../sass/style.scss */
.cm-s-solarized-dark span.cm-meta {
  color: #586e75;
}

/* line 782, ../sass/style.scss */
.cm-s-solarized-dark span.cm-error {
  color: #dc322f;
}

/* line 783, ../sass/style.scss */
.cm-s-solarized-dark span.cm-qualifier {
  color: #268bd2;
}

/* line 784, ../sass/style.scss */
.cm-s-solarized-dark span.cm-builtin {
  color: #b58900;
}

/* line 785, ../sass/style.scss */
.cm-s-solarized-dark span.cm-bracket {
  color: #dc322f;
}

/* line 786, ../sass/style.scss */
.cm-s-solarized-dark span.cm-tag {
  color: #268bd2;
}

/* line 787, ../sass/style.scss */
.cm-s-solarized-dark span.cm-attribute {
  color: #839496;
}

/* line 788, ../sass/style.scss */
.cm-s-solarized-dark span.cm-header {
  color: #cb4b16;
}

/* line 789, ../sass/style.scss */
.cm-s-solarized-dark span.cm-quote {
  color: #586e75;
}

/* line 790, ../sass/style.scss */
.cm-s-solarized-dark span.cm-hr {
  color: #cb4b16;
}

/* line 791, ../sass/style.scss */
.cm-s-solarized-dark span.cm-link {
  color: #6c71c4;
}

/* line 796, ../sass/style.scss */
.cm-s-solarized-light {
  /*  background: #002b36;*/
  color: #839496;
}

/* line 817, ../sass/style.scss */
.cm-s-solarized-light span.cm-keyword {
  color: #268bd2;
}

/* line 818, ../sass/style.scss */
.cm-s-solarized-light span.cm-atom {
  color: #b58900;
}

/* line 819, ../sass/style.scss */
.cm-s-solarized-light span.cm-number {
  color: #2aa198;
}

/* line 820, ../sass/style.scss */
.cm-s-solarized-light span.cm-def {
  color: #839496;
}

/* line 821, ../sass/style.scss */
.cm-s-solarized-light span.cm-variable {
  color: #839496;
}

/* line 822, ../sass/style.scss */
.cm-s-solarized-light span.cm-variable-2 {
  color: #b58900;
}

/* line 823, ../sass/style.scss */
.cm-s-solarized-light span.cm-variable-3 {
  color: #268bd2;
}

/* line 824, ../sass/style.scss */
.cm-s-solarized-light span.cm-property {
  color: #859900;
}

/* line 825, ../sass/style.scss */
.cm-s-solarized-light span.cm-operator {
  color: #2aa198;
}

/* line 826, ../sass/style.scss */
.cm-s-solarized-light span.cm-comment {
  color: #586e75;
}

/* line 827, ../sass/style.scss */
.cm-s-solarized-light span.cm-string {
  color: #2aa198;
}

/* line 828, ../sass/style.scss */
.cm-s-solarized-light span.cm-string-2 {
  color: #2aa198;
}

/* line 829, ../sass/style.scss */
.cm-s-solarized-light span.cm-meta {
  color: #586e75;
}

/* line 830, ../sass/style.scss */
.cm-s-solarized-light span.cm-error {
  color: #dc322f;
}

/* line 831, ../sass/style.scss */
.cm-s-solarized-light span.cm-qualifier {
  color: #268bd2;
}

/* line 832, ../sass/style.scss */
.cm-s-solarized-light span.cm-builtin {
  color: #b58900;
}

/* line 833, ../sass/style.scss */
.cm-s-solarized-light span.cm-bracket {
  color: #dc322f;
}

/* line 834, ../sass/style.scss */
.cm-s-solarized-light span.cm-tag {
  color: #268bd2;
}

/* line 835, ../sass/style.scss */
.cm-s-solarized-light span.cm-attribute {
  color: #839496;
}

/* line 836, ../sass/style.scss */
.cm-s-solarized-light span.cm-header {
  color: #cb4b16;
}

/* line 837, ../sass/style.scss */
.cm-s-solarized-light span.cm-quote {
  color: #586e75;
}

/* line 838, ../sass/style.scss */
.cm-s-solarized-light span.cm-hr {
  color: #cb4b16;
}

/* line 839, ../sass/style.scss */
.cm-s-solarized-light span.cm-link {
  color: #6c71c4;
}

/* line 844, ../sass/style.scss */
pre {
  font-family: "inconsolata-1" !important;
}

/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 868, ../sass/style.scss */
.ir {
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: transparent;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 871, ../sass/style.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 874, ../sass/style.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 877, ../sass/style.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 880, ../sass/style.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 883, ../sass/style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 884, ../sass/style.scss */
.clearfix:after {
  clear: both;
}

/* line 885, ../sass/style.scss */
.clearfix {
  *zoom: 1;
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 895, ../sass/style.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 896, ../sass/style.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 897, ../sass/style.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 898, ../sass/style.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 899, ../sass/style.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 900, ../sass/style.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 901, ../sass/style.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 902, ../sass/style.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 903, ../sass/style.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 905, ../sass/style.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 906, ../sass/style.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
