@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/typography/text";
@import "compass/typography/vertical_rhythm";

// http://hypertext.net/2011/06/mimic-writer-aesthetic
$iAWriterColor:           #424242;
$iAWriterBackgroundColor: #f5f6f6;

// https://github.com/ritwik/kod-colors-solarized/blob/master/solarizedkodlight.less
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #333; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection { background: #00baff; color: white; text-shadow: none; }
::selection { background: #00baff; color: white; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { 
	color: #00baff; 
	text-decoration:	none;
}

a:visited { color: #00baff; }

a:hover { 
	color: #424242; 
	border-bottom: 2px solid #00baff;
}

a:focus { 
	outline: thin dotted #00baff; 
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
//sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
  text-align: center;
  margin: 0;
  background: #DE3163; // http://en.wikipedia.org/wiki/Cerise_(color)
  color: white;
  text-shadow: none;
  padding: 0.2em 0;
  border-top: 1px solid black;
  border-bottom: 2px solid white;

  a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted white;
    &:hover {
      border-bottom: 1px solid white;
    }
  }
}


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

* {
  @include box-sizing(border-box);
}

// .foo  { text-rendering: optimizeSpeed; }

html, body {
  height: 100%;
  // background-color: #fefefe;
  background: $iAWriterBackgroundColor;
  color: $iAWriterColor;
}

// http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/
body{
  font: normal 100%/1.5 lemonde-courrier-1, Cambria, Georgia, "Times New Roman", Times, serif;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
  text-rendering: optimizeLegibility;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  
  
  -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
      -webkit-font-feature-settings: "liga", "dlig";
      -o-font-feature-settings: "liga", "dlig";
      font-feature-settings: "liga", "dlig";
}

///////
// $base-font-size: 16px;
// $base-line-height: 24px;
// $default-rhythm-border-style: solid;
// $relative-font-sizing: true;
//
// $min-line-padding: 2px;
//////


h1 {
  //font: normal 1.875rem abril-display, Palatino, Georgia, Times, serif;
  // font-size: 1.875rem;
  font-family: "futura-pt-1";
  font-weight: normal;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "futura-pt-1";
  //font-family: abril-display, Palatino, Georgia, Times, serif;
}

// .caps, figure, footer {
  // font-size: 0.875rem;
// }

body > header {
	margin: 4rem auto 2rem;
	width: 73rem;
	hgroup {
		width:  33rem;
		margin-left: auto;
		margin-right: auto;
		h1 {
			margin:	0;
			font-weight:	300;
			a {
				text-decoration:	none;
				color: $iAWriterColor;
				&:visited {
					color: $iAWriterColor;
				}
				&:hover {
					color:	#00baff;
					border-bottom:	none;
				}
			}
		}
		h2 {
			margin:	0;
			font-weight: 300;
			font-style: normal;
			font-size:	15px;
			@include nowrap;
			overflow-x: visible;
			color: #AAA;
			text-shadow: 2px 2px 0 rgba(255, 255, 255, 0.4);
		}
	}
}

body > footer {
	margin: 4rem auto 2rem;
	padding-bottom: 2rem;
	width: 73rem;
	p {
		width:  33rem;
		margin: 0 auto;
	}
}

article {
  // font-size: 1.125rem;
  margin: 4rem auto 0;
  width: 73rem;
  @include clearfix;

  > * {
    width:  33rem;
    margin-left: auto;
    margin-right: auto;
  }

  > figure {
    min-width: 33rem;
    width:  73rem;
    margin: 0 auto;
    overflow: visible;
    @include clearfix;

    > img, > svg, > canvas, > div {
      float: right;
    }

    > textarea, > pre, > div.CodeMirror {
      float: right;
    }
  }


} //article

// old blog, FIXME
a.more-link {
  @include nowrap;
}

.entry-meta {
  display:  none;
}

#page-nav {
	margin: 4rem auto 2rem;
	padding-bottom: 2rem;
	width: 73rem;

  > div {
    display: inline-block;
    padding-right:  1rem;
    &:first-child {
      padding-left: 20rem;
    }
  }
  
  
}

sup {
    display: inline-block;
    position: relative;
	//top: -1.5em;
	top: -1em;
	
	min-width:	.5em;
    a {
      position: absolute;
      top: 0;
	  left: -.4em;
      display:  block;
      -webkit-transition: all .2s;
      -webkit-transform-origin: 50% 50%;


		padding: 2px;
		text-align: center;

		min-width: 1.4em;
		min-height: 1em;
		line-height: .9em;
	
		position: absolute;
		top: 0;
		
		vertical-align: middle;
	
      &:hover {
		background-color:	white;
		border:	1px solid #00baff;
		@include border-radius(8em, 8em); 
		cursor:	pointer;
        -webkit-transform: scale(1.5);
      }
    }
  }




///////
/*sup {
	vertical-align: 60%;
	font-size: 75%;
	line-height: 100%;
}
sub {
	vertical-align: -10%;
	font-size: 75%;
	line-height: 100%;
}*/
.amp {
	/*font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", "Warnock Pro", serif;*/
	font-weight: normal;
	/*font-style: italic;*/
	/*font-size: 1.1em;
	line-height: 1em;*/
    font-weight: 300;
}
.caps {
	/*font-size: 90%;*/
    -moz-font-feature-settings: "smcp=1";
    -ms-font-feature-settings: "smcp" 1;
}
.dquo {
	margin-left:-.40em;
}
.quo {
	margin-left:-.2em;
}

/* because formatting .numbers should consider your current font settings, we will not style it here */
.numbers {
    -moz-font-feature-settings: "pnum=1,onum=1";
    -ms-font-feature-settings: "pnum" 1,"onum" 1;
}

//////

//$font_path: "/lib/Font-Awesome/font/fontawesome-webfont";
//@import "../lib/Font-Awesome/sass/font-awesome.scss";


//@import "../lib/CodeMirror2/lib/codemirror.css";


.CodeMirror {
  font-size: 14px;//1rem;
  width:  33rem;
}

//http://codemirror.net/demo/resize.html
.CodeMirror-scroll {
  height: auto;
  overflow: visible !important;
  overflow-y: visible !important;
  overflow-x: visible !important;
  width: 100%
}

.CodeMirror-gutter {
  background-color: transparent;
  // &:hover {
  //   .CodeMirror-gutter-text pre {
  //     //color:  #ddd;
  //   }
  // }
}

.CodeMirror-gutter-text pre {
  padding-right: .5em;
  color:  $iAWriterBackgroundColor;
  &:hover {
    // color:  #aaa !important;
  }
  position: relative;
  span {
    position: absolute;
    display: block;
    // float: right;
    top: 0;
    right: -.5em;
    // content: "\f004";
    // font-family: FontAwesome;
    // padding-left: 10px;
      
    i {
      position: absolute;
      top: 0;
      opacity:  1;
      right: -2px;
      cursor: pointer;
      color: #00baff;
      // margin-left: 10px;
      display:  block;
      font-size: 18px;
      width: 21px;
      -webkit-transition: all .2s;// ease-in-out;
      -webkit-transform-origin: 50% 50%;
      &:hover {
        -webkit-transform: scale(1.5);
        text-shadow: 0px 0px 4px #fff;
      }
      &.active {
        color: $magenta;
        top: 200px;
        opacity:  0;
      }
    }
  }
}

// .CodeMirror-focused {
//   .CodeMirror-gutter-text pre {
//     color:  #eee;
//   }
// }

.CodeMirror-lines {
  padding-left: 10px;
}


/////////
// sparrowhawk
// .CodeMirror {
//   overflow: auto;
//   height: 300px;
//   width:  @aside;
// overflow: hidden;
//   line-height: 1em;
//   font-family: monospace;
// }

.xxxCodeMirror-gutter {
  position: absolute; left: 0; top: 0;
  background-color: #f7f7f7;
  border-right: 1px solid #eee;
  min-width: 2em;
  height: 100%;
}

.xxxCodeMirror-gutter-text {
  color: #aaa;
  text-align: right;
  padding: .4em .2em .4em .4em;
}

.xxxCodeMirror-lines {
//  padding: .4em;
}

.CodeMirror pre {
  line-height: 1.5em;
}

.xxxCodeMirror textarea {
  font-family: monospace !important;
}

.CodeMirror-cursor {
  z-index: 10;
  position: absolute;
  visibility: hidden;
  border-left: 2px solid #00baff !important;
  // height: 15px;
  height: 22px;
  margin-top: -3.5px !important;
  box-shadow: 0px 0px 2px #fff;
}
.xxxCodeMirror-focused .CodeMirror-cursor {
  visibility: visible;
}

// span.CodeMirror-selected {
//   //background: #ccc !important;
//   color: $magenta !important;
// }

// .CodeMirror-focused span.CodeMirror-selected {
//   color: $red !important;
// }


.CodeMirror-matchingbracket {
  color: $magenta !important;
}

.CodeMirror-nonmatchingbracket {
  color: $red !important;
  text-decoration: line-through;
}

.CodeMirror {
  //color:    #424242 !important;
  //background: url(bg.jpg) !important;
  //font-size:  18px !important;
  //font-family: Monaco, Geneva, "Lucida Sans", sans !important;
  //line-height:  2em !important;
  //font-weight:  300 !important;
}

.CodeMirror-focused .activeline {
  border-bottom: none !important;
  background: rgba(255, 255, 255, .8) !important;
  box-shadow: 0px 0px 25px rgba(255, 255, 255, .8);
}

.activeline {
  border-bottom: 1px dashed #00baff !important;
  z-index: 1000;
  
}

.CodeMirror-gutter {
  background-color: transparent;
  width: 3em;
}

.CodeMirror-gutter-text {
  color:  #ddd;
}

//.xxxCodeMirror-matchingbracket {color: #0f0 !important;}
//.xxxCodeMirror-nonmatchingbracket {color: #f22 !important;}

//http://codemirror.net/demo/matchhighlighter.html
span.CodeMirror-matchhighlight { 
  //background: #e9e9e9; 
  border-bottom: 1px solid #00baff;
}
.CodeMirror-focused span.CodeMirror-matchhighlight { 
  //background: #e7e4ff !important ;
  border-bottom: 1px solid #00baff;
  }

// http://codemirror.net/demo/fullscreen.html
// .CodeMirror-scroll {
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: @aside;
//   height: 100%;
//   //z-index: 9999;
//   margin: 0;
//   padding: 0;
// //  border: 0px solid #BBBBBB;
//   opacity: 1;
// }

// .CodeMirror-fullscreen {
//   display: block;
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   margin: 0;
//   padding: 0;
// //  border: 0px solid #BBBBBB;
//   opacity: 1;
// }
/////////


//////
// https://github.com/zaeleus/haste-server/blob/1950cc8db0330cc17c6385c08dc78f99a2dd747f/static/application.css#L156

/* Solarized (dark) theme */

.cm-s-solarized-dark {
  background: #002b36;
  color: #839496;
}

.cm-s-solarized-dark div.CodeMirror-selected {
  background: #586e75;
}

.cm-s-solarized-dark .CodeMirror-gutter {
  background: #073642;
}

.cm-s-solarized-dark .CodeMirror-gutter-text {
  color: #586e75;
}

.cm-s-solarized-dark .CodeMirror-cursor {
  border-left: 1px solid #839496;
}

.cm-s-solarized-dark span.cm-keyword    { color: #268bd2; }
.cm-s-solarized-dark span.cm-atom       { color: #b58900; }
.cm-s-solarized-dark span.cm-number     { color: #2aa198; }
.cm-s-solarized-dark span.cm-def        { color: #839496; }
.cm-s-solarized-dark span.cm-variable   { color: #839496; }
.cm-s-solarized-dark span.cm-variable-2 { color: #b58900; }
.cm-s-solarized-dark span.cm-variable-3 { color: #268bd2; }
.cm-s-solarized-dark span.cm-property   { color: #859900; }
.cm-s-solarized-dark span.cm-operator   { color: #2aa198; }
.cm-s-solarized-dark span.cm-comment    { color: #586e75; }
.cm-s-solarized-dark span.cm-string     { color: #2aa198; }
.cm-s-solarized-dark span.cm-string-2   { color: #2aa198; }
.cm-s-solarized-dark span.cm-meta       { color: #586e75; }
.cm-s-solarized-dark span.cm-error      { color: #dc322f; }
.cm-s-solarized-dark span.cm-qualifier  { color: #268bd2; }
.cm-s-solarized-dark span.cm-builtin    { color: #b58900; }
.cm-s-solarized-dark span.cm-bracket    { color: #dc322f; }
.cm-s-solarized-dark span.cm-tag        { color: #268bd2; }
.cm-s-solarized-dark span.cm-attribute  { color: #839496; }
.cm-s-solarized-dark span.cm-header     { color: #cb4b16; }
.cm-s-solarized-dark span.cm-quote      { color: #586e75; }
.cm-s-solarized-dark span.cm-hr         { color: #cb4b16; }
.cm-s-solarized-dark span.cm-link       { color: #6c71c4; }


/// light?

.cm-s-solarized-light {
/*  background: #002b36;*/
  color: #839496;
}

.cm-s-solarized-light div.CodeMirror-selected {
  //background: @base03;//#586e75;
}

.cm-s-solarized-light .CodeMirror-gutter {
  //background: #073642;
}

.cm-s-solarized-light .CodeMirror-gutter-text {
  //color: #586e75;
}

.cm-s-solarized-light .CodeMirror-cursor {
  //border-left: 1px solid #839496;
}

.cm-s-solarized-light span.cm-keyword    { color: #268bd2; }
.cm-s-solarized-light span.cm-atom       { color: $yellow; }
.cm-s-solarized-light span.cm-number     { color: #2aa198; }
.cm-s-solarized-light span.cm-def        { color: #839496; }
.cm-s-solarized-light span.cm-variable   { color: #839496; }
.cm-s-solarized-light span.cm-variable-2 { color: #b58900; }
.cm-s-solarized-light span.cm-variable-3 { color: #268bd2; }
.cm-s-solarized-light span.cm-property   { color: #859900; }
.cm-s-solarized-light span.cm-operator   { color: #2aa198; }
.cm-s-solarized-light span.cm-comment    { color: #586e75; }
.cm-s-solarized-light span.cm-string     { color: #2aa198; }
.cm-s-solarized-light span.cm-string-2   { color: #2aa198; }
.cm-s-solarized-light span.cm-meta       { color: #586e75; }
.cm-s-solarized-light span.cm-error      { color: #dc322f; }
.cm-s-solarized-light span.cm-qualifier  { color: #268bd2; }
.cm-s-solarized-light span.cm-builtin    { color: #b58900; }
.cm-s-solarized-light span.cm-bracket    { color: #dc322f; }
.cm-s-solarized-light span.cm-tag        { color: #268bd2; }
.cm-s-solarized-light span.cm-attribute  { color: #839496; }
.cm-s-solarized-light span.cm-header     { color: #cb4b16; }
.cm-s-solarized-light span.cm-quote      { color: #586e75; }
.cm-s-solarized-light span.cm-hr         { color: #cb4b16; }
.cm-s-solarized-light span.cm-link       { color: #6c71c4; }




pre {
  font-family:"inconsolata-1" !important;
}




/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { border: 0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
