<div role=main class=single>
  
    
<article id="post-28" class="post-28 post type-post status-publish format-standard hentry category-courses-etc category-semantic-web tag-knowledge-engineering tag-ontology tag-semantic-web tag-topbraid-composer">
  <header class=entry-header>
    <h1 class=entry-title><span class="caps">SSSW<span class="numbers">07</span></span> — Day Two</h1>

        <div class=entry-meta>
      <a href="/archive/2007/07/sssw07-day-two/index.html" title="20:08" rel="bookmark"><time class="entry-date" datetime="2007-07-10T20:08:55+00:00" pubdate>July 10, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>The invited speaker of the day was <a href="http://hcs.science.uva.nl/usr/richard/home.html">Richard Benjamins</a> (<a href="http://www.isoco.com/">iSOCO</a>, <a href="http://www.telefonica.com/">Telephonica</a>), about “Semantic Solutions for the Enterprise,” he talked about the market, <a href="http://www.gartner.com/it/page.jsp?id=495475">Gartner Hype Cycle <span class="numbers">2006</span> predictions</a>, public and corporate semantic applications and cost factors for constructing ontologies.</p>
<p>Next, <a href="http://www.inrialpes.fr/exmo/people/euzenat/">Jérôme Euzenat</a> presented at a very fast pace, the role, state of the art and future in ontology matching and alignment; and we got a taste of various matching algorithms in the afternoon <a href="http://alignapi.gforge.inria.fr/tutorial/">practical session</a>.</p>
<p><a href="http://webode.dia.fi.upm.es/Asun/Asun.html">Asunción Gómez Pérez</a>, gave a presentation on ontological engineering — development process, ontology lifecycle, methods and methodologies for building ontologies, and the tool suites and languages that support them. Most of the things were part of <a href="http://www.neon-project.org/">NeOn Project</a>, the NeOn glossary of activities is a nice overview of what ontological engineering deals with.</p>
<p>In the afternoon, another <a href="http://wiki.loa-cnr.it/index.php/LoaWiki:KRPatterns07">practical session</a> was lead by Aldo Gangemi, where we had to build an simple (and funny) ontology using <a href="http://wiki.loa-cnr.it/index.php/LoaWiki:DesignPatternRepository">another set ontology patterns</a> than the ones discussed in the previous day. If in the previous day we played with <a href="http://protege.stanford.edu/">Protégé</a> <span class="numbers">4</span>, now we designed the ontology with <a href="http://www.topbraidcomposer.com/">TopBraid Composer</a>. (I wonder what is the acceptance within this community of Altova’s <a href="http://www.altova.com/products/semanticworks/semantic_web_rdf_owl_editor.html">SemanticWorks</a>).</p>
<p>Later we had a extreme short walk in mountains, where we followed briefly one of the footpaths of the Fuenfría Valley.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/07/sssw07-day-one/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/07/sssw07-day-three/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
