<div role=main class=single>
  
    
<article id="post-41" class="post-41 post type-post status-publish format-standard hentry category-uncategorised tag-mac-os-x tag-unix">
  <header class=entry-header>
    <h1 class=entry-title>Live Free or Die!</h1>

        <div class=entry-meta>
      <a href="/archive/2007/08/live-free-or-die/index.html" title="02:34" rel="bookmark"><time class="entry-date" datetime="2007-08-03T02:34:34+00:00" pubdate>August 3, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><span class="dquo">“</span>Apple’s forthcoming release of Mac <span class="caps">OS</span> X <span class="numbers">10</span>.<span class="numbers">5</span> Leopard is the first <a href="http://en.wikipedia.org/wiki/BSD"><span class="caps">BSD</span></a>–based operating system to receive the <a href="http://www.opengroup.org/openbrand/certificates/1190p.pdf"><span class="caps">UNIX</span> <span class="numbers">03</span> certification</a>, placing the Mac maker among an élite group of official <span class="caps">UNIX</span> <span class="numbers">03</span> vendors.” (via <a href="http://www.appleinsider.com/articles/07/08/01/apples_leopard_gains_unix_03_certification.html">AppleInsider</a>)</p>
<p style="text-align: center;"><a href="http://www.unix.org/license-plate.html"><img class="size-medium wp-image-42 aligncenter" title="UNIX® License Plate" src="http://localhost:8888/blog/wp-content/uploads/2009/10/unix_plate-300x151.jpg" alt="UNIX® License Plate" width="300" height="151" /></a></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/08/deep-brain-stimulation/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/08/css-reset/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
