<div role=main class=single>
  
    
<article id="post-343" class="post-343 post type-post status-publish format-standard hentry category-sonification-3 tag-ambient-devices tag-multimodal-interaction tag-perception tag-preattentive-processing tag-sonification">
  <header class=entry-header>
    <h1 class=entry-title>Sonifying Web Pages</h1>

        <div class=entry-meta>
      <a href="/archive/2011/01/sonifying-web-pages/index.html" title="03:01" rel="bookmark"><time class="entry-date" datetime="2011-01-20T03:01:41+00:00" pubdate>January 20, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I’ve always thought of <a href="http://en.wikipedia.org/wiki/Sonification">sonification</a> (the use of non-​speech audio to convey information or perceptualize data) in the context of adding more dimensions when visualising dynamic data (as sound augments visual perception), or in ambient devices (think <a href="http://scholar.google.co.uk/scholar?q=Preattentive+processing+sound&amp;hl=en&amp;as_sdt=0&amp;as_vis=1&amp;oi=scholart">preattentive processing of sounds</a>).</p>
<p>The following twitter posts by <a href="http://twitter.com/davidascher/status/27847452174323713">David Ascher</a>, <a href="http://twitter.com/humphd/status/27847797965324288">David Humphrey</a> and <a href="http://twitter.com/brianking/status/27852805758787584">Brian King</a> prompted me to think of how sonification could be used in a browser.</p>
<p style="text-align: center;"><img class="size-full wp-image-345 aligncenter" title="Twitter conversation, sonification" src="/archive/uploads/2011/01/conversation1.jpg" alt="" width="478" height="682" /></p>
<p>How could a web page be sonified? What exactly would have meaning: the byte stream, the markup, a <span class="caps">DOM</span> traversal, visual layout or the elements with known semantics?</p>
<p>If you hear a page before you see it (loading a page in background), would you recognise it? The sound of a tab loading could tell you if it is worthy to switch to it or to close right-​away? Should ads sound like noise? Comments like chatter?</p>
<p>Max Newlands <a href="http://www.algomusic.com/movies/MaxNewlands/">experimented with markup sonification</a> (<span class="numbers">2007</span>), but markup alone nowadays maps poorly to the visual rendering of the page, therefore not augmenting the visual recollection of the page and surely not priming this recollection.</p>
<p>Sonification of images was successfully used to restore a form of sight to the blind (see NewScientist’s “<a href="http://www.newscientist.com/article/mg20727731.500-sensory-hijack-rewiring-brains-to-see-with-sound.html?full=true">Sensory hijack: rewiring brains to see with sound</a>” article). I’m going to experiment here with <a href="http://twitter.com/seeingwithsound">Peter Meijer</a>’s technique that maps <a href="http://www.seeingwithsound.com">visual information to sound</a> on the visual appearance of web pages.</p>
<p><span id="more-343"></span></p>
<p>Peter’s <a href="http://www.seeingwithsound.com/winvoice.htm">vOICe</a> technique scans an image from left to right such that <em>x</em> axis will represents time while <em>y</em> defines the pitch of the generated sound (brightness modulates the volume).</p>
<p style="text-align: center;"><a href="http://www.seeingwithsound.com/winvoice.htm"><img class="aligncenter size-full wp-image-353" title="vOICe image to sound mapping" src="/archive/uploads/2011/01/Simple-line-and-dot-images1.gif" alt="" width="100" height="100" /></a></p>
<p>We read web pages left to right (or right to left in some languages) and from top to down. For now lets map time to the vertical and pitch to the horizontal.</p>
<p>For using snapshots of web pages with the vOICe java applet, I’ll remove glyphs’ noise (display only layout with <a href="http://www.volkside.com/tools/wirify/">Volkside Wirify</a> bookmarklet), inverse (brightness is volume) and rotate them <span class="numbers">90</span>˚ counter clockwise (to have our temporal dimension from left to right).</p>
<p style="text-align: center;"><img class="aligncenter size-full wp-image-356" title="preprocessing" src="/archive/uploads/2011/01/preprocessing11.jpg" alt="" width="500" height="500" /></p>
<p>The applet below should be already playing the sonification of this image.</p>
<p><strong>You can also “listen” to <a href="javascript:document.JavOICe.SetPar('',''); document.JavOICe.SetPar('URL','http://gridinoc.name/blog/wp-content/uploads/2011/01/wikipedia.gif'); document.JavOICe.Restart(true);">Wikipedia</a>, <a href="javascript:document.JavOICe.SetPar('',''); document.JavOICe.SetPar('URL','http://gridinoc.name/blog/wp-content/uploads/2011/01/amazon.gif'); document.JavOICe.Restart(true);">Amazon <span class="caps">UK</span></a>, a <a href="javascript:document.JavOICe.SetPar('',''); document.JavOICe.SetPar('URL','http://gridinoc.name/blog/wp-content/uploads/2011/01/facebook.gif'); document.JavOICe.Restart(true);">Facebook page</a> or <a href="javascript:document.JavOICe.SetPar('',''); document.JavOICe.SetPar('URL','http://gridinoc.name/blog/wp-content/uploads/2011/01/bbc.gif'); document.JavOICe.Restart(true);"><span class="caps">BBC</span> News</a>.</strong></p>
<p style="text-align: center;">
<applet codebase='/javoice/' code='The_vOICe.class' name='JavOICe' width=640 height=525></p>
<param name="NFRAME"  value="1"></param>
<param name="M"       value="64"></param>
<param name="N"       value="64"></param>
<param name="FL"      value="500"></param>
<param name="FH"      value="5000"></param>
<param name="FS"      value="22050"></param>
<param name="T"       value="1.0"></param>
<param name="REFRESH" value="0.0"></param>
<param name="D"       value="1"></param>
<param name="WINDOW"  value="2"></param>
<param name="BINOC"   value="0"></param>
<param name="BINAU"   value="1"></param>
<param name="CLICK"   value="1"></param>
<param name="CIW"     value="0.2"></param>
<param name="DSI"     value="2"></param>
<param name="URL"     value="http://gridinoc.name/blog/wp-content/uploads/2011/01/mozilla.gif"></param></applet><br /> The vOICe Java applet/​application written by <a href="http://www.seeingwithsound.com/javoice.htm">Peter B.L. Meijer</a></p>
<style>.post-content {overflow:visible;}</style>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2010/10/firefox-panorama-for-ebooks/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/03/using-jetpack-on-jetpack/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
