<div role=main class=single>
  
    
<article id="post-7" class="post-7 post type-post status-publish format-standard hentry category-uncategorised tag-colors-of-noise tag-noise">
  <header class=entry-header>
    <h1 class=entry-title>definition</h1>

        <div class=entry-meta>
      <a href="/archive/2006/03/definition/index.html" title="15:15" rel="bookmark"><time class="entry-date" datetime="2006-03-11T15:15:52+00:00" pubdate>March 11, 2006</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>Refactored from <a href="http://en.wikipedia.org/wiki/Black_noise">“Black noise,“</a><em>Wikipedia, The Free Encyclopedia:</em></p>
<p><strong>Black noise</strong> is <em>noise</em> that has a frequency spectrum <del>of</del> predominantly <del>zero power level</del><ins>subliminal</ins> over all <del>frequencies</del><ins>aspects</ins> except for a few narrow bands or spikes.</p>
<p>Where <strong>noise</strong> is <em>“fluctuations in and the addition of external factors to the stream of target information (signal).”</em></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous></div>
      <div class=next><a href="/archive/2006/03/favourite-quote/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
