<div role=main class=single>
  
    
<article id="post-68" class="post-68 post type-post status-publish format-standard hentry category-uncategorised tag-logo tag-web-logo">
  <header class=entry-header>
    <h1 class=entry-title>Semantic Web Logo</h1>

        <div class=entry-meta>
      <a href="/archive/2007/10/semantic-web-logo/index.html" title="03:00" rel="bookmark"><time class="entry-date" datetime="2007-10-16T03:00:31+00:00" pubdate>October 16, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I don’t really love the Semantic Web logo:</p>
<p><img class="aligncenter size-full wp-image-69" title="W3C Semantic Web Logo" src="/archive/uploads/2009/10/sw-horz-w3c.png" alt="W3C Semantic Web Logo" width="241" height="48" /></p>
<p>…but it provides a magnificent way to illustrate its intertwingularity of specifications:</p>
<p><img class="aligncenter size-full wp-image-70" title="The Semantic Web Rubik Cube" src="/archive/uploads/2009/10/sw-rubik.png" alt="The Semantic Web Rubik Cube" width="291" height="300" /></p>
<p>…as opposed to various versions and interpretations [<span class="numbers">1</span>] of classical layer cake, now you can freely make your combinations.</p>
<p>[<span class="numbers">1</span>] Towards a Semantic Web Layered Architecture</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/10/w3c-readability/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/10/purl-rdf/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
