<div role=main class=single>
  
    
<article id="post-120" class="post-120 post type-post status-publish format-standard hentry category-semantic-web category-ubiquity tag-ubiquity">
  <header class=entry-header>
    <h1 class=entry-title>Ubiquity History</h1>

        <div class=entry-meta>
      <a href="/archive/2009/10/ubiquity-history/index.html" title="23:59" rel="bookmark"><time class="entry-date" datetime="2009-10-17T23:59:37+00:00" pubdate>October 17, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I updated the code of the previous experiment (<a href="http://laurian.posterous.com/sharing-ubiquity-commands">Sharing Ubiquity Commands</a>) such that when you open an <span class="caps">URL</span> that contains a shared Ubiquity action, it won’t open Ubiquity in preview mode, but display a small icon.</p>
<p>This also allows to display multiple commands on one page, and by using Ubiquity annotation database I could create this command history; such that when you revisit a page where you had already applied some ubiquity commands you will see the icons for each, awaiting re-​applying.<span id="more-120"></span></p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="480" height="410" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="src" value="/ubiquity/share/demo2.swf" /><embed type="application/x-shockwave-flash" width="480" height="410" src="/ubiquity/share/demo2.swf"></embed></object><br />(If the video is clipped, <a href="/ubiquity/share/demo2.swf">try it here</a>)</p>
<p><em>Note: The icon and the icon insertion code is repurposed from </em><a href="http://www.azarask.in/blog/post/can-ubiquity-be-used-only-with-the-mouse/"><em>Aza’s Mouse Based Ubiquity experiments</em></a><em>.</em></p>
<p><em>My experimental (read ugly) code is available at </em><a href="http://gist.github.com/201053"><em>http://​gist​.github​.com/​<span class="numbers">2</span>​<span class="numbers">0</span>​<span class="numbers">1</span>​<span class="numbers">053</span></em></a><em> </em></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/10/i-robot/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/11/haute-couture/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
