<div role=main class=single>
  
    
<article id="post-8" class="post-8 post type-post status-publish format-standard hentry category-strategy tag-go-rin-no-sho tag-musashi tag-the-book-of-five-rings">
  <header class=entry-header>
    <h1 class=entry-title>五輪書 favourite quote</h1>

        <div class=entry-meta>
      <a href="/archive/2006/03/favourite-quote/index.html" title="16:11" rel="bookmark"><time class="entry-date" datetime="2006-03-11T16:11:24+00:00" pubdate>March 11, 2006</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>『<span title="我 / わが / われ: (adj-pn n) my : our : one`s own : (n) me : oneself : self : ego : (P) ">我</span><span title="三十 / さんじゅう: (num) thirty : (P) ">三十</span><span title="を: (prt) direct object marker, identifies the object acted upon ">を</span><span title="越: (12) yue4 huo2 ">越</span><span title="得手 / えて: (adj-na n) forte : strong point ">えて</span>、<span title="過去 / かこ: (n-adv n) the past : bygone days : the previous : (P) ">過去</span><span title="を: (prt) direct object marker, identifies the object acted upon ">を</span><span title="思い / おもい: (n) thought : mind : heart : feelings : emotion : sentiment : love : affection : desire : wish : hope : expectation : imagination : experience : (P) ">思い</span><span title="見返る / みかえる: (v5r) to look back ">見返る</span><span title="に: (prt) indirect object (receiver) : target identifier : time identifier (at, in) : in or at a place ">に</span>、<span title="兵法 / ひょうほう / へいほう: (n) art of war : strategy : tactics ">兵法</span><span title="を: (prt) direct object marker, identifies the object acted upon ">を</span><span title="極めて / きわめて: (adv) exceedingly : extremely : (P) ">極めて</span><span title="射手 / いて / しゃしゅ: (n) archer : shooter : bowman ">いて</span><span title="勝利 / しょうり: (n) victory : triumph : conquest : success : win : (P) ">勝利</span><span title="下 / した / もと: (n) under : below : beneath : (P) : (adv) under (esp. influence or guidance) ">した</span><span title="ので: (suf) that being the case : because of .. ">ので</span><span title="花 / はな: flower : bloom : blossom : floral ">はな</span><span title="絃 / いと: (n) string : cord ">いと</span><span title="思う / おもう: think : suspect : feel : believe : suppose : assume : appear (vt) ">思う</span>。<span title="生来 / しょうらい / せいらい: (n-adv n-t) naturally : by nature (birth) : congenitally ">生来</span><span title="の: (prt) ">の</span><span title="器用 / きよう: (adj-na n) skillful : handy : (P) ">器用</span><span title="性 / さが / せい: (n) one`s nature : custom : property : characteristic : (n n-suf) sex : gender : (P) ">さが</span><span title="有 / ゆう: (n vs) possession : (P) ">有</span>っ<span title="手 / て: (n) hand : (P) ">て</span>、<span title="自然 / しぜん: nature : natural : native : spontaneous : naturally : spontaneously (an) ">自然</span><span title="の: (prt) ">の</span><span title="理 / り: (n) reason : (P) ">理</span><span title="が: (prt) identifies subject or person performing action : ">が</span><span title="離れ / はなれ / ばなれ: (suf) separation from : loss of interest in : independence of : a distancing (of oneself) from : disillusionment with : alienation from (something) ">離れ</span><span title="笊 / ざる: (n 1 col uk) sieve : (2) person who can drink copiously without getting drunk ">ざる</span><span title="故 / こ / ゆえ: (pref) the late (deceased) : (n-adv n) reason : cause : circumstances ">故</span><span title="出鼻 / ではな / でばな: (n) projecting part (of a headland, etc.) : outset : starting out ">ではな</span><span title="異化 / いか: (adj-na n) dissimilation : catabolism : catabolic ">いか</span>、<span title="又は / または: (conj exp) or : otherwise : (P) ">又は</span><span title="敵 / かたき / てき: (n) enemy : rival : (P) ">敵</span><span title="の: (prt) ">の</span><span title="法 / ほう: (n n-suf) Act (law: the X Act) : (P) ">法</span><span title="の: (prt) ">の</span><span title="兵法 / ひょうほう / へいほう: (n) art of war : strategy : tactics ">兵法</span><span title="不足 / ふそく: shortage : lack : insufficiency : paucity : shortness : short : deficit : insufficient : in short (vs) ">不足</span><span title="成る / なる: consist : constitute ">なる</span><span title="所 / ところ / どころ: (n) place : (P) : (suf) place ">所</span><span title="七日 / なぬか / なのか: (n-adv) seven days : the seventh day (of the month) : (P) ">なのか</span>。』<strong><span title="Miyamoto Musashi">宮本 武蔵</span></strong></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2006/03/definition/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2006/04/security-and-pi-calculus/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
