<div role=main class=single>
  
    
<article id="post-20" class="post-20 post type-post status-publish format-standard hentry category-semantic-web category-uncategorised tag-grapefruit tag-knowledge-media-institute tag-open-university tag-semantic-web">
  <header class=entry-header>
    <h1 class=entry-title><span class="numbers">7</span></h1>

        <div class=entry-meta>
      <a href="/archive/2006/11/seven/index.html" title="16:44" rel="bookmark"><time class="entry-date" datetime="2006-11-13T16:44:40+00:00" pubdate>November 13, 2006</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>Today <a href="http://www.grapefruit.ro/">Grapefruit</a> turned <span class="numbers">7</span>.</p>
<p>Seven years ago, we left <a href="http://www.necomm.ro/">Necomm</a> and <a href="http://www.monitorul.ro/">Monitorul</a> (both part of NordEst Media, at that time), because we felt we could do better. And we did.</p>
<p>Five months ago I left Grapefruit, again because I felt I could do better.</p>
<p>The issues have been the same both times: work place inertia, mental inertia <em>(read: they couldn’t undergo a paradigm shift);</em> it was more or less about semantics: in the first case it started with implied vocabulary semantics over common grammar and<br /> syntax <em>(read: <span class="caps">XML</span> and web standards),</em> in the second with explicit semantics and open world assumption <em>(read: semantic web).</em></p>
<p>In the past years, Grapefruit shifted its focus from interactive media to branding, and by including the interaction design in the branding process, it succeeded to oversee the social aspect of the web and frequently limit the interaction just to presentational aspects.</p>
<p>Although I believe that this change was market driven, Grapefruit reached a point where it became uninteresting from my point of view.</p>
<p>And here I am, pursuing my dreams, as a research student at <a href="http://kmi.open.ac.uk/">Knowledge Media Institute</a> (<a href="http://www.open.ac.uk/">The Open University</a>), where I work in both <a href="http://www.neon-project.org/">NeOn</a> and <a href="http://www.openk.org/">Open Knowledge</a> projects.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2006/08/offline/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/07/sssw07-day-one/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
