<div role=main class=single>
  
    
<article id="post-327" class="post-327 post type-post status-publish format-standard hentry category-uncategorised tag-breadcrumbs tag-code tag-navigation">
  <header class=entry-header>
    <h1 class=entry-title>Breadcrumbs for Code</h1>

        <div class=entry-meta>
      <a href="/archive/2010/10/code-breadcrumbs/index.html" title="17:14" rel="bookmark"><time class="entry-date" datetime="2010-10-03T17:14:55+00:00" pubdate>October 3, 2010</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I find code folding very useful to collapse verbose areas when I want to have an overview of the code; but in equal measure, when I’m deep in a such verbose and deep nested area I would like to see where I am.</p>
<p>This is a navigation problem, while in a web site, the code folding is your hierarchical navigation (or the sitemap) with collapse/​expand functionality, what we’re missing in code navigation are the breadcrumbs.</p>
<p>Here is an illustration of how breadcrumbs in code could look like: as you scroll, on the top of your editable area you have a stack that shows your context:<span id="more-327"></span></p>
<p><a href="/archive/uploads/2010/10/breadcrumbs1.png"><img class="alignnone size-full wp-image-328" title="breadcrumbs" src="/archive/uploads/2010/10/breadcrumbs1.png" alt="breadcrumbs for code" width="819" height="1626" /></a></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2010/04/thoughts-on-citability/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2010/10/firefox-panorama-for-ebooks/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
