<div role=main class=single>
  
    
<article id="post-448" class="post-448 post type-post status-publish format-standard hentry category-naming tag-1984 tag-dorian-taylor tag-earthsea tag-magic tag-naming-2 tag-newspeak tag-true-name">
  <header class=entry-header>
    <h1 class=entry-title>Naming <span class="amp">&amp;</span> Magic</h1>

        <div class=entry-meta>
      <a href="/archive/2011/07/naming-magic/index.html" title="01:15" rel="bookmark"><time class="entry-date" datetime="2011-07-29T01:15:10+00:00" pubdate>July 29, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><span class="dquo">“</span>An im­por­tant con­sid­er­a­tion for the cog­ni­tive tie be­tween stake­hold­ers and a project is its name” says Dorian Taylor, and he argues that <a href="http://doriantaylor.com/working-titles-get-random-cryptonyms">random cryptonyms are better suited for project code names</a>.</p>
<p>I agree with his reasons but I believe, especially after <span class="numbers">7</span> years in a branding <span class="amp">&amp;</span> interactive agency (<a href="http://grapefruit.ro/">Grapefruit</a>, which I co-​founded in <span class="numbers">1999</span>), that you also need to assign meaning to such cryptonyms when employ them.</p>
<p>Arbitrary names are just handles, assigning meaning to them is instrumental for that cog­ni­tive tie be­tween stake­hold­ers and a project. If you don’t assign a meaning, the stakeholders will, individually, and that can undermine the communication within the project.<span id="more-448"></span></p>
<p>From his <a href="http://doriantaylor.com/working-titles-get-random-cryptonyms">four requirements</a> for such cryptonyms, I would reverse the third one. You <em>need</em> a sense of scope and sometime of sequence (next version of) in a project and the best way to <em>control</em> it is with the project name.</p>
<p>Controlling language is controlling thought, and such cryptonyms are not far from <a href="http://en.wikipedia.org/wiki/Newspeak">Newspeak</a>…</p>
<p>Let’s take two separate (fictional) worlds:</p>
<ul>
<li>The <em>Newspeak</em> term for the English language is <em>Oldspeak</em>. (<a href="http://en.wikipedia.org/wiki/Newspeak#To_control_thought">Nineteen Eighty-​Four, George Orwell</a>)</li>
<li><em>Magic</em> on Earthsea is primarily verbal. Everything has a true name in the <em>Old Speech,</em> the language of the dragons. One who knows the <em>true name</em> of an object has power over it. A person also has a true name; for safety’s sake, he or she will only reveal it to those he or she trusts implicitly. A <em>“use” name,</em> which has no magical property, suffices for everyday purposes. (<a href="http://en.wikipedia.org/wiki/Earthsea#Magic_in_Earthsea">Earthsea hexalogy, Ursula Le Guin</a>)</li>
</ul>
<p>We have there three languages:</p>
<ol>
<li>Old Speech (the language of the dragons): controls the named thing</li>
<li>English (Oldspeak): mostly descriptive</li>
<li>Newspeak: thought control on who uses the named thing</li>
</ol>
<p>Now when you name something, what do you aim for?</p>
<p>I aim for magic.</p>
<p>Instead of a cryptonyms with artificial meaning, I take the description of the (yet to be) named thing, and through etymological wordplay I seek the forgotten <em>true name.</em></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/07/beyond-the-surface/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/07/news-stories-interaction/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
