<div role=main class=single>
  
    
<article id="post-523" class="post-523 post type-post status-publish format-standard hentry category-mojo category-mozfest category-mozilla ">
  <header class=entry-header>
    <h1 class=entry-title>7 Months of OpenNews</h1>

        
      </header>

  <div class=entry-content>
	  
<p>In two months, my Knight-Mozilla OpenNews fellowship at <span class="caps">BBC</span> News Specials will end and everybody wonders what I’ll do next.</p>

<p>In a previous century, while studying medicine (long story) I got a part-time webmaster job at one of the most important regional newspapers in Romania (Monitorul de Iași). After working there on the newspaper site and other related online publications for over a year, I left with two colleagues — a <a href="https://twitter.com/mariusursache">designer</a> and a <a href="https://twitter.com/stefanliute">strategist</a> (both also med students and working part-time at the same newspaper) and founded what became one of the leading branding and interactive agency in Romania: <a href="https://www.facebook.com/grapefruit.ro">Grapefruit*</a></p>

<p>That unlikely path led me to this fellowship, which has been its own adventure. Let me summarise the past seven months:</p>

<p><em>January–February:</em> Settling in at the <span class="caps">BBC</span> (fighting their proxies), doing choropleth maps experiments with <a href-"http://d3js.org/"><span class="caps">D3.</span>js</a> and <a href="http://raphaeljs.com/">Raphaël</a>, also various painful Internet Explorer <span class="numbers">6</span> (don’t ask) <a href="http://toys.namebound.com/d3/ex/choropleth.html">tests</a>.</p>

<p><em>March:</em> <a href="http://sxsw.com/interactive">South by Southwest (<span class="caps">SXSW</span>) Interactive</a> in Austin (Texas, <span class="caps">US</span>), then <a href="http://www.malofiej20.com/">Malofiej20</a> (Infographic World Summit) in Pamplona (Spain).</p>

<p><em>April–May:</em> Getting embedded in the <span class="caps">BBC UK</span> Election team and moved to another building for that project. Played all their agile games while working on <a href="http://www.bbc.co.uk/news/special/vote2012/council/gb.stm">a flash-free election map</a> that had custom zoom behaviour, had to work from iPad to Internet Explorer <span class="numbers">6,</span> had to integrate with various disparate data sources, and had to be bilingual: English and Klingon (actually Welsh). Post elections, I spent some time prototyping a flash-free alternative for <span class="caps">BBC</span>’s audio slides while fantasising about a complete replacement of the <a href="http://soundslides.com/">SoundSlides.com</a> tool.</p>

<p><em>June:</em> Eyeo Festival in Minneapolis (Minnesota, <span class="caps">US</span>), <span class="caps">MIT-</span>Knight Civic Media conference at <span class="caps">MIT</span> Media Lab (Heaven) where at the pre-conference hack day we teamed up with a Dalek and prototyped <a href="http://newsquest.me/">newsquest.me</a>.</p>

<p><em>July:</em> <a href="https://www.torproject.org/">Tor Project</a> hackfest in Florence (Italy), Data Live (Knight Mozilla OpenNews Fellowship Hack Jam) in Dundee (Scotland), Guardian Discovery week in London while eavesdropping on <span class="caps">BBC</span> News Labs hackathon that was happening at the same time with the Guardian’s. 
	<br>In the meantime I also worked on <a href="http://www.bbc.co.uk/news/uk-18798942">“Tomlinson’s last movements”</a> map/slideshow with video transitions (<a href="http://popcornjs.org/">popcorn.js</a> magic).</p>

<p>Working with the other fellows was the most rewarding experience of this fellowship. While day-to-day work at <span class="caps">BBC</span> was challenging, it was limited in the aspect that it was serious work and not experimental bat-shit crazy stuff that may work only on one browser. With my fellow fellows, we played with arduino, scrapers, speech recognition and video transcripts, natural language processing, <a href="http://seriouslyjs.org/">seriously.js</a>, <a href="http://processingjs.org/">processing.js</a> and all the other <em>*.js</em> cool toys at the hack days we attended together.</p>

<p><span class="caps">BTW,</span> if you think you’ll survive that much fun <a href="http://mozillaopennews.org/fellowships/apply.html">you can apply too, the deadline is August <span class="numbers">11<sup>th</sup></span></a>.</p>

<h3>What’s next?</h3>

Before this fellowship the options were quite simple: go back to academia or be a front-end developer in a cool place. Now, all the conferences I attended, all the hack days and experiments, all conversation with all the crazy people I met, have made me even more of a generalist than I was before. Not so long ago being one made you unemployable; fortunately this is not longer the case. At least not in the cool places.</p>

<p>There are still two months left and a lot of experimental code to be polished, documented, published, and blogged about. I believe that <em>what’s next</em> for me will be shaped by those, by how I package and communicate them: the range is from <span class="caps">RTFS</span> to extensive tutorials as I can play anything from the over-caffeinated developer to the overly pedantic teacher.</p>

<p>Actually I will tell you how I’ll determine <em>what’s next:</em> I will use <a href="http://www.wired.com/beyond_the_beyond/2010/02/atemporality-for-the-creative-artist/">the atemporal Feynman method</a>, and yes, this was <span class="caps">STEP <span class="caps">2</span>.</span></p>
	  
  </div>
  
  <hr>
  
  <h3>Comments (as per <span class="caps">STEP <span class="caps">2</span></span>)</h3>

  <div id="disqus_thread"></div>
          <script type="text/javascript">
              /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
              var disqus_shortname = 'namebound'; // required: replace example with your forum shortname

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  
</article>    

<nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/11/visualising-my-news-diet/" rel="prev">&larr; Previous</a></div>
      <div class=next></div>
    </nav>
    
  </div>
