<!-- </article> -->

<footer role="contentinfo">
    <p><small>© 2012 <a href="https://plus.google.com/u/0/113635591231911750164" rel="author">Laurian Gridinoc</a></small></p>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
//FIXME
$(function(){
  $('img.aligncenter').each(function(i,e){$i=$(e); var l = ($i.parents('p,div').width()-$i.width())/2; if (l<0){$i.css({marginLeft:l});}});
});
</script>
<script>var _gaq=_gaq||[];_gaq.push(["_setAccount","UA-2526475-6"]);_gaq.push(["_trackPageview"]);(function(){var b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=("https:"==document.location.protocol?"https://ssl":"http://www")+".google-analytics.com/ga.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a)})();</script>
</body>
</html>
