<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!--#if expr='$HTTPS = "on"' -->
  <!--#set var="connection" value="ssl" -->
  <!--#else -->
  <!--#set var="connection" value="no-ssl" -->
  <link rel="dns-prefetch" href="//⊘.⊕.ws">
  <link rel="dns-prefetch" href="//⊙.⊕.ws">
  <link rel="dns-prefetch" href="//⊝.⊕.ws">
  <link rel="dns-prefetch" href="//⊗.⊕.ws">
  <!--#endif -->
  <!--#if expr='$SPDY_VERSION = 2' -->
  <!--#set var="connection" value="spdy" -->
  <!--#endif -->
  
  <title>{{d['home.html|entry-title']}}</title>
  <meta name="author" content="Laurian Gridinoc">

  <!-- <meta property="og:title" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content=""> -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
  <!-- <link rel="apple-touch-startup-image" href="/apple-touch-startup-image.png"> -->
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <!-- <meta name="apple-mobile-web-app-status-bar-style" content="black"> -->
  
  <!-- <link rel="canonical" href=""> -->
  <!-- <link rel="alternate" type="application/rss+xml" title="NAMEBOUND Feed" href="http://feed.namebound.com/gridinoc"> -->
  <!-- <link rel="alternate" type="application/atom+xml" title="Atom" href="/atom.xml"> -->
  <!-- <link rel="pingback" href=""> -->
  <!-- <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml"> -->
  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- http://blog.55minutes.com/2012/01/multi-resolution-favicons-and-safaris-reading-list/ -->
  <!-- <link href="/favicon.png" rel="shortcut icon" type="image/png"> -->
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">

  <link href="/css/style.css" rel="stylesheet">
  <script src="//use.typekit.com/jze3ujd.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

</head>
<body>



<!--[if lt IE 9]><p class="chromeframe">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<header role="banner">
  <hgroup>
    <h1><a href="/" title="NAMEBOUND" rel="home">NAMEBOUND</a></h1>
    <h2>‘for magic consists in this, the true naming of a thing’ — Ursula Le Guin, A Wizard of Earthsea</h2>
  </hgroup>
</header>

<!-- <article> -->
