

<div role=main class=home>
  
<article id="post-523" class="post-523 post type-post status-publish format-standard hentry category-mojo category-mozfest category-mozilla">
  <header class=entry-header>
    <h2 class=entry-title><a href="/archive/2012/7-months-of-opennews/" title="Permalink to 7 Months of OpenNews" rel=bookmark>7 Months of OpenNews</a></h2>
  </header>

    <div class=entry-content>
	<p>In two months, my Knight-Mozilla OpenNews fellowship at <span class="caps">BBC</span> News Specials will end and everybody wonders what I’ll do next.</p>

	<p>In a previous century, while studying medicine (long story) I got a part-time webmaster job at one of the most important regional newspapers in Romania (Monitorul de Iași). After working there on the newspaper site and other related online publications for over a year, I left with two colleagues — a <a href="https://twitter.com/mariusursache">designer</a> and a <a href="https://twitter.com/stefanliute">strategist</a> (both also med students and working part-time at the same newspaper) and founded what became one of the leading branding and interactive agency in Romania: <a href="https://www.facebook.com/grapefruit.ro">Grapefruit*</a></p>

	<p>That unlikely path led me to this fellowship, which has been its own adventure. Let me summarise the past seven months:</p>
	<p> <a href="/archive/2012/7-months-of-opennews/" class="more-link">Continue reading →</a></p>
    
    </div>
  
  
</article>

<!-- -->
              
<article id="post-522" class="post-522 post type-post status-publish format-standard hentry category-mojo category-mozfest category-mozilla tag-dan-schultz tag-matt-stempeck tag-mit-media-labs-center tag-mit-media-labs-center-for-civic-media tag-nate-matias">
  <header class=entry-header>
    <h2 class=entry-title><a href="/archive/2011/11/visualising-my-news-diet/index.html" title="Permalink to Visualising My News Diet" rel=bookmark>Visualising My News Diet</a></h2>

        <div class=entry-meta>
      <a href="/archive/2011/11/visualising-my-news-diet/index.html" title="00:14" rel="bookmark"><time class="entry-date" datetime="2011-11-09T00:14:07+00:00" pubdate>November 9, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

    <div class=entry-content>
    <p>On Sunday, at the <a href="https://wiki.mozilla.org/Festival2011/Visualize_Your_Media_Diet">Visualize Your Media Diet</a> learning lab at the <a href="https://mozillafestival.org/">Mozila Festival</a> ran by <a href="http://www.natematias.com/portfolio/">Nate Matias</a>, <a href="http://twitter.com/mstem">Matt Stempeck</a> and <a href="http://www.pbs.org/idealab/dan_schultz/">Dan Schultz</a> from the <span class="caps">MIT</span> Media Lab’s <a href="http://civic.mit.edu/">Center for Civic Media</a>, the participants had to draw how would they like to visualise their media diet, then discuss it.</p>
<p>Here is the sketch I made there on how I would like to visualise my news diet in order to understand not only the time spent with and the frequency of use of several channels/​formats, but also the actual navigation relationships, the way I discover and I engage with the news.</p>
<p><img class="aligncenter size-full wp-image-525" title="photo" src="/archive/uploads/2011/11/photo1.jpg" alt="" /></p>
<p>The idea is that you can see on a timeline the frequency and duration of what sources and types of news items you consume, and how they interrelate; for example, a tweet leads to an article, then to a Hacker News article, then I come back to the article. Another Hacker News article leads to content creation (comment, or share via tweet, etc.), other tweet might get just retweeted, etc.</p>
<p>If I would have other dimensions like sources, authors, topics, etc. I might be able in time to have an algorithm that monitor the usual sources will predict what I might consume as news item, and only if I won’t actually find it via the usual way, then notify me “you might have missed this article, you usually read this type of article because…”.</p>
<p></p>
      </div>
  
  <footer class=entry-meta>
            <span class=cat-links>
      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="/category/mojo/" title="View all posts in MoJo" rel="category tag">MoJo</a>, <a href="/category/mozfest/" title="View all posts in MozFest" rel="category tag">MozFest</a>, <a href="/category/mozilla/" title="View all posts in Mozilla" rel="category tag">Mozilla</a>    </span>
    
        <span class=tag-links>
      <span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a href="/tag/dan-schultz/" rel="tag">Dan Schultz</a>, <a href="/tag/matt-stempeck/" rel="tag">Matt Stempeck</a>, <a href="/tag/mit-media-labs-center/" rel="tag">MIT Media Lab's Center</a>, <a href="/tag/mit-media-labs-center-for-civic-media/" rel="tag">MIT Media Lab's Center for Civic Media</a>, <a href="/tag/nate-matias/" rel="tag">Nate Matias</a>    </span>
        
    
      </footer>
</article>          
<article id="post-512" class="post-512 post type-post status-publish format-standard hentry category-featured category-mojo category-mozfest category-mozilla tag-boston-globe-electronic-publishing-llc tag-craig-mod tag-ia-writer tag-news-site tag-the-boston-globe">
  <header class=entry-header>
    <h2 class=entry-title><a href="/archive/2011/11/timeboxing-the-news/index.html" title="Permalink to Timeboxing the News" rel=bookmark>Timeboxing the News</a></h2>

        <div class=entry-meta>
      <a href="/archive/2011/11/timeboxing-the-news/index.html" title="21:46" rel="bookmark"><time class="entry-date" datetime="2011-11-08T21:46:51+00:00" pubdate>November 8, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

    <div class=entry-content>
    <p>This Saturday at the <a href="https://wiki.mozilla.org/Festival2011/Touch_the_News">Touch the News</a> design challenge at the <a href="https://mozillafestival.org/">Mozilla Festival</a>, I was in <a title="picture of some of the members during the morning jam" href="https://twitter.com/?photo_id=1#!/HeatherLeson/status/132774440298749952/photo/1">team <span class="numbers">6</span></a> with <a href="http://twitter.com/HeatherLeson">Heather Lesson</a>, <a href="http://twitter.com/poshaughnessy">Peter O’Shaughnessy</a>, <a href="http://twitter.com/carl0s_">Carlo Frinolli</a>, <a href="http://twitter.com/twitrnick">Nick Smith</a>, <a href="http://twitter.com/sevenupcan">Gavin McFarland</a> and <a href="http://twitter.com/cwaring">Chris Warring</a>.</p>
<p>We focused on how people consume news on the iPad with regard to location, time of day and time available to spend on news.</p>
<p>We discussed on the needed changes in font sizes and layout needed for various reading positions, discussed <a href="http://twitter.com/craigmod">Craig Mod</a>’s Bibliotype article (<a href="http://www.alistapart.com/articles/a-simpler-page/">A List Apart: A Simpler page</a>) and <a href="http://craigmod.com/bibliotype/demo/">prototype</a>.</p>
<p>Then we discussed how the news site could use time of day and location as information to learn from various user settings (font sizes, layout) to what categories of news the user is reading at home, work, in the morning, etc. to adjust accordingly the suggestions of related articles.</p>
<p>The major issue we tackled with was: given a known time to spend with the iPad (while commuting, etc.) how do you choose what to read? How do you know what can be read in that time?</p>
<p> <a href="/archive/2011/11/timeboxing-the-news/" class="more-link">Continue reading →</a></p>
      </div>
  
  <footer class=entry-meta>
            <span class=cat-links>
      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="/category/featured/" title="View all posts in Featured" rel="category tag">Featured</a>, <a href="/category/mojo/" title="View all posts in MoJo" rel="category tag">MoJo</a>, <a href="/category/mozfest/" title="View all posts in MozFest" rel="category tag">MozFest</a>, <a href="/category/mozilla/" title="View all posts in Mozilla" rel="category tag">Mozilla</a>    </span>
    
        <span class=tag-links>
      <span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a href="/tag/boston-globe-electronic-publishing-llc/" rel="tag">Boston Globe Electronic Publishing LLC</a>, <a href="/tag/craig-mod/" rel="tag">Craig Mod</a>, <a href="/tag/ia-writer/" rel="tag">iA Writer</a>, <a href="/tag/news-site/" rel="tag">news site</a>, <a href="/tag/the-boston-globe/" rel="tag">the Boston Globe</a>    </span>
        
    
      </footer>
</article>          
<article id="post-496" class="post-496 post type-post status-publish format-standard hentry category-mojo tag-web-addressable-item tag-web-search">
  <header class=entry-header>
    <h2 class=entry-title><a href="/archive/2011/08/plesper/index.html" title="Permalink to PLESPER" rel=bookmark><span class="caps">PLESPER</span></a></h2>

        <div class=entry-meta>
      <a href="/archive/2011/08/plesper/index.html" title="00:39" rel="bookmark"><time class="entry-date" datetime="2011-08-09T00:39:51+00:00" pubdate>August 9, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

    <div class=entry-content>
    <p><iframe src="http://player.vimeo.com/video/27462473?title=0&amp;byline=0&amp;portrait=0" frameborder="0" width="400" height="390"></iframe></p>
<p>Rarely our exper­i­ence with a news story is a dir­ect one, therefore our point of view on a story is driven by habit and con­ven­tions and not created through a first hand exper­i­ence. To under­stand a such story you have not to only under­stand the elements that com­poses it, but the rela­tion­ship between them. Under­stand­ing means decon­struc­tion and reconstruction.</p>
<h3>Design</h3>
<p><span class="caps">PLESPER</span> works at two levels: the usual <em>macro</em> level is concerned with an article (or any web addressable item) as unit (regarded as a coherent point of view), the <em>micro</em> level dissects an article into smaller segments (ideally at the level of facts).</p>
<p class=" CSSFragTarget">The <em>macro</em> level navigation is what we’re currently used with as <em>passive readers.</em> The <em>micro</em> level is needed for <em>active reading,</em> for ques­tion­ing assump­tions, con­sid­er­ing altern­at­ives, ques­tion­ing the trust­wor­thi­ness of the authors and their sources. An active reader will recon­struct his crit­ical point of view for deeper understanding.</p>
<p><span class="caps">PLESPER</span> is organised around the idea of shareable space, akin to <a href="http://en.wikipedia.org/wiki/EtherPad" target="_blank">Etherpad</a>, as data and not as live interactions, each person even when collaborates on the same space may have different views, but the same items.</p>
<p>At <em>macro</em> level <span class="caps">PLESPER</span> allows the people sharing a space to add items (by <span class="caps">URL</span> or a web search), <a href="http://gridinoc.name/blog/2011/07/sketching-thinking/#sketch1" target="_blank">view a thumbnail representation of them</a>, filter and sort them by various dimensions (location, names, social tags).</p>
<p>A zoomable user interface (<span class="caps">ZUI</span>) allows switching from macro to micro level <a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/#ZUI" target="_blank">while keeping the navigation coherent</a>.</p>
<p>At <em>micro</em> level each paragraph or possible meaningful sentence can be individually addressed, selected and related with ones from other articles by various means:</p>
<ul>
<li><a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/#ngram" target="_blank">simple similarity</a> (from n-​grams to named entities)</li>
<li>sentiment analysis</li>
<li>similar facts (<a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/#kay" target="_blank">that answer the same question</a>)</li>
</ul>
<p>Additionally <a href="http://gridinoc.name/blog/2011/07/sketching-thinking/#sketch1" target="_blank">a selected segment can be promoted</a> (quoted) to the macro level in order to be used in constructing relations.</p>
<p>A quote (for example a tweeted quote with a link) can be related not only to its original context if provided but for brevity sake to <a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/#anaphora" target="_blank">the minimum context needed to decrease its ambiguity</a>.</p>
<p>Once the initial items were sorted, filtered and dissected; they can be connected in a graph to convey sequence, relations, etc.</p>
<p>Spaces can be shared fully or read-​only simultaneously (different capability URIs), they can be imported (cloned or synced); allowing the construction of various interaction processes.</p>
<p><em><del>You can test the prototype as shown in the video at <a href="http://plesper.com/" target="_blank"><span class="caps">PLESPER​</span>.com</a></del> (server temporarily offline)</em></p>
<p>Technical notes</p>
<ul>
<li>Item representation is based on oEmbed protocol when available otherwise a <a href="http://lab.arc90.com/2009/03/02/readability/" target="_blank">Readability</a>–like scraper is employed to extract the meaningful part of a referred page</li>
<li>Location, names, etc. are extracted via an external service like Thomson Reuters’ <a href="http://www.opencalais.com/" target="_blank">OpenCalais</a></li>
<li>Comments <span class="amp">&amp;</span> annotations should be based on <a href="http://www.openannotation.org/" target="_blank">existing</a> (semantic) web technologies and <a href="http://activitystrea.ms/" target="_blank">activity streams</a></li>
<li>The need for identity <span class="amp">&amp;</span> access rights management can be delegated to <span class="numbers">3</span><sup>rd</sup> parties through the use of <a href="http://waterken.sourceforge.net/web-key/" target="_blank">capability URIs</a>.</li>
<li>Source code <a href="http://github.com/Laurian/PLESPER" target="_blank">http://​github​.com/​L​a​u​r​i​a​n​/​P​L​E​S​PER</a></li>
</ul>
<h3>Brief</h3>
<p><span class="caps">PLESPER</span> is a platform for collaborative storyboarding that does not impose a specific process. People can create, re-​use <em>(fork),</em> mix elements from various storyboards (spaces), share and comment on them by using their exiting (and future) social networks. Several envisaged uses are:</p>
<ul>
<li>collaborative drafting of stories with full or partial public collaboration</li>
<li>published along an article to support it and gather feedback (comments, storyboard re-​use, etc.)</li>
<li>evolve articles based on the public interaction with the storyboard (at the discretion of the editor)</li>
<li>create meaningful articles’ connections with other ones (as they may connect at a more abstract/​storyboard level)</li>
<li>back data visualisations with more in-​depth discussions and datasets (allowing the community to create alternative visualisations and import additional datasets)</li>
</ul>
<p>One of the most important feature is that <em>there are no specific requirements for the exist­ing sites</em> other than be accessible over the web, <span class="caps">PLESPER</span> will work over old pages on the web, it will work with legacy and future <span class="caps">CMS</span> sys­tems, it will work over Twit­ter, Face­book, G+ and whatever will be inven­ted; because it is based on what the web is made of: links.</p>
<p>Relevant blog posts:</p>
<ol>
<li><a href="http://gridinoc.name/blog/2011/06/the-perplex-and-other-stories/">The Perplex <span class="amp">&amp;</span> Other Stories</a> (the initial idea)</li>
<li><a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/">News Stories <span class="amp">&amp;</span> Interaction</a> (where I initially explore some existing news spaces navigation metaphors then I introduce <span class="caps">PLESPER</span>)</li>
<li><a href="http://gridinoc.name/blog/2011/08/collaboration-in-plesper/">Collaboration in <span class="caps">PLESPER</span></a> (a simple playlist analogy)</li>
</ol>
      </div>
  
  <footer class=entry-meta>
            <span class=cat-links>
      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="/category/mojo/" title="View all posts in MoJo" rel="category tag">MoJo</a>    </span>
    
        <span class=tag-links>
      <span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a href="/tag/web-addressable-item/" rel="tag">web addressable item</a>, <a href="/tag/web-search/" rel="tag">Web Search</a>    </span>
        
    
      </footer>
</article>              <nav id="page-nav">
        
        <div class=previous><a href="/archive/" >&larr; Older posts</a></div>
        <div class=next></div>
      </nav>
   
  </div>
