<div role=main class=single>
  
    
<article id="post-82" class="post-82 post type-post status-publish format-standard hentry category-uncategorised">
  <header class=entry-header>
    <h1 class=entry-title>About to change</h1>

        <div class=entry-meta>
      <a href="/archive/2008/05/about-to-change/index.html" title="03:13" rel="bookmark"><time class="entry-date" datetime="2008-05-28T03:13:52+00:00" pubdate>May 28, 2008</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>Yes, I’m (finally) about to change the blog, template, engine, etc. I spent too much time designing a template, now as I finally reached a conclusion I’m going to write the engine behind it. It will be based on <a href="http://www.1060research.com/netkernel/">NetKernel</a> and <a href="http://www.talis.com/platform/">Talis Platform</a>. Watch this space.</p>
<div>And to make things easier/​incremental, as I was today at <a href="http://www.londonwebweek.co.uk/schedule/microformats-vevent">London Microformats vEvent</a>, I’ll use for feeds <a href="http://microformats.org/wiki/hatom">hAtom</a> and <a href="http://rbach.priv.at/Microformats/hAtom2Atom/">hAtom<span class="numbers">2</span>Atom</a>.</div>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/11/live-octopus/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2008/10/fowa08/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
