<div role=main class=single>
  
    
<article id="post-80" class="post-80 post type-post status-publish format-standard hentry category-uncategorised">
  <header class=entry-header>
    <h1 class=entry-title>Live Octopus</h1>

        <div class=entry-meta>
      <a href="/archive/2007/11/live-octopus/index.html" title="03:11" rel="bookmark"><time class="entry-date" datetime="2007-11-21T03:11:21+00:00" pubdate>November 21, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>It was delicious!</p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="350" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="src" value="http://www.youtube.com/v/uwAa5_FuCzY" /><embed type="application/x-shockwave-flash" width="425" height="350" src="http://www.youtube.com/v/uwAa5_FuCzY"></embed></object></p>
<p>(Video courtesy of <a href="http://kmi.open.ac.uk/people/tom/html">Tom</a>, shot last Friday in <a href="http://en.wikipedia.org/wiki/Busan">Busan</a>)</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/11/iswc07arial-domination/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2008/05/about-to-change/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
