<div role=main class=single>
  
    
<article id="post-30" class="post-30 post type-post status-publish format-standard hentry category-courses-etc category-semantic-web tag-grddl tag-knowledge-representation tag-machine-learning tag-ontology tag-rdfa tag-semantic-web tag-wsmo">
  <header class=entry-header>
    <h1 class=entry-title><span class="caps">SSSW<span class="numbers">07</span></span> — Day Three</h1>

        <div class=entry-meta>
      <a href="/archive/2007/07/sssw07-day-three/index.html" title="21:11" rel="bookmark"><time class="entry-date" datetime="2007-07-12T21:11:22+00:00" pubdate>July 12, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>This day’s invited speaker was Peter Mika, from <a href="http://research.yahoo.com/location/yahoo_research_barcelona">Yahoo! Research Barcelona</a>. In his talk — The Future of Web Search — emphasised the state of the web search, semantic web deployment difficulties, the shift from documents to databases (web of data), and current trends in annotation/​structure of data: <a href="http://en.wikipedia.org/wiki/Folksonomy">folksonomies</a>, <a title="microformats" href="http://microformats.org/">µformats</a>, <a href="http://en.wikipedia.org/wiki/Help:Infobox">wikipedia infoboxes</a>, <a href="http://rdfa.info/">RDFa</a>; then how to reconsider <a title="information retrieval" href="http://en.wikipedia.org/wiki/Information_retrieval"><span class="caps">IR</span></a> in this context: folksonomies mining, <a href="http://www.w3.org/TR/grddl/"><span class="caps">GRDDL</span></a> and <a href="http://lists.w3.org/Archives/Public/public-rdf-in-xhtml-tf/2006Apr/0069">hGRDDL</a>, should we have “forgiving” parsers for µformats?</p>
<p>In this context the description of the ideal world would be:</p>
<ul>
<li>plenty of precise metadata to harvest</li>
<li>user intent capturable directly as a <a href="http://www.w3.org/TR/rdf-sparql-query/"><span class="caps">SPARQL</span></a> query</li>
<li>single ontology used both by the query and the knowledge base (<span class="caps">KB</span>)</li>
<li>a query executed on a single <span class="caps">KB</span>, gives the correct, single answer</li>
</ul>
<p>In real world we face technical and social challenges: query interface usability, data quality (from synctactic/​semantic errors to spam), ontology mapping, entity resolution, ranking across types, results display (information overload and partial understanding issues), user motivation to annotate, trust.</p>
<p>Next, Fabio Ciravegna presented the state of the art in using semantic web technologies for knowledge management (<span class="caps">KM</span>) in large distributed organisations — from the sheer amount of raw data (i.e. a Rolls-​Royce jet engine produces <span class="caps"><span class="numbers">1</span>GB</span> of vibration data per hour) to unstructured reports on the lifecycle (diagnose, repairs, etc.) of such engines, distributed over multiple repositories.</p>
<p>The Rolls-​Royce case study of cross-​media <span class="caps">KA</span> was impressive, the main issues (apart of data volume) were that evidence is distributed over different media, from more or less structured text (word, excel, powerpoint and <span class="caps">PDF</span>) to <span class="caps"><span class="numbers">3</span>D</span> images, data integration and hybrid search.</p>
<p>Other specific information extraction (<span class="caps">IE</span>) issues were event modelling, table data extraction, distance metrics approaches (as opposed to the linguistic and statistical ones).</p>
<p>Later in the practical session we explored machine learning (<span class="caps">ML</span>) from both (human) text annotations as well as image annotations; which also showed how easy humans disagree on annotations and how the annotations reflect the world model of the annotator (and not of the user).</p>
<p>The last tutorial was given by <a href="http://kmi.open.ac.uk/people/domingue/">John Domingue</a>, on semantic web services (<span class="caps">SWS</span>) — the problems with the web services today, <span class="caps">SWS</span> vision, <a href="http://kmi.open.ac.uk/projects/irs/"><span class="caps">IRS<span class="numbers">3</span></span></a> <span class="caps">SWS</span> broker, web service modelling ontology (<a href="http://www.wsmo.org/"><span class="caps">WSMO</span></a>), orchestration and choreography in <span class="caps">SWS</span>. Then the Essex County Council Emergency Planning case study was presented and demoed, and the talk ended with <a href="http://www.w3.org/Submission/OWL-S/"><span class="caps">OWL-​S</span></a> and semantic annotations for <span class="caps">WSDL</span> (<a href="http://www.w3.org/2002/ws/sawsdl/"><span class="caps">SAWSDL</span></a>).</p>
<p>In the afternoon’s practical session, <a href="http://kmi.open.ac.uk/people/barry/">Barry Norton</a> led us in how to re-​create the european travel demo with <span class="caps">IRS<span class="numbers">3</span></span> and <a href="http://www.wsmostudio.org/"><span class="caps">WSMO</span> Studio</a>.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/07/sssw07-day-two/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/07/sssw07-days-four-five/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
