<div role=main class=single>
  
    
<article id="post-9" class="post-9 post type-post status-publish format-standard hentry category-courses-etc category-cryptography tag-cryptography tag-key-management tag-needham-schroeder-protocol tag-process-calculus tag-security-protocols tag--calculus">
  <header class=entry-header>
    <h1 class=entry-title>security and π-calculus</h1>

        <div class=entry-meta>
      <a href="/archive/2006/04/security-and-pi-calculus/index.html" title="16:14" rel="bookmark"><time class="entry-date" datetime="2006-04-08T16:14:28+00:00" pubdate>April 8, 2006</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>This week I attended an insightful course: <em>“Security: From Basic Concepts and Techniques to Formal Models and Methods,”</em> held by <a href="http://www.iist.unu.edu/~antonio/Home/">Dr Antonio Cerone</a> (<a href="http://www.iist.unu.edu/">United Nations University — <acronym title="International Institute for Software Technology"><span class="caps">IIST</span></acronym></a>) and <a href="http://thor.info.uaic.ro/~gabriel/">Dr Gabriel Ciobanu</a> (<a href="http://www.academiaromana.ro/">Institute of Computer Science, Romanian Academy</a>).</p>
<p>It covered from basics concepts (confidentiality, integrity and availability), and techniques (cryptography, key management and security protocols), to advanced topics such as <a href="http://en.wikipedia.org/wiki/Process_calculi">process algebra</a>, <a href="http://en.wikipedia.org/wiki/Calculus_of_Communicating_Systems"><acronym title="Calculus of Communicating Systems"><span class="caps">CCS</span></acronym>,</a> the <a href="http://en.wikipedia.org/wiki/Pi-calculus"><abbr title="pi-calculus">π-calculus</abbr></a> and variants, and a case study of the <a href="http://en.wikipedia.org/wiki/Needham-Schroeder">Needham-​Schroeder</a> protocol, the <a title="An Attack on the Needham-Schroeder Public-Key Authentication Protocol (1995) - Gavin Lowe" href="http://citeseer.ist.psu.edu/lowe95attack.html">Lowe attack and it’s fix</a>, both expressed in <a title="A Calculus for Cryptographic Protocols The Spi Calculus (1997) - Martín Abadi, Andrew D. Gordon" href="http://citeseer.ist.psu.edu/abadi97calculus.html">Spi calculus</a>, providing the proof of its authentication and secrecy.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2006/03/favourite-quote/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2006/04/lovely-spam/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
