<div role=main class=single>
  
    
<article id="post-98" class="post-98 post type-post status-publish format-standard hentry category-uncategorised tag-3g tag-broadband tag-dongle tag-huawei tag-linux tag-mac-os-x tag-ubuntu tag-vmware">
  <header class=entry-header>
    <h1 class=entry-title>A rather complicated solution to Huawei <span class="caps">E<span class="numbers">156</span></span> kernel panic (<span class="caps">OS</span> X <span class="numbers">10</span>.<span class="numbers">5</span>.<span class="numbers">8</span>)</h1>

        <div class=entry-meta>
      <a href="/archive/2009/08/huawei-e156-kernel-panic-osx/index.html" title="03:36" rel="bookmark"><time class="entry-date" datetime="2009-08-18T03:36:41+00:00" pubdate>August 18, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I’m quite pleased with <a href="http://www.three.co.uk/Mobile_Broadband"><span class="numbers">3</span> Mobile Broadband</a>, the only serious issue was a daily kernel panic…and since there are no better drivers from Huawei, the solution was not to use those drivers, but to plug the <span class="caps"><span class="numbers">3</span>G</span> dongle into a non-​OS X machine.</p>
<p><span id="more-98"></span>I tested a <a href="http://www.nucleusnetworks.co.uk/3g-router/billion-bipac-7402nx.htm">Billion BiPAC <span class="caps"><span class="numbers">7402</span>NX</span></a> router, it works perfectly, but it is not a mobile solution. I actually don’t need additional hardware to run Linux, using VMware I installed <a href="http://www.ubuntu.com/products/whatisubuntu/904features/">Ubuntu <span class="numbers">9</span>.<span class="numbers">04</span> Desktop Edition</a>, which can use the <span class="caps">USB</span> dongle; the new issue was in having the host <span class="caps">OS</span> X system use that Linux instance as a gateway.</p>
<p>After hours of fiddling with VMware and <span class="caps">OS</span> X network settings, I ended up using this setup:</p>
<ul>
<li>VMware virtual machine network set to <span class="caps">NAT</span>, <span style="font-family: courier new,monospace;">eth<span class="numbers">0</span></span> configured manually (such that it will use <span style="font-family: courier new,monospace;">eth<span class="numbers">0</span></span> connection <span style="text-decoration: underline;">only</span> for resources on that network)</li>
<li>A squid<span class="numbers">3</span> proxy server (set to listen on <span style="font-family: courier new,monospace;"><span class="numbers">0</span>.<span class="numbers">0</span>.<span class="numbers">0</span>.<span class="numbers">0</span></span> and accept connections from private IPs)</li>
<li>In <span class="caps">OS</span> X a network location setting that uses the Ubuntu instance’s <span class="caps">IP</span> as proxy and with</li>
<li>a Wi-​Fi network created with AirPort (to get an <span class="caps">IP</span> for the <span class="caps">OS</span> X, and have my iPod Touch connect to internet).</li>
</ul>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/07/bruce-sterling-reboot11/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/09/espresso-machine-malfunction/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
