<div role=main class=single>
  
    
<article id="post-374" class="post-374 post type-post status-publish format-standard hentry category-mojo category-mozilla tag-hyperlink tag-hypertext tag-metadata tag-pingback tag-ted-nelson">
  <header class=entry-header>
    <h1 class=entry-title>The Perplex <span class="amp">&amp;</span> Other Stories</h1>

        <div class=entry-meta>
      <a href="/archive/2011/06/the-perplex-and-other-stories/index.html" title="22:09" rel="bookmark"><time class="entry-date" datetime="2011-06-05T22:09:26+00:00" pubdate>June 5, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>In the “The Future Of Information” Ted Nelson states: <em>“The News” is a <span style="text-decoration: underline;">perplex</span>, unless somebody edits it for you, in which case it has a point of view.</em></p>
<p>He calls a perplex the information of the following form: a tangle of items and relations; of facts, partial facts, beliefs, statements and views which can contradict each other in many different ways.<br /> An article is a curated set of such bits presented in a way that exhibits a sense of order, presenting a point of view over a perplex.</p>
<p><span id="more-374"></span></p>
<p>Frequently we know about a subject (a perplex) and we read articles on it not for the recollection of some facts but for the point of view, for the sense of order. And we read more than one on the same subject, at different times (for story developments) or immediately for different points of view.</p>
<p>The problem is that articles are monolithic and hard to scan for the specific bits you’re interested in; hard to compare with another one and even harder to remix.</p>
<p>Imagine that the browser could chop an article in (addressable) paragraphs, process them through several APIs like <a href="http://www.opencalais.com/" target="_blank">OpenCalais</a>, <a href="http://www.zemanta.com/" target="_blank">Zemanta</a> and ones that do sentiment analysis.</p>
<p>Then you will have: a map of the terms, names, locations and other entities the article discusses, a map of the sentiments expressed within and a way to link to (therefore a way to remix) individual paragraphs which now contains globally identifiable entities, etc.</p>
<p>With this you can compare two or more articles to see where the same key points are made, where are the facts, how they mention the same entities, what is the tone of around those mentions. And your browser may dim out the bits you’ve already have read, pointing you to the new ones.</p>
<p>But those automatic annotations are far from perfect, they need human validation and nobody annotates things for free. But people might do it when they will reuse it; when you tweet/​share a snippet you can feedback: is it a fact? can you point to a source? is it a statement? endorse/​dissent with? why? have you just tweeted the reason?</p>
<p>This way the reuse will not just feed those bits into the <em>perplex</em> (read: the web), it will enrich the presentation of the article for the others, it will create addressable bits that can be woven in new stories (think <a href="http://storify.com/" target="_blank">Storify</a>) and all this evolution would be observable and visualisable.</p>
<p>The biggest challenges in creating a such system is in making it inclusive: to make it work over all the web (including old pages) and without express publisher participation. And it has to work over existing streams and social networks.</p>
<p>This means that some of the augmentation has to be in the browser (extension), and the bits that are shared have to rely only on hyperlinks and metadata with minimal auxiliary APIs (oEmbed, pingback). And it should provide at least a read-​only experience for non-​enabled browsers.</p>
<p>How? Let’s deconstruct the simplest sharable snippet: <em>text + link.</em></p>
<p>The link points to the source article through a special link shortener which prior to or on redirection can feed some additional metadata to the browser. Additionally the shortener can provide an <a href="http://www.oembed.com/" target="_blank">oEmbed</a> service for more detailed rendering options than <em>text + link.</em></p>
<p>The additional metadata enables the granular addressability that should be content based rather than structure based (as <a href="http://eekim.com/software/purple/purple.html" target="_blank">purple numbers</a> or <a href="http://en.wikipedia.org/wiki/XPointer" target="_blank">XPointer</a> are), as the structure is brittle in an evolving web. I would employ techniques similar with ones described by Thomas A. Phelps and Robert Wilensky in “<a href="http://www9.org/w9cdrom/312/312.html" target="_blank">Robust Intra-​document Locations</a>”.</p>
<p>Couple years ago I experimented with their approach on “<a href="http://www.dlib.org/dlib/july00/wilensky/07wilensky.html" target="_blank">Robust Hyperlinks and Locations</a>” in order to discover semantically related documents and paragraphs; by replacing their lexical signature with a semantic one, created by mixing a named entity recognition service (via <a href="http://www.zemanta.com/" target="_blank">Zemanta</a>) and an ontology search engine (<a href="http://watson.kmi.open.ac.uk/WatsonWUI/" target="_blank">Watson</a>, which I helped develop <a href="http://kmi.open.ac.uk/people/alumni/laurian-gridinoc" target="_blank">while at</a> Knowledge Media Institute).</p>
<p>This kind of addressing will allow a such snippet to link back to its context as well as discover other articles or tweets, or anything online; where the same thing is addressed, be it fact, statement, etc. Note that I won’t compare snippets alone, but snippets in their original context; this means less ambiguity, better precision.</p>
<p><em><a href="https://drumbeat.org/en-US/challenges/open-webs-killer-app/submission/286/" target="_blank">This was my submission</a> to MoJo (Mozilla + Journalism) <a href="https://drumbeat.org/en-US/challenges/open-webs-killer-app/" target="_blank">People-​Powered News challenge</a>.</em></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/03/firefox/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/07/prototypes-communication/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
