<div role=main class=single>
  
    
<article id="post-114" class="post-114 post type-post status-publish format-standard hentry category-uncategorised tag-arial tag-helvetica">
  <header class=entry-header>
    <h1 class=entry-title>Arial versus Helvetica, The Real Difference</h1>

        <div class=entry-meta>
      <a href="/archive/2009/09/arial-vs-helvetica/index.html" title="23:55" rel="bookmark"><time class="entry-date" datetime="2009-09-22T23:55:43+00:00" pubdate>September 22, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><img class="aligncenter size-full wp-image-115" title="arial-helvetica" src="/archive/uploads/2009/10/arial-helvetica.png" alt="arial-helvetica" width="371" height="480" /></p>
<p>Well, as opposed to <a href="http://ia.posterous.com/arial-versus-helvetica-5">these typographical differences</a>, I believe that this illustration gives you the feel of <em><a class="zem_slink" title="Arial" rel="wikipedia" href="http://en.wikipedia.org/wiki/Arial">Arial</a> versus <a class="zem_slink" title="Helvetica" rel="wikipedia" href="http://en.wikipedia.org/wiki/Helvetica">Helvetica</a>.</em></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/09/twitter-captcha/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/09/anti-heroes-cyberpunk/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
