<div role=main class=single>
  
    
<article id="post-496" class="post-496 post type-post status-publish format-standard hentry category-mojo tag-web-addressable-item tag-web-search">
  <header class=entry-header>
    <h1 class=entry-title><span class="caps">PLESPER</span></h1>

        <div class=entry-meta>
      <a href="/archive/2011/08/plesper/index.html" title="00:39" rel="bookmark"><time class="entry-date" datetime="2011-08-09T00:39:51+00:00" pubdate>August 9, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><iframe src="http://player.vimeo.com/video/27462473?title=0&amp;byline=0&amp;portrait=0" frameborder="0" width="400" height="390"></iframe></p>
<p>Rarely our exper­i­ence with a news story is a dir­ect one, therefore our point of view on a story is driven by habit and con­ven­tions and not created through a first hand exper­i­ence. To under­stand a such story you have not to only under­stand the elements that com­poses it, but the rela­tion­ship between them. Under­stand­ing means decon­struc­tion and reconstruction.</p>
<h3>Design</h3>
<p><span class="caps">PLESPER</span> works at two levels: the usual <em>macro</em> level is concerned with an article (or any web addressable item) as unit (regarded as a coherent point of view), the <em>micro</em> level dissects an article into smaller segments (ideally at the level of facts).</p>
<p class=" CSSFragTarget">The <em>macro</em> level navigation is what we’re currently used with as <em>passive readers.</em> The <em>micro</em> level is needed for <em>active reading,</em> for ques­tion­ing assump­tions, con­sid­er­ing altern­at­ives, ques­tion­ing the trust­wor­thi­ness of the authors and their sources. An active reader will recon­struct his crit­ical point of view for deeper understanding.</p>
<p><span class="caps">PLESPER</span> is organised around the idea of shareable space, akin to <a href="http://en.wikipedia.org/wiki/EtherPad" target="_blank">Etherpad</a>, as data and not as live interactions, each person even when collaborates on the same space may have different views, but the same items.</p>
<p>At <em>macro</em> level <span class="caps">PLESPER</span> allows the people sharing a space to add items (by <span class="caps">URL</span> or a web search), <a href="http://gridinoc.name/blog/2011/07/sketching-thinking/#sketch1" target="_blank">view a thumbnail representation of them</a>, filter and sort them by various dimensions (location, names, social tags).</p>
<p>A zoomable user interface (<span class="caps">ZUI</span>) allows switching from macro to micro level <a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/#ZUI" target="_blank">while keeping the navigation coherent</a>.</p>
<p>At <em>micro</em> level each paragraph or possible meaningful sentence can be individually addressed, selected and related with ones from other articles by various means:</p>
<ul>
<li><a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/#ngram" target="_blank">simple similarity</a> (from n-​grams to named entities)</li>
<li>sentiment analysis</li>
<li>similar facts (<a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/#kay" target="_blank">that answer the same question</a>)</li>
</ul>
<p>Additionally <a href="http://gridinoc.name/blog/2011/07/sketching-thinking/#sketch1" target="_blank">a selected segment can be promoted</a> (quoted) to the macro level in order to be used in constructing relations.</p>
<p>A quote (for example a tweeted quote with a link) can be related not only to its original context if provided but for brevity sake to <a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/#anaphora" target="_blank">the minimum context needed to decrease its ambiguity</a>.</p>
<p>Once the initial items were sorted, filtered and dissected; they can be connected in a graph to convey sequence, relations, etc.</p>
<p>Spaces can be shared fully or read-​only simultaneously (different capability URIs), they can be imported (cloned or synced); allowing the construction of various interaction processes.</p>
<p><em><del>You can test the prototype as shown in the video at <a href="http://plesper.com/" target="_blank"><span class="caps">PLESPER​</span>.com</a></del> (server temporarily offline)</em></p>
<p>Technical notes</p>
<ul>
<li>Item representation is based on oEmbed protocol when available otherwise a <a href="http://lab.arc90.com/2009/03/02/readability/" target="_blank">Readability</a>–like scraper is employed to extract the meaningful part of a referred page</li>
<li>Location, names, etc. are extracted via an external service like Thomson Reuters’ <a href="http://www.opencalais.com/" target="_blank">OpenCalais</a></li>
<li>Comments <span class="amp">&amp;</span> annotations should be based on <a href="http://www.openannotation.org/" target="_blank">existing</a> (semantic) web technologies and <a href="http://activitystrea.ms/" target="_blank">activity streams</a></li>
<li>The need for identity <span class="amp">&amp;</span> access rights management can be delegated to <span class="numbers">3</span><sup>rd</sup> parties through the use of <a href="http://waterken.sourceforge.net/web-key/" target="_blank">capability URIs</a>.</li>
<li>Source code <a href="http://github.com/Laurian/PLESPER" target="_blank">http://​github​.com/​L​a​u​r​i​a​n​/​P​L​E​S​PER</a></li>
</ul>
<h3>Brief</h3>
<p><span class="caps">PLESPER</span> is a platform for collaborative storyboarding that does not impose a specific process. People can create, re-​use <em>(fork),</em> mix elements from various storyboards (spaces), share and comment on them by using their exiting (and future) social networks. Several envisaged uses are:</p>
<ul>
<li>collaborative drafting of stories with full or partial public collaboration</li>
<li>published along an article to support it and gather feedback (comments, storyboard re-​use, etc.)</li>
<li>evolve articles based on the public interaction with the storyboard (at the discretion of the editor)</li>
<li>create meaningful articles’ connections with other ones (as they may connect at a more abstract/​storyboard level)</li>
<li>back data visualisations with more in-​depth discussions and datasets (allowing the community to create alternative visualisations and import additional datasets)</li>
</ul>
<p>One of the most important feature is that <em>there are no specific requirements for the exist­ing sites</em> other than be accessible over the web, <span class="caps">PLESPER</span> will work over old pages on the web, it will work with legacy and future <span class="caps">CMS</span> sys­tems, it will work over Twit­ter, Face­book, G+ and whatever will be inven­ted; because it is based on what the web is made of: links.</p>
<p>Relevant blog posts:</p>
<ol>
<li><a href="http://gridinoc.name/blog/2011/06/the-perplex-and-other-stories/">The Perplex <span class="amp">&amp;</span> Other Stories</a> (the initial idea)</li>
<li><a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/">News Stories <span class="amp">&amp;</span> Interaction</a> (where I initially explore some existing news spaces navigation metaphors then I introduce <span class="caps">PLESPER</span>)</li>
<li><a href="http://gridinoc.name/blog/2011/08/collaboration-in-plesper/">Collaboration in <span class="caps">PLESPER</span></a> (a simple playlist analogy)</li>
</ol>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/08/collaboration-in-plesper/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/11/timeboxing-the-news/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
