<div role=main class=single>
  
    
<article id="post-151" class="post-151 post type-post status-publish format-standard hentry category-courses-etc category-cyberpunk category-peer-2-peer-university category-postmodernism category-transhumanism tag-cyberpunk tag-cyberterrorism tag-facebook tag-philip-k-dick tag-ubik tag-william-gibson">
  <header class=entry-header>
    <h1 class=entry-title>Cyberpunk is dead.</h1>

        <div class=entry-meta>
      <a href="/archive/2009/10/cyberpunk-is-dead/index.html" title="13:47" rel="bookmark"><time class="entry-date" datetime="2009-10-06T13:47:12+00:00" pubdate>October 6, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <blockquote><p><span class="dquo">“</span>Ubik helps you connect and share with the people in your life. Your friends will say, Christ, I used to think that you weren’t fun. But now, wow! — Safe when your privacy settings match your level of comfort, do not forget to review them often. Avoid prolonged use.”</p></blockquote>
<p><span id="more-151"></span>The above paraphrase is a crossbreed between Philip K. Dick’s “Ubik” ads and the <a href="http://www.facebook.com/safety/">Facebook Safety</a> guidelines. I was randomly browsing my book collection, stumble upon “Ubik” read an advert and I had an eerie feeling, like the book fade out and <a href="http://en.wikipedia.org/wiki/The_Giant_%28Twin_Peaks%29">the Giant</a> appeared and said “<a href="http://www.youtube.com/watch?v=pWa0dZMHYeE">It is happening again!</a>” … then I wrote the above paraphrase. And somehow it doesn’t feel like fiction anymore, it remained fairly present after I’ve shelved the book.</p>
<p>Everyone loved when William Gibson said “The future is here. It’s just not widely distributed yet.” — everybody had in mind the glorious future envisioned by the classical science fiction; but it wasn’t about that distant future, but about our near future envisioned in the cyberpunk works. Just turn the <span class="caps">TV</span> on, and you will see it: cyberterrorism, cyberbullying, internet addiction, internet censorship, internet legislation driven by corporations, pervasive surveillance, massive telco data retention, iris scans at the borders and we just proposed <span class="caps">DNA</span> profiling for immigrants.</p>
<p>We are now so far in that envisioned near future that early cyberpunk works read like archaeological reports full of euphemisms. And in this aspect cyberpunk is history, and you can think of even being dead. Actually, cyberpunk is alive in its very own cyberpunkish way: it is dead, and it is haunting us.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/10/sharing-ubiquity-commands/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/10/i-robot/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
