<div role=main class=single>
  
    
<article id="post-92" class="post-92 post type-post status-publish format-standard hentry category-semantic-web tag-4store tag-gentoo tag-linux tag-rdf tag-semantic-web">
  <header class=entry-header>
    <h1 class=entry-title>Installing <span class="numbers">4</span>store on Gentoo</h1>

        <div class=entry-meta>
      <a href="/archive/2009/07/4store-gentoo/index.html" title="03:30" rel="bookmark"><time class="entry-date" datetime="2009-07-14T03:30:43+00:00" pubdate>July 14, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p># emerge –ask rasqal raptor</p>
<p>These are the packages that would be merged, in order:</p>
<p>Calculating dependencies… done!<br /> [ebuild N ] media-libs/raptor-<span class="numbers">1</span>.<span class="numbers">4</span>.<span class="numbers">18</span> <span class="caps">USE</span>=“unicode –curl –xml“<br /> [ebuild N ] dev-libs/rasqal-<span class="numbers">0</span>.<span class="numbers">9</span>.<span class="numbers">16</span> <span class="caps">USE</span>=“pcre –gmp –test –xml”</p>
<p>…</p>
<p>Then I downloaded and unpaked the <span class="numbers">4</span>store from <a href="http://4store.org/">http://​<span class="numbers">4</span>store​.org/</a>, then when running configure…</p>
<p><span id="more-92"></span># ./​configure<br /> [<span class="caps">OK</span> ] pkg-​config installed<br /> [<span class="caps">OK</span> ] raptor installed<br /> [<span class="caps">OK</span> ] rasqal installed<br /> [<span class="caps">OK</span> ] glib<span class="numbers">2</span> installed<br /> [<span class="caps">OK</span> ] pcre installed<br /> [<span class="caps">OK</span> ] readline installed<br /> [<span class="caps">OK</span> ] ncurses installed<br />
<strong>[<span class="caps">FAIL</span>] no termcap devel system</strong></p>
<p>I installed sys-​libs/​libtermcap-​compat but did not helped, after a quick chat on #gentoo (irc​.freenode​.net), I downloaded and installed the <span class="caps">GNU</span> termcap from http://​ftp​.gnu​.org/​g​n​u​/​t​e​r​m​c​ap/ (version <span class="numbers">1</span>.<span class="numbers">3</span>.<span class="numbers">1</span> dated <span class="numbers">2002</span>!) and all went fine:</p>
<p># ./​configure<br /> [<span class="caps">OK</span> ] pkg-​config installed<br /> [<span class="caps">OK</span> ] raptor installed<br /> [<span class="caps">OK</span> ] rasqal installed<br /> [<span class="caps">OK</span> ] glib<span class="numbers">2</span> installed<br /> [<span class="caps">OK</span> ] pcre installed<br /> [<span class="caps">OK</span> ] readline installed<br /> [<span class="caps">OK</span> ] ncurses installed<br />
<strong>[<span class="caps">OK</span> ] termcap installed</strong><br />
<em>[<span class="caps">OPT</span> ] no avahi, will build without cluster support</em></p>
<p># make</p>
<p>The compilation is quite fast, hmmm, I remember <span class="numbers">3</span>store was taking longer…but those were different hardware times.</p>
<p># mkdir /​var/​lib/​<span class="numbers">4</span>store/​</p>
<p>(cd tests <span class="amp">&amp;</span><span class="amp">&amp;</span> make –w test)<br /> make[<span class="numbers">1</span>]: Entering directory ‘/usr/local/src/<span class="numbers">4</span>store-v<span class="numbers">0</span>.<span class="numbers">9</span>.<span class="numbers">2</span>/tests’<br /> (cd query <span class="amp">&amp;</span><span class="amp">&amp;</span> pwd <span class="amp">&amp;</span><span class="amp">&amp;</span> ./setup.sh –autorun)<br /> /usr/local/src/<span class="numbers">4</span>store-v<span class="numbers">0</span>.<span class="numbers">9</span>.<span class="numbers">2</span>/tests/query<br /> <span class="numbers">4</span>store[<span class="numbers">20927</span>]: backend-setup.c:<span class="numbers">178</span> erased files for <span class="caps">KB</span> query_​test_​root<br /> <span class="numbers">4</span>store[<span class="numbers">20927</span>]: backend-setup.c:<span class="numbers">302</span> created <span class="caps">RDF</span> metadata for <span class="caps">KB</span> query_​test_​root<br /> removing old data<br /> Reading &lt;file:///usr/local/src/<span class="numbers">4</span>store-v<span class="numbers">0</span>.<span class="numbers">9</span>.<span class="numbers">2</span>/tests/query/../../data/swh.xrdf&gt;<br /> into &lt;http://​example​.com/​s​w​h​.​x​rdf&gt;<br /> Pass <span class="numbers">1</span>, processed <span class="numbers">63</span> triples (<span class="numbers">63</span>)<br /> Reading &lt;file:///usr/local/src/<span class="numbers">4</span>store-v<span class="numbers">0</span>.<span class="numbers">9</span>.<span class="numbers">2</span>/tests/query/../../data/tiger/<span class="caps">TGR<span class="numbers">06001</span></span>.nt&gt;<br /> into &lt;http://​example​.com/​T​G​R​<span class="numbers">0</span>​<span class="numbers">6</span>​<span class="numbers">0</span>​<span class="numbers">0</span>​<span class="numbers">1</span>​.nt&gt;<br /> Pass <span class="numbers">1</span>, processed <span class="numbers">764610</span> triples (<span class="numbers">764547</span>)<br /> Reading &lt;file:///usr/local/src/<span class="numbers">4</span>store-v<span class="numbers">0</span>.<span class="numbers">9</span>.<span class="numbers">2</span>/tests/query/../../data/nasty.ttl&gt;<br /> into &lt;http://​example​.com/​n​a​s​t​y​.​ttl&gt;<br /> Pass <span class="numbers">1</span>, processed <span class="numbers">764638</span> triples (<span class="numbers">28</span>)<br /> Pass <span class="numbers">2</span>, processed <span class="numbers">764638</span> triples, <strong><span class="numbers">29045</span> triples/​s</strong><br /> Updating index<br /> Index update took <span class="numbers">28</span>.<span class="numbers">432670</span> seconds<br /> Imported <span class="numbers">764638</span> triples, average <strong><span class="numbers">18167</span> triples/​s</strong><br /> [<span class="caps">PASS</span>] add-​and-​delete<br />
<strong>[<span class="caps">FAIL</span>] count </strong><em>(expected see <a href="http://4store.org/trac/wiki/Dependencies">http://​<span class="numbers">4</span>store​.org/​t​r​a​c​/​w​i​k​i​/​D​e​p​e​n​d​e​n​c​ies</a> endnotes)</em><br /> [<span class="caps">PASS</span>] distinct-​predicate<br /> [<span class="caps">PASS</span>] foaf-​all-​limit<br /> [<span class="caps">PASS</span>] foaf-​bnode-​vs-​variable<br /> [<span class="caps">PASS</span>] foaf-​construct<br /> [<span class="caps">PASS</span>] foaf-​disjunctive-​filter<br /> [<span class="caps">PASS</span>] foaf-​distinct<br /> [<span class="caps">PASS</span>] foaf-​graph-​all<br /> [<span class="caps">PASS</span>] foaf-​graph-​pred<br /> [<span class="caps">PASS</span>] foaf-​knows-​name<br /> [<span class="caps">PASS</span>] foaf-​knows-​name-​sha<span class="numbers">1</span><br /> [<span class="caps">PASS</span>] foaf-​knows-​sha<span class="numbers">1</span><br /> [<span class="caps">PASS</span>] foaf-​knows-​sha<span class="numbers">1</span>-​xml<br /> [<span class="caps">PASS</span>] foaf-​multi-​disjunctive-​filter<br /> [<span class="caps">PASS</span>] foaf-​nested-​optional<br /> [<span class="caps">PASS</span>] foaf-​nothing<br /> [<span class="caps">PASS</span>] foaf-​optional-​order<br /> [<span class="caps">PASS</span>] foaf-​optional-​pair<br /> [<span class="caps">PASS</span>] foaf-​optional-​regex<br /> [<span class="caps">PASS</span>] foaf-​repeat-​var<br /> [<span class="caps">PASS</span>] graphs<br /> [<span class="caps">PASS</span>] integrity<br /> [<span class="caps">PASS</span>] null-​optional<br /> [<span class="caps">PASS</span>] null-​optional-​double<br /> [<span class="caps">PASS</span>] optimiser-​disjunction<br /> [<span class="caps">PASS</span>] select-​bnodes<br /> [<span class="caps">PASS</span>] select-​order<br /> [<span class="caps">PASS</span>] select-​unused<br /> [<span class="caps">PASS</span>] size<br /> [<span class="caps">PASS</span>] tiger-​broadway<br /> [<span class="caps">PASS</span>] tiger-​explosion<br /> [<span class="caps">PASS</span>] tiger-​fail-​optional<br /> [<span class="caps">PASS</span>] tiger-​harold-​ave<br /> [<span class="caps">PASS</span>] tiger-​landmarks<br /> [<span class="caps">PASS</span>] tiger-​mixed-​optional<br /> [<span class="caps">PASS</span>] tiger-​reverse<br /> [<span class="caps">PASS</span>] tiger-​sugar-​hill<br /> [<span class="caps">PASS</span>] tiger-​sugar-​hill-​filter<br /> [<span class="caps">PASS</span>] tiger-​typical<br /> [<span class="caps">PASS</span>] tiger-​water-​names<br />
<strong>[<span class="caps">FAIL</span>] union-​nobind </strong><em>(expected see <a href="http://4store.org/trac/wiki/Dependencies">http://​<span class="numbers">4</span>store​.org/​t​r​a​c​/​w​i​k​i​/​D​e​p​e​n​d​e​n​c​ies</a> endnotes)</em><br /> Tests completed: passed <sup><span class="numbers">40</span></sup>⁄<sub><span class="numbers">42</span></sub> (<span class="numbers">2</span> fails)</p>
<p>now downloading <a href="http://rdf.dmoz.org/rdf/">some <span class="caps">DMOZ</span> rdf data</a> to feel the speed…</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/04/twitter-for-blog-comments/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/07/bruce-sterling-reboot11/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
