<div role=main class=single>
  
    
<article id="post-100" class="post-100 post type-post status-publish format-standard hentry category-coffee tag-2001-a-space-odyssey tag-espresso tag-hal-9000 tag-life-support">
  <header class=entry-header>
    <h1 class=entry-title>Espresso Machine Malfunction</h1>

        <div class=entry-meta>
      <a href="/archive/2009/09/espresso-machine-malfunction/index.html" title="03:38" rel="bookmark"><time class="entry-date" datetime="2009-09-13T03:38:29+00:00" pubdate>September 13, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="350" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="src" value="http://www.youtube.com/v/UtvL4_dp69o" /><embed type="application/x-shockwave-flash" width="425" height="350" src="http://www.youtube.com/v/UtvL4_dp69o"></embed></object></p>
<p>This is how my espresso machine malfunctioning feels…</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/08/huawei-e156-kernel-panic-osx/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/09/cyberpunk/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
