<div role=main class=single>
  
    
<article id="post-89" class="post-89 post type-post status-publish format-standard hentry category-uncategorised tag-author tag-oliver-reichenstein tag-twitter">
  <header class=entry-header>
    <h1 class=entry-title>Twitter for Blog Comments</h1>

        <div class=entry-meta>
      <a href="/archive/2009/04/twitter-for-blog-comments/index.html" title="22:22" rel="bookmark"><time class="entry-date" datetime="2009-04-23T22:22:33+00:00" pubdate>April 23, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>A recent blog post of Oliver Reichenstein “<a href="http://informationarchitects.jp/kill-the-blog-comments/">Kill Blog Comments?</a>” stirred up some interesting discussions on twitter.</p>
<p>The most interesting issue would be how to track those comments on twitter, <a href="http://twitter.com/iA/status/1593221029">Olivier’s initial tweet</a><em> “New blog post: Kill Blog Comments? <a href="http://tinyurl.com/dhpg8k">http://​tinyurl​.com/​d​h​p​g<span class="numbers">8</span>k</a>” </em> had as a matter of identification only the tinyurl.</p>
<p><span id="more-89"></span>Tracking replies and comments would require that each comment would either be <a href="http://search.twitter.com/search?q=%40iA">an reply</a> to <a href="http://twitter.com/iA">@iA</a> in a specific timeframe (impractical as you may have replies to other @iA tweets) either should mention that tinyurl, so<br /> you can <a href="http://search.twitter.com/search?q=http%3A%2F%2Ftinyurl.com%2Fdhpg8k">search it</a>.</p>
<p>A hashtag would be better suited for this purpose, Oliver <a href="http://twitter.com/iA/status/1592826101">tried to use #<span class="numbers">3</span></a> (quite ambiguous and twitter search <a href="http://search.twitter.com/search?q=%233">doesn’t yield any results</a>). I <a href="http://twitter.com/gridinoc/status/1593249698">tried</a> to use the longer hashtag derived from the blog post <span class="caps">URL</span> <a href="http://search.twitter.com/search?q=%23kill-the-blog-comments">#kill-​the-​blog-​comments</a> and again the twitter search doesn’t like it, too long? dashes?</p>
<p>How to create an unambiguous hashtag? I took the tinyurl for the post <a href="http://tinyurl.com/dhpg8k">http://​tinyurl​.com/​d​h​p​g<span class="numbers">8</span>k</a> and used the path as a hashtag <a href="http://search.twitter.com/search?q=%23dhpg8k">#dhpg<span class="numbers">8</span>k</a>, it works but tinyurl is one of the hundreds of <span class="caps">URL</span> shortners; it would be the author responsibility to issue an unambiguous hashtag for a trackable conversation.</p>
<p>Ideally twitter search should be able to search in ‘expanded tinyurls’ (regardless of the shortner implementation, just dereference…) such that a <a href="http://search.twitter.com/search?q=http%3A%2F%2Finformationarchitects.jp%2Fkill-the-blog-comments%2F">search for http://​informationarchitects​.jp/​k​i​l​l​-​t​h​e​-​b​l​o​g​-​c​o​m​m​e​n​ts/</a> would yield results containing <a href="http://tinyurl.com/dhpg8k">http://​tinyurl​.com/​d​h​p​g<span class="numbers">8</span>k</a>, <a href="http://bit.ly/YN7pw">http://​bit​.ly/​Y​N​<span class="numbers">7</span>pw</a>, etc.</p>
<p>Moreover to ease aggregation on the blog post that is commented, Twitter should try to use trackback whenever somebody posts a link to a trackback enabled resource.</p>
<p>Please <a href="http://twitter.com/home?status=@gridinoc+%23d3se8y">comment on Twitter</a>, using hashtag <a href="http://twitter.com/home?status=@gridinoc+%23d3se8y">#d<span class="numbers">3</span>se<span class="numbers">8</span>y</a> derived from the tinyurl for this post <a href="http://tinyurl.com/d3se8y">http://​tinyurl​.com/​d​<span class="numbers">3</span>​s​e<span class="numbers">8</span>y</a>.</p>
<p>See the comments by searching <a href="http://search.twitter.com/search?q=%23d3se8y">#d<span class="numbers">3</span>se<span class="numbers">8</span>y</a>.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2008/12/about-to-change-2/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/07/4store-gentoo/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
