<div role=main class=single>
  
    
<article id="post-46" class="post-46 post type-post status-publish format-standard hentry category-uncategorised tag-abbott-laboratories tag-antibiotice tag-brand-identity-centre tag-british-council tag-bucharest tag-dacia tag-eli-lilly tag-gandul tag-great tag-great-britain tag-hp-romania tag-iasi tag-international-corporate tag-international-corporate-and-brand-identity-centre tag-moscow tag-otp-bank tag-united-states tag-vodafone tag-www-grapefruit-ro">
  <header class=entry-header>
    <h1 class=entry-title>A Grapefruit Slice</h1>

        <div class=entry-meta>
      <a href="/archive/2007/09/a-grapefruit-slice/index.html" title="02:42" rel="bookmark"><time class="entry-date" datetime="2007-09-10T02:42:21+00:00" pubdate>September 10, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>My <span class="numbers">20</span>% of <a href="http://www.grapefruit.ro/en/">Grapefruit</a> srl, are for sale.</p>
<p>Grapefruit (<a href="http://www.grapefruit.ro/">www​.grapefruit​.ro</a>) is a Romanian branding consultancy, with offices in Iasi and Bucharest. The Grapefruit portfolio holds more than <span class="numbers">100</span> clients in <span class="numbers">13</span> countries on <span class="numbers">4</span> continents, including: Abbott Laboratories, Antibiotice, Dacia, Vodafone, <span class="caps">HP</span> Romania, Gândul, Eli Lilly, <span class="caps">OTP</span> Bank, British Council, International Corporate and Brand Identity Centre (Great Britain), and <span class="caps">DDB</span> San Francisco (<span class="caps">USA</span>). Grapefruit was the most widely nominated and awarded agency at this year’s edition of Identity: Best of the Best, the international competition for logo and corporate identity design organized by Moscow’s Identity magazine.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/08/css-reset/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/09/thrill-of-discovery/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
