<div role=main class=single>
  
    
<article id="post-334" class="post-334 post type-post status-publish format-standard hentry category-uncategorised tag-e-book tag-firefox tag-firefox-panorama tag-mozilla tag-online-ebook-reader tag-tabcandy">
  <header class=entry-header>
    <h1 class=entry-title>Firefox Panorama for ebooks</h1>

        <div class=entry-meta>
      <a href="/archive/2010/10/firefox-panorama-for-ebooks/index.html" title="00:18" rel="bookmark"><time class="entry-date" datetime="2010-10-09T00:18:17+00:00" pubdate>October 9, 2010</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I have several ebooks on my iPad and I find useful to be able to carry them in an electronic format. But at home, I prefer the physical book as (apart for better typography) it exposes more information though itself (thickness, opened at a specific location) or its position (on the desk, next to the bed, stacked over another, in a specific pile or just being located in my way to remind myself of it).</p>
<p>Most of the desktop ebook readers cannot offer visually such information about a book, and don’t offer any “natural” book organization methods.</p>
<p>I would love to have on my desktop my ebooks organized as I would have them on my table, in piles, some open, some closed, important ones at left, etc.</p>
<p>I found that using an online ebook reader (<a href="http://bookworm.oreilly.com">O’Reilly Bookworm</a>) with <a href="http://www.azarask.in/blog/post/designing-tab-candy/">Firefox Panorama</a> allows me to organize my reading space; see for example the following <a href="/archive/uploads/2010/10/firefox-panorama-ebooks1.png">screenshot</a>:<span id="more-334"></span></p>
<p><a href="/archive/uploads/2010/10/firefox-panorama-ebooks1.png"><img class="alignnone size-full wp-image-335" title="Firefox Panorama for ebooks (click for larger image)" src="/archive/uploads/2010/10/firefox-panorama-ebooks1.png" alt="Firefox Panorama for ebooks" width="580" /></a></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2010/10/code-breadcrumbs/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/01/sonifying-web-pages/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
