<div role=main class=single>
  
    
<article id="post-54" class="post-54 post type-post status-publish format-standard hentry category-uncategorised tag-http tag-internet-data-service-http-request-schema tag-php tag-rdf tag-web-architecture-vocabulary">
  <header class=entry-header>
    <h1 class=entry-title>The neverending story of switching blog engines</h1>

        <div class=entry-meta>
      <a href="/archive/2007/10/the-neverending-story/index.html" title="02:50" rel="bookmark"><time class="entry-date" datetime="2007-10-10T02:50:47+00:00" pubdate>October 10, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I had this blog first as plain <span class="caps">XHTML</span> with <a href="http://microformats.org/wiki/hatom">hAtom microformat</a> (so I could generate a feed), then I tried <a href="http://wordpress.org/">WordPress</a> (even if I hate <span class="caps">PHP</span>) and then I tried <a href="http://pebble.sourceforge.net/">Pebble</a>, now I’m on <a href="http://www.movabletype.org/">MovableType</a>. And I’m still not pleased.</p>
<p>What I want is <em>real</em> <span class="caps">WYSIWYG</span> authoring with nice <span class="caps">XHTML</span>, a decent template language (read <span class="caps">XSL</span>) and no constrains (to be detailed later).</p>
<p>So, I’m going to (re)write my own engine, <span class="caps">XHTML</span>/​DocBook + <span class="caps">XSL</span> + <span class="caps">RDF</span> on the <a href="http://www.talis.com/platform/">Talis platform</a>.</p>
<p>Briefly I need to research how to model <span class="caps">HTTP</span>; things to study:</p>
<ul>
<li><a href="http://rdflib.net/2002/http_header">A vocabulary for <span class="caps">HTTP</span> headers</a></li>
<li><a href="http://www.hackcraft.net/rep/rep.html">Resource and Representation Relationship Vocabulary</a></li>
<li><a href="http://schemaweb.info/schema/SchemaDetails.aspx?id=81">Web Architecture Vocabulary <span class="numbers">1</span>.<span class="numbers">0</span></a></li>
<li><a href="http://schemaweb.info/schema/SchemaDetails.aspx?id=82">Semantic Web Architecture Vocabulary <span class="numbers">1</span>.<span class="numbers">0</span></a></li>
<li><a href="http://www.w3.org/TR/HTTP-in-RDF/"><span class="caps">HTTP</span> Vocabulary in <span class="caps">RDF</span></a></li>
<li><a href="http://www.w3.org/WAI/ER/EARL10/WD-EARL10-Guide-20070521">Evaluation and Report Language (<span class="caps">EARL</span>) <span class="numbers">1</span>.<span class="numbers">0</span> Guide</a></li>
<li><a href="http://www.intellidimension.com/default.rsp?topic=/pages/rdfgateway/reference/ds/inet_http_request_schema.rsp">Internet Data Service <span class="caps">HTTP</span> Request Schema</a></li>
</ul>
<p><img class="aligncenter size-full wp-image-55" title="The Auryn amulet" src="/archive/uploads/2007/10/auryn-white.jpg" alt="The Auryn amulet" width="100" height="103" /></p>
<ul></ul>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/09/copy-86m/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/10/w3c-readability/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
