<div role=main class=single>
  
    
<article id="post-295" class="post-295 post type-post status-publish format-standard hentry category-citability category-semantic-web tag-computational-linguistics tag-semantic-similarity tag-semantic-web">
  <header class=entry-header>
    <h1 class=entry-title>Thoughts on Citability</h1>

        <div class=entry-meta>
      <a href="/archive/2010/04/thoughts-on-citability/index.html" title="20:29" rel="bookmark"><time class="entry-date" datetime="2010-04-13T20:29:23+00:00" pubdate>April 13, 2010</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><span style="color: #808080;">Over this weekend (<span class="numbers">9</span> – <span class="numbers">11</span><sup>th</sup> April) I watched on </span><a href="http://www.ustream.tv/channel/citability"><span style="color: #808080;">Ustream</span></a><span style="color: #808080;"> the </span><a href="http://dccodeathon.pbworks.com/"><span style="color: #808080;">Citability <span class="caps">CODEATHON</span></span></a><span style="color: #808080;">. I already knew about </span><a href="http://citability.org/"><span style="color: #808080;">Citability​.org</span></a><span style="color: #808080;"> from </span><a href="http://silona.org/"><span style="color: #808080;">Silona Bonewald</span></a><span style="color: #808080;"> (</span><a href="http://twitter.com/silona"><span style="color: #808080;">@Silona</span></a><span style="color: #808080;"> on twitter), but the codeathon (from an spectator point of view) was very interesting as both discussions and prototypes.</span></p>
<blockquote><p><em>What is <a href="http://citability.org/" target="_blank">citability​.org</a>?</em><br /> Citability supports making public government documents and data available online and citable such that they can be easily referenced for public debate, commentary and analysis. This requires that archived versions of documents be stored and linkable so that changes can be easily spotted and reference links remain intact.<br /> (from <a href="http://dccodeathon.pbworks.com">http://​dccodeathon​.pbworks​.com</a>)</p></blockquote>
<p><span id="more-295"></span>I was thinking of changes, a <em>live</em> document as opposed to its archived snapshot may:</p>
<ul>
<li>change its location</li>
<li>change its presentation, and by this possibly breaking <em>intra-​document addressing</em></li>
<li>undergo minor changes (let’s call them <em>lexical</em> ones) such as spellcheck/​grammar/​punctuation changes</li>
<li>undergo major changes, <em>semantic</em> ones (as opposed to the above lexical ones)</li>
</ul>
<p>In <span class="numbers">2000</span>, Thomas A. Phelps and <a href="http://www.eecs.berkeley.edu/Faculty/Homepages/wilensky.html">Robert Wilensky</a> wrote “<a href="http://www.dlib.org/dlib/july00/wilensky/07wilensky.html">Robust Hyperlinks and Locations</a>” where they describe how lexical signatures can be used to find a moved document (or to find copies of the same document) and also they addressed the issue of “<a href="http://www9.org/w9cdrom/312/312.html">Robust Intra-​document Locations</a>.”</p>
<p>Basically a lexical signature of a document is a set of keywords (set computed with a <a href="http://en.wikipedia.org/wiki/Tf–idf"><span class="caps">TF</span>/​IDF</a>–like algorithm) which when used in a search with Google will return as top hit the same document, and/​or copies of it. Since this signature is computed against “Google’s corpus,” in time the results will skew as the corpus changes. But since Citability keeps snapshots of the original documents, their lexical signatures can be re-​computed.</p>
<p>I believe that Citability could easily employ those lexical signatures technique to locate moved or duplicate documents, and help detect minor lexical changes (which could be more flexible than raw hashes). Moreover, the intra-​document re-​attachment algorithm can help in detecting document structural changes and re-​attach citations or just help observe documents’ evolution.</p>
<p>In the past years, part of <a href="http://powermagpie.open.ac.uk/">my experiments regarding semantic navigation</a>, I used such lexical signature as input into an ontology search engine (<a href="http://watson.kmi.open.ac.uk/">Watson</a>) to discover what ontologies can cover a specific document, and provide a way to discover semantically (and not just lexically) related documents, while steering the document discovery through domain-​specific ontologies.</p>
<p>I believe that such semantic signatures (think of the lexical ones, but elevated to interlinked concepts) apart of enabling topic-​based navigation between documents or measure <a class="zem_slink" title="Semantic similarity" rel="wikipedia" href="http://en.wikipedia.org/wiki/Semantic_similarity">semantic similarity</a>, could be an interesting way to detect major changes, “semantic” ones as opposed to minor lexical ones.</p>
<p>I cannot wait for the Citability project to take off, as their archives would be a valuable corpus for researching document similarity, change detection and document evolution.</p>
<p><em>Note: The ‘semantic signatures’ I refer to, are different from the </em><a href="http://textwise.com/technology-0"><em>TextWise.com’s ones.</em></a></p>
<div class="zemanta-pixie" style="margin-top: 10px; height: 15px;"><a class="zemanta-pixie-a" title="Reblog this post [with Zemanta]" href="http://reblog.zemanta.com/zemified/91dc6342-022a-45e1-b39b-0b84ccf49b3d/"><img class="zemanta-pixie-img" style="border: none; float: right;" src="/wp-content/uploads/2010/04/reblog_e.png?x-id=91dc6342-022a-45e1-b39b-0b84ccf49b3d" alt="Reblog this post [with Zemanta]" /></a><span class="zem-script more-related pretty-attribution"><script src="http://static.zemanta.com/readside/loader.js" type="text/javascript"></script></span></div>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2010/03/cyberpunk-now/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2010/10/code-breadcrumbs/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
