<div role=main class=single>
  
    
<article id="post-73" class="post-73 post type-post status-publish format-standard hentry category-uncategorised tag-http tag-rdf">
  <header class=entry-header>
    <h1 class=entry-title>Thoughts on how to describe a PURL-​like service in <span class="caps">RDF</span></h1>

        <div class=entry-meta>
      <a href="/archive/2007/10/purl-rdf/index.html" title="03:05" rel="bookmark"><time class="entry-date" datetime="2007-10-18T03:05:03+00:00" pubdate>October 18, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>Problem: you can add (<span class="caps">POST</span>) any content to Talis <a href="http://n2.talis.com/wiki/Contentbox">Contentbox</a> but you cannot provide under which <span class="caps">URI</span> will end up. The <span class="caps">URI</span> is generated and it looks like <a href="http://api.talis.com/stores/lgridinoc-dev1/items/67704c3e-6786-4223-8701-db4a493e0757">http://​api​.talis​.com/​s​t​o​r​e​s​/​l​g​r​i​d​i​n​o​c​-​d​e​v​<span class="numbers">1</span>​/​i​t​e​m​s​/​<span class="numbers">6</span>​<span class="numbers">7</span>​<span class="numbers">7</span>​<span class="numbers">0</span>​<span class="numbers">4</span>​c​<span class="numbers">3</span>​e​-​<span class="numbers">6</span>​<span class="numbers">786</span> – <span class="numbers">4223</span>-​<span class="numbers">8701</span>-​db<span class="numbers">4</span>a<span class="numbers">493</span>e<span class="numbers">0757</span></a></p>
<p>A <a href="http://purl.org/"><span class="caps">PURL</span></a>–like service would be useful and easy to describe in <span class="caps">RDF</span> (stored and query-​able via <a href="http://n2.talis.com/wiki/Metabox">Metabox</a>), discussing it on #talis, <a href="http://dannyayers.com/misc/foaf/foaf.rdf?mode=meta">an example</a> came up:<span id="more-73"></span></p>
<div class="column span-15 pull-1">
<pre>@prefix : &lt;http://wymiwyg.org/ontologies/redirections#&gt; .
@prefix rdf: &lt;http://www.w3.org/1999/02/22-rdf-syntax-ns#&gt; .

&lt;http://dannyayers.com/misc/foaf/foaf&gt;
	a  :HTTPRedirection ;
	:statusCode  "301"^^&lt;http://www.w3.org/2001/XMLSchema#int&gt; ;
	:target  &lt;http://dannyayers.com/me&gt; .</pre>
</div>
<p>I was thinking along the same idea but using the <a href="http://www.w3.org/TR/HTTP-in-RDF/">HTTP-​in-​RDF vocabulary</a>, which would allow to express even more headers (i.e. ETag, etc.), roughly it may look like this:</p>
<div class="column span-15 pull-1">
<pre>@prefix http: &lt;http://www.w3.org/2006/http#&gt;
@prefix header: &lt;http://www.w3.org/2006/http-header#&gt;

&lt;http://dannyayers.com/misc/foaf/foaf&gt;  http:response  [
	http:responseCode http:301 ;
	http:header  [
		a http:MessageHeader ;
		http:fieldName header:location ;
		http:fieldValue &lt;http://dannyayers.com/me&gt;
	] ;
] .</pre>
</div>
<p>For a transparent redirection (proxy style), it may look like</p>
<div class="column span-15 pull-1">
<pre>@prefix http: &lt;http://www.w3.org/2006/http#&gt;
@prefix header: &lt;http://www.w3.org/2006/http-header#&gt;

&lt;http://example.com/lorem&gt; http:response  [
	http:responseCode http:200 ;
	http:body &lt;http://api.talis.com/stores/lgridinoc-dev1/items/67704c3e-6786-4223-8701-db4a493e0757&gt; ;
	http:header  [
		a http:MessageHeader ;
		http:fieldName header:etag ;
		http:fieldValue "4a13d3d84bd9"
	] ;
] .</pre>
</div>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/10/semantic-web-logo/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/11/naming/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
