
<div role=main class=home>
	<!-- 2 -->
  
              
<article id="post-491" class="post-491 post type-post status-publish format-standard hentry category-mojo tag-collaboration tag-journalist tag-spotify">
  <header class=entry-header>
    <h2 class=entry-title><a href="/archive/2011/08/collaboration-in-plesper/index.html" title="Permalink to Collaboration in PLESPER" rel=bookmark>Collaboration in <span class="caps">PLESPER</span></a></h2>

        <div class=entry-meta>
      <!--span class="sep">Posted on </span--><a href="http://namebound.com/2011/08/collaboration-in-plesper/" title="22:50" rel="bookmark"><time class="entry-date" datetime="2011-08-01T22:50:56+00:00" pubdate>August 1, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

    <div class=entry-content>
    <p>In my previous post on <a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/">News Stories <span class="amp">&amp;</span> Interaction</a> where I introduced <span class="caps">PLESPER</span>, I haven’t detailed the collaboration apart of hinting of the possibility of having comments/​assertions on various article elements. And since those comments are bound to a shortened link and processed in the browser (extension) they are global, a comment thread can span various sites.</p>
<p>A collaboration feature I’m interested in more is sharing the space in which you make sense of things, the place where you collect articles, bits, etc. And that sharing can be unidirectional (broadcast-​like, but fork-​able, import-​able in other spaces) or bi-​directional, a collaborative space.</p>
<p>The simplest view over it would be to make an analogy with sharing playlists in Spotify.</p>
<p>A journalist can link from an article to the unidirectional ‘playlist’ of facts, etc. that supports the article. The article has another space of collaboration where readers can pick on those facts and overlay connections, comments, etc. over them, over the article and even connect them with other facts and articles.</p>
<p>Similarly, a story in development can be collaboratively shaped by the readers while the final article is based on a curated set from that collaborative space, an unidirectional playlist build from the collaborative one.</p>
<p></p>
      </div>
  
  <footer class=entry-meta>
            <span class=cat-links>
      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="http://namebound.com/category/mojo/" title="View all posts in MoJo" rel="category tag">MoJo</a>    </span>
    
        <span class=tag-links>
      <span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a href="/tag/collaboration/" rel="tag">Collaboration</a>, <a href="/tag/journalist/" rel="tag">journalist</a>, <a href="/tag/spotify/" rel="tag">Spotify</a>    </span>
        
    
      </footer>
</article>          
<article id="post-459" class="post-459 post type-post status-publish format-standard hentry category-mojo tag-craig-mod tag-edward-tufte tag-faceted-search tag-marcos-weskamp tag-peter-gardenfors tag-ted-nelson tag-treemapping">
  <header class=entry-header>
    <h2 class=entry-title><a href="/archive/2011/07/news-stories-interaction/index.html" title="Permalink to News Stories &amp; Interaction" rel=bookmark>News Stories <span class="amp">&amp;</span> Interaction</a></h2>

        <div class=entry-meta>
      <!--span class="sep">Posted on </span--><a href="http://namebound.com/2011/07/news-stories-interaction/" title="23:13" rel="bookmark"><time class="entry-date" datetime="2011-07-30T23:13:20+00:00" pubdate>July 30, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

    <div class=entry-content>
    <p><em>To convey the internal structure of complex objects, illustrators create exploded views to expose hidden parts, to convey their global structure while exposing local semantic relationships.</em><br />
<em> Stories are such objects. I’m making a tool to illustrate that.</em> <a href="/2011/07/news-stories-interaction/#more-459" class="more-link">Continue reading →</a></p>
      </div>
  
  <footer class=entry-meta>
            <span class=cat-links>
      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="http://namebound.com/category/mojo/" title="View all posts in MoJo" rel="category tag">MoJo</a>    </span>
    
        <span class=tag-links>
      <span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a href="/tag/craig-mod/" rel="tag">Craig Mod</a>, <a href="/tag/edward-tufte/" rel="tag">Edward Tufte</a>, <a href="/tag/faceted-search/" rel="tag">Faceted search</a>, <a href="/tag/marcos-weskamp/" rel="tag">Marcos Weskamp</a>, <a href="/tag/peter-gardenfors/" rel="tag">Peter Gärdenfors</a>, <a href="/tag/ted-nelson/" rel="tag">Ted Nelson</a>, <a href="/tag/treemapping/" rel="tag">Treemapping</a>    </span>
        
    
      </footer>
</article>          
<article id="post-448" class="post-448 post type-post status-publish format-standard hentry category-naming tag-1984 tag-dorian-taylor tag-earthsea tag-magic tag-naming-2 tag-newspeak tag-true-name">
  <header class=entry-header>
    <h2 class=entry-title><a href="/archive/2011/07/naming-magic/index.html" title="Permalink to Naming &amp; Magic" rel=bookmark>Naming <span class="amp">&amp;</span> Magic</a></h2>

        <div class=entry-meta>
      <!--span class="sep">Posted on </span--><a href="http://namebound.com/2011/07/naming-magic/" title="01:15" rel="bookmark"><time class="entry-date" datetime="2011-07-29T01:15:10+00:00" pubdate>July 29, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

    <div class=entry-content>
    <p><span class="dquo">“</span>An im­por­tant con­sid­er­a­tion for the cog­ni­tive tie be­tween stake­hold­ers and a project is its name” says Dorian Taylor, and he argues that <a href="http://doriantaylor.com/working-titles-get-random-cryptonyms">random cryptonyms are better suited for project code names</a>.</p>
<p>I agree with his reasons but I believe, especially after <span class="numbers">7</span> years in a branding <span class="amp">&amp;</span> interactive agency (<a href="http://grapefruit.ro/">Grapefruit</a>, which I co-​founded in <span class="numbers">1999</span>), that you also need to assign meaning to such cryptonyms when employ them.</p>
<p>Arbitrary names are just handles, assigning meaning to them is instrumental for that cog­ni­tive tie be­tween stake­hold­ers and a project. If you don’t assign a meaning, the stakeholders will, individually, and that can undermine the communication within the project. <a href="/2011/07/naming-magic/#more-448" class="more-link">Continue reading →</a></p>
      </div>
  
  <footer class=entry-meta>
            <span class=cat-links>
      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="http://namebound.com/category/naming/" title="View all posts in Naming" rel="category tag">Naming</a>    </span>
    
        <span class=tag-links>
      <span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a href="/tag/1984/" rel="tag">1984</a>, <a href="/tag/dorian-taylor/" rel="tag">Dorian Taylor</a>, <a href="/tag/earthsea/" rel="tag">earthsea</a>, <a href="/tag/magic/" rel="tag">magic</a>, <a href="/tag/naming-2/" rel="tag">naming</a>, <a href="/tag/newspeak/" rel="tag">newspeak</a>, <a href="/tag/true-name/" rel="tag">true name</a>    </span>
        
    
      </footer>
</article>  


<!-- 3 -->

              
<article id="post-440" class="post-440 post type-post status-publish format-standard hentry category-mojo tag-chris-heilmann tag-jesse-james-garrett tag-john-resig tag-open-source-software tag-open-web tag-user-experience tag-web-browser">
  <header class=entry-header>
    <h2 class=entry-title><a href="/archive/2011/07/beyond-the-surface/index.html" title="Permalink to Beyond the Surface" rel=bookmark>Beyond the Surface</a></h2>

        <div class=entry-meta>
      <!--span class="sep">Posted on </span--><a href="http://namebound.com/2011/07/beyond-the-surface/" title="22:38" rel="bookmark"><time class="entry-date" datetime="2011-07-24T22:38:59+00:00" pubdate>July 24, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

    <div class=entry-content>
    <p>The past week’s lectures connected togheter in an unexpected way. If you would just look briefly at the names involved and their track record you would expect technical lectures.</p>
<p><a class="zem_slink" title="Chris Heilmann" href="http://www.wait-till-i.com/" rel="homepage">Chris Heilmann</a> started the week with the <a href="http://p2pu.org/en/groups/knight-mozilla-learning-lab/content/lecture-no-4-with-chris-heilmann/">new capabilities in the web browser and the open web</a>; capabilities which although technical in nature, aim to augment how we (as users) experience the web.</p>
<p>This user focus was continued in the following lecture with <a class="zem_slink" title="John Resig" href="http://ejohn.org" rel="homepage">John Resig</a>, on <a href="http://p2pu.org/en/groups/knight-mozilla-learning-lab/content/lecture-no-5-with-john-resig/">how to build a community around open source software</a>. It was illuminating to learn how much effort you need to invest to lift off a community, of how much you have to do past a brilliant <span class="caps">API</span>.</p>
<p><a href="http://p2pu.org/en/groups/knight-mozilla-learning-lab/content/lecture-no-6-with-jesse-james-garrett/">Last lecture</a> was with <a class="zem_slink" title="Jesse James Garrett" href="http://blog.jjg.net/" rel="homepage">Jesse James Garrett</a> on user experience. On how to (de)construct a webapp, how to go beyond the <em>surface</em> deep down to the strategy level — and from there — how to build from bottom to top. (Check his <a href="http://www.jjg.net/elements/pdf/elements_ch02.pdf">freely available chapter</a> from ‘<a class="zem_slink" title="The Elements of User Experience: User-Centered Design for the Web" href="http://www.amazon.com/Elements-User-Experience-User-Centered-Design/dp/0735712026%3FSubscriptionId%3D0G81C5DAZ03ZR9WH9X82%26tag%3Dzemanta-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0735712026" rel="amazon">The Elements of User Experience</a>’)</p>
<p style="text-align: center;"><a href="http://www.jjg.net/elements/"><img class="aligncenter size-full wp-image-442" title="from surface to strategy" src="http://namebound.com/wp-content/uploads/2011/07/Screen-Shot-2011-07-24-at-22.27.511.png" alt="" width="537" height="747" /></a></p>
<p>This is in essence about branding, and it reminded me of <a href="http://twitter.com/iA">Oliver Reichenstein</a>’s “<a href="http://www.informationarchitects.jp/en/the-interface-of-a-cheeseburger/">The Interface of a Cheeseburger</a>” where he explains that <em>“brand equals interface, not surface.”</em> (I cannot wait for his lecture this Friday.)</p>
<p>In a way all the past week’s lectures were about going <em>beyond the surface,</em> beyond technicalities…making me change how I was approaching <a href="http://gridinoc.name/blog/2011/06/the-perplex-and-other-stories/">my idea</a> both as technologies and <span class="caps">UX</span>, making me simplify a lot while being at <a href="http://gridinoc.name/blog/2011/07/sketching-thinking/">sketch level</a>. The next week will be instrumental in understanding the new challenges in the newsroom, and see which of those can be addressed — I’m both excited and terrified of how much they will change my initial idea.</p>
<div class="zemanta-pixie" style="margin-top: 10px; height: 15px;"><a class="zemanta-pixie-a" title="Enhanced by Zemanta" href="http://www.zemanta.com/"><img class="zemanta-pixie-img" style="border: none; float: right;" src="http://namebound.com/wp-content/uploads/2011/07/zemified_e.png?x-id=82c2c055-8c2f-4d7f-8454-4c4e7d88b0ff" alt="Enhanced by Zemanta" /></a></div>
      </div>
  
  <footer class=entry-meta>
            <span class=cat-links>
      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="http://namebound.com/category/mojo/" title="View all posts in MoJo" rel="category tag">MoJo</a>    </span>
    
        <span class=tag-links>
      <span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a href="/tag/chris-heilmann/" rel="tag">Chris Heilmann</a>, <a href="/tag/jesse-james-garrett/" rel="tag">Jesse James Garrett</a>, <a href="/tag/john-resig/" rel="tag">John Resig</a>, <a href="/tag/open-source-software/" rel="tag">open source software</a>, <a href="/tag/open-web/" rel="tag">open web</a>, <a href="/tag/user-experience/" rel="tag">User experience</a>, <a href="/tag/web-browser/" rel="tag">web browser</a>    </span>
        
    
      </footer>
</article>          
<article id="post-425" class="post-425 post type-post status-publish format-standard hentry category-featured category-mojo tag-knight-mozilla-learning-lab tag-muji">
  <header class=entry-header>
    <h2 class=entry-title><a href="/archive/2011/07/sketching-thinking/index.html" title="Permalink to Sketching Is Thinking" rel=bookmark>Sketching Is Thinking</a></h2>

        <div class=entry-meta>
      <!--span class="sep">Posted on </span--><a href="http://namebound.com/2011/07/sketching-thinking/" title="00:43" rel="bookmark"><time class="entry-date" datetime="2011-07-24T00:43:12+00:00" pubdate>July 24, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

    <div class=entry-content>
    <p>I always sketch things, ideas, todo items; I actually cannot use any todo list software because of this, my todo lists are not lists, my todo items are not text, they are sketches, post-​it notes with some key words, arrows and other symbols.</p>
<p>I regard sketching as thinking, I don’t sketch something once, I do it over and over, refining what it means, and in the case of sketching interactions I do a whole series of “frames” several times until it “feels right.” <a href="/2011/07/sketching-thinking/#more-425" class="more-link">Continue reading →</a></p>
      </div>
  
  <footer class=entry-meta>
            <span class=cat-links>
      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="http://namebound.com/category/featured/" title="View all posts in Featured" rel="category tag">Featured</a>, <a href="http://namebound.com/category/mojo/" title="View all posts in MoJo" rel="category tag">MoJo</a>    </span>
    
        <span class=tag-links>
      <span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a href="/tag/knight-%e2%80%8bmozilla-learn%c2%ading-lab/" rel="tag">Knight-​Mozilla Learn­ing Lab.</a>, <a href="/tag/muji/" rel="tag">Muji</a>    </span>
        
    
      </footer>
</article>          
<article id="post-408" class="post-408 post type-post status-publish format-standard hentry category-mojo category-peer-2-peer-university tag-aza-raskin tag-knight-mozilla-learning-lab">
  <header class=entry-header>
    <h2 class=entry-title><a href="/archive/2011/07/prototypes-communication/index.html" title="Permalink to Prototypes &amp; Communication" rel=bookmark>Prototypes <span class="amp">&amp;</span> Communication</a></h2>

        <div class=entry-meta>
      <!--span class="sep">Posted on </span--><a href="http://namebound.com/2011/07/prototypes-communication/" title="18:13" rel="bookmark"><time class="entry-date" datetime="2011-07-17T18:13:22+00:00" pubdate>July 17, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

    <div class=entry-content>
    <p>In his <a href="http://p2pu.org/en/groups/knight-mozilla-learning-lab/content/lecture-no-1-with-aza-raskin/">Knight-​Mozilla Learning Lab “How to prototype and influence people” lecture</a>, Aza Raskin said “to design is to inspire participation” and one of the problem in inspiring participation is the communication bandwidth.</p>
<p style="text-align: center;"><a href="http://www.slideshare.net/azaraskin/how-to-prototype-and-influence-people"><img class="aligncenter size-full wp-image-410" title="Communication Bandwidth" src="http://namebound.com/wp-content/uploads/2011/07/Screen-Shot-2011-07-17-at-18.02.451.png" alt="" width="545" height="408" /></a></p>
<p>It is interesting to observe that the bandwidth expansion is a byproduct of reducing ambiguity. <a href="/2011/07/prototypes-communication/#more-408" class="more-link">Continue reading →</a></p>
      </div>
  
  <footer class=entry-meta>
            <span class=cat-links>
      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="http://namebound.com/category/mojo/" title="View all posts in MoJo" rel="category tag">MoJo</a>, <a href="http://namebound.com/category/peer-2-peer-university/" title="View all posts in Peer 2 Peer University" rel="category tag">Peer 2 Peer University</a>    </span>
    
        <span class=tag-links>
      <span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a href="/tag/aza-raskin/" rel="tag">Aza Raskin</a>, <a href="/tag/knight-mozilla-learning-lab/" rel="tag">Knight-Mozilla Learning Lab</a>    </span>
        
    
      </footer>
</article>

<!-- 4 -->

							<article id="post-374" class="post-374 post type-post status-publish format-standard hentry category-mojo category-mozilla tag-hyperlink tag-hypertext tag-metadata tag-pingback tag-ted-nelson">
							  <header class=entry-header>
							    <h2 class=entry-title><a href="/archive/2011/06/the-perplex-and-other-stories/index.html" title="Permalink to The Perplex &amp; Other Stories" rel=bookmark>The Perplex <span class="amp">&amp;</span> Other Stories</a></h2>

							        <div class=entry-meta>
							      <!--span class="sep">Posted on </span--><a href="http://namebound.com/2011/06/the-perplex-and-other-stories/" title="22:09" rel="bookmark"><time class="entry-date" datetime="2011-06-05T22:09:26+00:00" pubdate>June 5, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
							      </header>

							    <div class=entry-content>
							    <p>In the “The Future Of Information” Ted Nelson states: <em>“The News” is a <span style="text-decoration: underline;">perplex</span>, unless somebody edits it for you, in which case it has a point of view.</em></p>
							<p>He calls a perplex the information of the following form: a tangle of items and relations; of facts, partial facts, beliefs, statements and views which can contradict each other in many different ways.<br /> An article is a curated set of such bits presented in a way that exhibits a sense of order, presenting a point of view over a perplex.</p>
							<p> <a href="/2011/06/the-perplex-and-other-stories/#more-374" class="more-link">Continue reading →</a></p>
							      </div>

							  <footer class=entry-meta>
							            <span class=cat-links>
							      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="http://namebound.com/category/mojo/" title="View all posts in MoJo" rel="category tag">MoJo</a>, <a href="http://namebound.com/category/mozilla/" title="View all posts in Mozilla" rel="category tag">Mozilla</a>    </span>

							        <span class=tag-links>
							      <span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a href="/tag/hyperlink/" rel="tag">Hyperlink</a>, <a href="/tag/hypertext/" rel="tag">Hypertext</a>, <a href="/tag/metadata/" rel="tag">Metadata</a>, <a href="/tag/pingback/" rel="tag">Pingback</a>, <a href="/tag/ted-nelson/" rel="tag">Ted Nelson</a>    </span>


							      </footer>
							</article>          
							<article id="post-367" class="post-367 post type-post status-publish format-standard hentry category-uncategorized">
							  <header class=entry-header>
							    <h2 class=entry-title><a href="/archive/2011/03/firefox/index.html" title="Permalink to Firefox" rel=bookmark>Firefox</a></h2>

							        <div class=entry-meta>
							      <!--span class="sep">Posted on </span--><a href="http://namebound.com/2011/03/firefox/" title="23:05" rel="bookmark"><time class="entry-date" datetime="2011-03-21T23:05:05+00:00" pubdate>March 21, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
							      </header>

							    <div class=entry-content>
							    <p>We all know how Firefox looks from outer space, what about from the ground level?<br />
							<em>(click the image below to see the full view)</em></p>
							<div id="attachment_368" class="wp-caption aligncenter" style="width: 866px"><a href="http://namebound.com/wp-content/uploads/2011/03/ffx-earth1.jpg"><img class="size-full wp-image-368 " title="Firefox" src="http://namebound.com/wp-content/uploads/2011/03/ffx-earth1.jpg" alt="" width="856" height="323" /></a><p class="wp-caption-text">(click to see full image)</p></div>
							<p><span class="dquo">“</span>Sunny beach” image from iStockPhoto, camera icon from the <a href="http://www.thenounproject.com/">NounProject</a>.</p>
							      </div>

							  <footer class=entry-meta>
							            <span class=cat-links>
							      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="http://namebound.com/category/uncategorized/" title="View all posts in Uncategorized" rel="category tag">Uncategorized</a>    </span>



							      </footer>
							</article>          
							<article id="post-357" class="post-357 post type-post status-publish format-standard hentry category-jetpack category-mozilla tag-jetpack tag-mozilla-add-ons tag-mozilla-firefox">
							  <header class=entry-header>
							    <h2 class=entry-title><a href="/archive/2011/03/using-jetpack-on-jetpack/index.html" title="Permalink to Using Jetpack on Jetpack" rel=bookmark>Using Jetpack on Jetpack</a></h2>

							        <div class=entry-meta>
							      <!--span class="sep">Posted on </span--><a href="http://namebound.com/2011/03/using-jetpack-on-jetpack/" title="02:08" rel="bookmark"><time class="entry-date" datetime="2011-03-21T02:08:19+00:00" pubdate>March 21, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
							      </header>

							    <div class=entry-content>
							    <p>I’ve been Saturday at the <a href="http://lanyrd.com/2011/state-of-the-browser/">State Of The Brower</a> — it was a brilliant day, great talks and conversations and I’ve gave my longest Jetpack (Mozilla Add-​on <span class="caps">SDK</span>) presentation (<span class="numbers">45</span>′) and I had no slides this time.</p>
							<p>I was preparing slides couple days ago then I thought that apart of duplicating bits from the existing documentation, and confuse the audience by switching between Keynote, TextMate, Terminal and Firefox; I thought that I should just show them what they will see when they will want to learn more later: the Mozilla Add-​on <span class="caps">SDK</span> <a href="https://jetpack.mozillalabs.com/">site</a> and <a href="https://jetpack.mozillalabs.com/sdk/latest/docs/">online documentation</a>, as rarely someone comes back to a set of slides. <a href="/2011/03/using-jetpack-on-jetpack/#more-357" class="more-link">Continue reading →</a></p>
							      </div>

							  <footer class=entry-meta>
							            <span class=cat-links>
							      <span class="entry-utility-prep entry-utility-prep-cat-links">Posted in</span> <a href="http://namebound.com/category/jetpack/" title="View all posts in Jetpack" rel="category tag">Jetpack</a>, <a href="http://namebound.com/category/mozilla/" title="View all posts in Mozilla" rel="category tag">Mozilla</a>    </span>

							        <span class=tag-links>
							      <span class="entry-utility-prep entry-utility-prep-tag-links">Tagged</span> <a href="/tag/jetpack/" rel="tag">Jetpack</a>, <a href="/tag/mozilla-add-ons/" rel="tag">Mozilla Add-ons</a>, <a href="/tag/mozilla-firefox/" rel="tag">Mozilla Firefox</a>    </span>


							      </footer>
							</article>
							
							<!-- 5+ ? TODO -->
   
  </div>

