<div role=main class=single>
  
    
<article id="post-57" class="post-57 post type-post status-publish format-standard hentry category-uncategorised">
  <header class=entry-header>
    <h1 class=entry-title><span class="caps">W<span class="numbers">3</span>C</span> Tech Reports and Readability</h1>

        <div class=entry-meta>
      <a href="/archive/2007/10/w3c-readability/index.html" title="23:54" rel="bookmark"><time class="entry-date" datetime="2007-10-10T23:54:02+00:00" pubdate>October 10, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I noticed that I always print any <a href="http://www.w3.org/TR/"><span class="caps">W<span class="numbers">3</span>C</span> <span class="caps">TR</span></a> in order to read it… and I discovered one reason: the lack of a (good) typographic style.</p>
<p>Basically the issues are:</p>
<ol>
<li>the text is too wide (if you shrink the window you have to scroll horizontally for tables and code samples)</li>
<li>the line spacing is too small, and makes difficult to follow the line, especially on lists which sometimes have mixed fonts (usually monospaced and serif)</li>
<li>there is no vertical rhythm, and this tires your eyes (read brain)</li>
</ol>
<p><span id="more-57"></span>Fortunately these issues are addressed for the web in <a href="http://webtypography.net/">‘The Elements of Typographic Style Applied to the Web’</a>:</p>
<ol>
<li><span class="ic">“</span>Anything from <span class="numbers">45</span> to <span class="numbers">75</span> characters is widely regarded as a satisfactory length of line for a single-​column page set in a serifed text face in a text size. The <span class="numbers">66</span>-​character line <span class="bracket">(</span>counting both letters and spaces<span class="bracket">)</span> is widely regarded as ideal. For multiple column work, a better average is <span class="numbers">40</span> to <span class="numbers">50</span> characters.” <a href="http://webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.2/">http://​webtypography​.net/​R​h​y​t​h​m​_​a​n​d​_​P​r​o​p​o​r​t​i​o​n​/​H​o​r​i​z​o​n​t​a​l​_​M​o​t​i​o​n​/​<span class="numbers">2</span>​.​<span class="numbers">1</span>​.<span class="numbers">2</span>/</a></li>
<li><span class="ic">“</span>Vertical space is metered in a different way <span class="bracket">[</span>to horizontal space<span class="bracket">]</span>. You must choose not only the overall measure — the depth of the column or page — but also a basic rhythmical unit. This unit is the leading, which is the distance from one baseline to the next.” <a href="http://webtypography.net/Rhythm_and_Proportion/Vertical_Motion/2.2.1/">http://​webtypography​.net/​R​h​y​t​h​m​_​a​n​d​_​P​r​o​p​o​r​t​i​o​n​/​V​e​r​t​i​c​a​l​_​M​o​t​i​o​n​/​<span class="numbers">2</span>​.​<span class="numbers">2</span>​.<span class="numbers">1</span>/</a></li>
<li><span class="ic">“</span>Headings, subheads, block quotations, footnotes, illustrations, captions and other intrusions into the text create syncopations and variations against the base rhythm of regularly leaded lines. These variations can and should add life to the page, but the main text should also return after each variation precisely on beat and in phase.” <a href="http://webtypography.net/Rhythm_and_Proportion/Vertical_Motion/2.2.2/">http://​webtypography​.net/​R​h​y​t​h​m​_​a​n​d​_​P​r​o​p​o​r​t​i​o​n​/​V​e​r​t​i​c​a​l​_​M​o​t​i​o​n​/​<span class="numbers">2</span>​.​<span class="numbers">2</span>​.<span class="numbers">2</span>/</a></li>
</ol>
<p>So I generated with the <a href="http://topfunky.com/">Geoffrey Grosenbach</a>’s <a href="http://topfunky.com/baseline-rhythm-calculator/">‘Baseline Rhythm Calculator’</a> a proper <a href="http://gridinoc.name/b.noise/2007/10/10/w3c-tr.css"><span class="caps">CSS</span> file</a>, tweaked it a bit according to the above rules and made a bookmarklet to insert it when you need to make a report screen<br /> readable, drag this link <a href="javascript:(function(){var%20s=document.createElement('link');s.charset='UTF-8';s.type='text/css';s.rel='stylesheet';s.href='http://gridinoc.name/b.noise/2007/10/10/w3c-tr.css';document.getElementsByTagName('head')[0].appendChild(s);}())">Readable <span class="caps">TR</span></a> onto your bookmark toolbar. Enjoy!</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/10/the-neverending-story/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/10/semantic-web-logo/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
