<div role=main class=single>
  
    
<article id="post-105" class="post-105 post type-post status-publish format-standard hentry category-semantic-web category-ubiquity tag-aza-raskin tag-conversational-computing tag-rdfa tag-semantic-web tag-ubiquity tag-xpointer">
  <header class=entry-header>
    <h1 class=entry-title>Ubiquity and “The Semantic Web”</h1>

        <div class=entry-meta>
      <a href="/archive/2009/09/ubiquity-and-the-semantic-web/index.html" title="03:47" rel="bookmark"><time class="entry-date" datetime="2009-09-16T03:47:29+00:00" pubdate>September 16, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>Aza Raskin on conversational computing and “The Semantic Web” (loving the quotes)</p>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="http://www.youtube.com/v/PG2zdj0gAdQ&amp;hl=en&amp;fs=1&amp;rel=0&amp;color1=0x3a3a3a&amp;color2=0x999999" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="425" height="344" src="http://www.youtube.com/v/PG2zdj0gAdQ&amp;hl=en&amp;fs=1&amp;rel=0&amp;color1=0x3a3a3a&amp;color2=0x999999" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<p><span class="caps">OK</span>, how can we have Ubiquity publish what people map (with their permission, of course), what commands they use on what piece of content?</p>
<p><span id="more-105"></span>Think <span class="caps">URL</span>, in page location (<a href="http://www.w3.org/2001/Annotea/">Annotea</a>–like XPointer?), command applied (therefore identifying the type of the selected snippet) … can we have Ubiquity “plugins” that listen to what happens in Ubiquity?</p>
<p>I was playing this summer with Ubiquity and <a href="http://code.google.com/p/rdfquery/">rdfQuery</a>, I’ve got Annotea-​like locations working with RDFa integration, all I need is how to hook it deeper into Ubiquity …</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/09/cyberpunk/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/09/ubiquity-and-the-semantic-web-2/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
