<div role=main class=single>
  
    
<article id="post-142" class="post-142 post type-post status-publish format-standard hentry category-courses-etc category-cyberpunk category-peer-2-peer-university category-postmodernism category-transhumanism tag-blade-runner tag-cyberpunk tag-ghost-in-the-shell tag-neuromancer tag-p2pu tag-the-matrix">
  <header class=entry-header>
    <h1 class=entry-title>Cyberpunk</h1>

        <div class=entry-meta>
      <a href="/archive/2009/09/cyberpunk/index.html" title="13:33" rel="bookmark"><time class="entry-date" datetime="2009-09-14T13:33:37+00:00" pubdate>September 14, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>Science fiction — before the cyberpunk split — was more or less different retellings of the same archetypes where aliens replaced ghosts and monsters, space replaced the oceans and technology replaced magic. This provided the grounds for scientific speculations, — and for a long time that was the main theme — and that was the fuel of the (technical) imagination of the mankind. We reached the Moon in a story first in Kepler’s “<a href="http://en.wikipedia.org/wiki/Somnium_%28Kepler%29">Somnium</a>,” then with Jules Verne’s “From Earth to Moon.”</p>
<p><span id="more-142"></span>Those stories were mostly glorious in nature, promoting technology and not investigating its side effects. Cyberpunk looked closely at the human nature, at how we manage technology. Technology not only enables but also disables; technology can be stolen, abused, misunderstood, misapplied, smuggled and counterfeit. Technology can fuel ideologies and enable coercion and control.</p>
<blockquote><p><span class="caps">MORPHEUS</span> “What is the Matrix? Control. The Matrix is a computer-​generated dream world built to keep us under control in order to change a human being into this.“<br />
<em>[holds up a Duracell battery]</em></p></blockquote>
<p>Those dreams from common science fiction become nightmares in cyberpunk; not by turning good into evil but through the blurring of the distinction between good and evil, day and night (the sky in “Neuromancer”), between predator and prey (Blade Runner), between flesh and metal, human and non-​human (the <a class="zem_slink" title="Voight-Kampff machine" rel="wikipedia" href="http://en.wikipedia.org/wiki/Voight-Kampff_machine">Voight-​Kampff test</a> is not infallible). The mere dimensions/​values of the world collapse, there are no stable metrics nor references.</p>
<p>This claustrophobic atmosphere is amplified by layers of detail, “kipple” and parallel story lines with idiosyncratic characters. Moreover the protagonists are drifting in these worlds with almost no free will, fact that contributes to the characteristic dystopic atmosphere.</p>
<p>[Do you wonder why people would read such things? A cyberpunk-​like answer would be that the cyberpunk meme is a specially designed highly addictive drug; and the first book is always free…]</p>
<p>Actually reading cyberpunk is quite an experience — it is an immersive one — where you have to live in those dystopic worlds (otherwise you would not understand them) and you have to fight your way out of there. The fascinating thing is that it is so easy to dive into those worlds as their terrifying features are so familiar (with our dark predictions of our near future), and your fight along with the protagonist to get out of there is liberating. Oddly, writing this brought this scene into my mind:</p>
<blockquote><p><em><a class="zem_slink" title="Ghost in the Shell" rel="wikipedia" href="http://en.wikipedia.org/wiki/Ghost_in_the_Shell">Ghost in the Shell</a>, Scene where Motoko is diving in the harbour and then talking on board a boat with Batou.</em></p>
<p><span class="caps">BATOU</span> “A cyborg who goes diving in her spare time. That can’t be a good sign. When did you start doing this? Doesn’t the ocean scare you? lf the floaters stopped working…”</p>
<p><span class="caps">MOTOKO</span> “Then l’d probably die. Or would you dive in after me? No one forced you to come out here with me.”</p>
<p><span class="caps">BATOU</span> “So, what’s it feel like when you go diving?”</p>
<p><span class="caps">MOTOKO</span> “Didn’t you go through underwater training?”</p>
<p><span class="caps">BATOU</span> “l’m not talking about doing it in a damned pool.”</p>
<p><span class="caps">MOTOKO</span> “l feel fear. Anxiety. Loneliness. Darkness. And perhaps, even hope.”</p></blockquote>
<p>Common science fiction is ‘fictional.’ Cyberpunk is about fictional settings ran in real-​world simulations. It is theory versus practice (read simulation), and practice (read simulation) feels real.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/09/espresso-machine-malfunction/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/09/ubiquity-and-the-semantic-web/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
