<div role=main class=single>
  
    
<article id="post-35" class="post-35 post type-post status-publish format-standard hentry category-courses-etc category-semantic-web tag-knowledge-engineering tag-knowledge-representation tag-ontology tag-semantic-web">
  <header class=entry-header>
    <h1 class=entry-title>We Won!</h1>

        <div class=entry-meta>
      <a href="/archive/2007/07/we-won/index.html" title="23:20" rel="bookmark"><time class="entry-date" datetime="2007-07-15T23:20:17+00:00" pubdate>July 15, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>So, in days four and five we managed to build a team (thanks to Helen): me, Rabeeh Abasi, <a href="http://kmi.open.ac.uk/people/index.cfm/idstring/sofia-angeletou">Sofia Angeletou</a>, Aurona Gerber and Alta van der Merwe. We started thinking on an two-​day implementable project, we argued a lot on what a person needs when is travelling to another country, and the solution come at the bar (thanks to Asun, who chased us out of the school building) where we started discussing cultural differences — as we were a heterogeneous group: two south africans, one greek, one romanian and one pakistani. In the end we decided to build an ontology that can model what are the social norms that govern different situations (such as visiting somebody, courtship, etc.) in different cultures.</p>
<p>We also focused (and argued a lot) on the use of some <a href="http://wiki.loa-cnr.it/index.php/LoaWiki:DesignPatternRepository">ontology patterns,</a> such as situation, agent-​role and role-​task. We were on Saturday the second group to present our mini-​project, all the other presentations had a significant fun factor and implementation plans, and couple of them had real prototypical implementations.</p>
<p>And we won! it seems that the complexity of the modelling effort and the sanity of the open research questions we launched did this. I’m personally still puzzled about it.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/07/sssw07-days-four-five/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/07/black-iron-prison/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
