<div role=main class=single>
  
    
<article id="post-111" class="post-111 post type-post status-publish format-standard hentry category-uncategorised tag-p2pu tag-twitter">
  <header class=entry-header>
    <h1 class=entry-title>Twitter to employ <span class="caps">CAPTCHA</span> tweets to keep bots out</h1>

        <div class=entry-meta>
      <a href="/archive/2009/09/twitter-captcha/index.html" title="22:52" rel="bookmark"><time class="entry-date" datetime="2009-09-22T22:52:50+00:00" pubdate>September 22, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><img class="aligncenter size-medium wp-image-112" title="twitter-captcha" src="/archive/uploads/2009/10/twitter-captcha-300x226.png" alt="twitter-captcha" width="300" height="226" /></p>
<p>In a near dark future we may have to go this way. Have our public tweets bot proof, and the Twitter <span class="caps">API</span> returning base<span class="numbers">64</span> encoded images of our tweets instead of text, unless you’re a really good friend … then you may have some of your friends sell your plain text tweets to advertisers, friends hacking friends’ accounts to harvest more sellable tweets, etc.</p>
<p>Well, that’s a dark vision of the future, fueled by the readings I’m doing for a Cyberpunk course at the <a href="http://p2pu.org/">Peer <span class="numbers">2</span> Peer University</a>.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/09/ubiquity-and-the-semantic-web-2/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/09/arial-vs-helvetica/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
