<div role=main class=single>
  
    
<article id="post-275" class="post-275 post type-post status-publish format-standard hentry category-postmodernism tag-ipad">
  <header class=entry-header>
    <h1 class=entry-title><span class="numbers">26</span> years later</h1>

        <div class=entry-meta>
      <a href="/archive/2010/01/ipad/index.html" title="09:09" rel="bookmark"><time class="entry-date" datetime="2010-01-29T09:09:01+00:00" pubdate>January 29, 2010</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="480" height="385" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="http://www.youtube.com/v/OYecfV3ubP8&amp;hl=en_GB&amp;fs=1&amp;rel=0" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="480" height="385" src="http://www.youtube.com/v/OYecfV3ubP8&amp;hl=en_GB&amp;fs=1&amp;rel=0" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<h2><span class="numbers">2010</span> is the new <span class="numbers">1984</span><span id="more-275"></span></h2>
<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="480" height="385" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="src" value="http://www.youtube.com/v/aPGjS838aDg&amp;hl=en_GB&amp;fs=1&amp;rel=0" /><param name="allowfullscreen" value="true" /><embed type="application/x-shockwave-flash" width="480" height="385" src="http://www.youtube.com/v/aPGjS838aDg&amp;hl=en_GB&amp;fs=1&amp;rel=0" allowscriptaccess="always" allowfullscreen="true"></embed></object></p>
<p><span class="dquo">“</span><a href="http://joehewitt.com/post/ipad/">So, in the end, what it comes down to is that iPad offers new metaphors that will let users engage with their computers with dramatically less friction. <strong>That gives me, as a developer, a sense of power and potency and creativity like no other. It makes the software market feel wide open again, like no one’s hegemony is safe</strong>. How anyone can feel underwhelmed by that is beyond me.</a>” — Joe Hewitt</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/11/ten-years/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2010/03/cyberpunk-now/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
