<div role=main class=single>
  
    
<article id="post-512" class="post-512 post type-post status-publish format-standard hentry category-featured category-mojo category-mozfest category-mozilla tag-boston-globe-electronic-publishing-llc tag-craig-mod tag-ia-writer tag-news-site tag-the-boston-globe">
  <header class=entry-header>
    <h1 class=entry-title>Timeboxing the News</h1>

        <div class=entry-meta>
      <a href="/archive/2011/11/timeboxing-the-news/index.html" title="21:46" rel="bookmark"><time class="entry-date" datetime="2011-11-08T21:46:51+00:00" pubdate>November 8, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>This Saturday at the <a href="https://wiki.mozilla.org/Festival2011/Touch_the_News">Touch the News</a> design challenge at the <a href="https://mozillafestival.org/">Mozilla Festival</a>, I was in <a title="picture of some of the members during the morning jam" href="https://twitter.com/?photo_id=1#!/HeatherLeson/status/132774440298749952/photo/1">team <span class="numbers">6</span></a> with <a href="http://twitter.com/HeatherLeson">Heather Lesson</a>, <a href="http://twitter.com/poshaughnessy">Peter O’Shaughnessy</a>, <a href="http://twitter.com/carl0s_">Carlo Frinolli</a>, <a href="http://twitter.com/twitrnick">Nick Smith</a>, <a href="http://twitter.com/sevenupcan">Gavin McFarland</a> and <a href="http://twitter.com/cwaring">Chris Warring</a>.</p>
<p>We focused on how people consume news on the iPad with regard to location, time of day and time available to spend on news.</p>
<p>We discussed on the needed changes in font sizes and layout needed for various reading positions, discussed <a href="http://twitter.com/craigmod">Craig Mod</a>’s Bibliotype article (<a href="http://www.alistapart.com/articles/a-simpler-page/">A List Apart: A Simpler page</a>) and <a href="http://craigmod.com/bibliotype/demo/">prototype</a>.</p>
<p>Then we discussed how the news site could use time of day and location as information to learn from various user settings (font sizes, layout) to what categories of news the user is reading at home, work, in the morning, etc. to adjust accordingly the suggestions of related articles.</p>
<p>The major issue we tackled with was: given a known time to spend with the iPad (while commuting, etc.) how do you choose what to read? How do you know what can be read in that time?</p>
<p><span id="more-512"></span></p>
<p>The idea was that for example you have <span class="numbers">15</span> minutes available while commuting, you open the (iPad optimised) website of Boston Globe, how do you choose what you read?</p>
<p>In the past year there were a lot of discussions on news apps vs news sites on iPad, on magazines as downloadable issues vs web sites. One thing that users constantly appreciated on a downloadable issue was that each issue had a finite number of pages, and the act of finishing an issue gave them a sentiment of satisfaction.</p>
<p>A site has a potentially infinite number of pages, therefore you won’t have this feeling of satisfaction, especially that you cannot asses the size of an article, the time needed to read.</p>
<p>For (even most of the digital, downloaded) magazines you have the number of pages easily graspable, but on the web, for a long scrolling article (or even a paginated one) in an unbounded medium we have only the scrollbar? that’s good enough when you’re on the article page, but on the homepage, where you have to make a choice what can we have? the number of words?</p>
<p>Inspired by one of the <a href="http://www.iawriter.com">iA Writer</a> features, we thought that <em>reading time</em> instead of number of words would be a good indicator of not only volume but also time needed to engage in a satisfactory manner with an article.</p>
<p>Therefore, given <span class="numbers">15</span> minutes, how do you know which articles you can read from the Boston Globe’s homepage? By listing the estimated time to read next to each title!</p>
<p>But, numbers are ugly, hard to compare across the page. Moreover, our general perception of time is terrible and when we engage with content it is completely skewed (think interesting vs boring, emotional impact, etc.). Fortunately we solved this problem before in the kitchen.</p>
<p>What if we’ll have a timer on the news site? Let’s say I have, hmmm, <span class="numbers">10</span>, <span class="numbers">12</span>, <span class="numbers">15</span> minutes … what can I read in this time?</p>
<p>We have two issues to solve: how to have a visible yet unobtrusive timer on a web page on iPad, and how to align the time set with the time to read needed by each article without showing numbers on them.</p>
<p>The solution was to have the timer as a slider on the left of the display, you pull it down and while adjusting it, all articles on the page will have a small bar on top that will show the time to read of that article versus the time on the slider (for example, timer set at <span class="numbers">15</span> minutes, the full width of a bar on top of an article heading/​link will represent <span class="numbers">15</span> minutes, while the coloured portion of the bar will represent the time to read of that article).</p>
<p>This is enough information to visually compare if an article or several will fit in the set time and to allow you to choose the time limit that will allow you to engage with a really interesting article (think I would like to read these <span class="numbers">3</span> articles on the culture section, then make dinner, when would be that … instead of time boxing the reading you reorganise your activities).</p>
<p>Moreover, if an article won’t fit on that interval, it will automatically have instead of the time bar on top, a button to “Read Later”.</p>
<p>Here are the sketches made in the morning session:</p>
<p><img class="aligncenter size-full wp-image-513" title="sketches" src="/archive/uploads/2011/11/sketches1.jpg" alt="" /></p>
<p>Illustrated here are also what is happening if in the middle of an article the timer times out (time to read is estimated, and the app should learn in time the user’s actual time to read, which also is dependent on location, font sizes and category of content).</p>
<p>So, on time out, a semi-​transparent pane could be display over the half of the content. The reader can just push it down with a swipe (snoozing the timer), or it can re-​adjust the timer slider, or just press the “Read Later” button on that pane. If he does so, these events can be used to measure the engagement with that particular content.</p>
<p>Also, on that semi-​transparent pane it is possible to display other choices, for example if the rest of the article might take another <span class="numbers">7</span> minutes to read (estimated on the actual reading speed on that page), suggestions for shorter related articles can be displayed there, or a simple way to share the article with a friend, colleague, etc.</p>
<p>Later in the afternoon session we discussed pros and cons on displaying the time as bars, small clocks, numbers, etc. and <a href="http://twitter.com/sevenupcan">Gavin</a> created several mock-​up images (see below) to test them on iPad for getting the actual feeling of having (a static) slider and time bars on screen as well to present the concept for the end of the design jam.</p>
<p><img class="aligncenter size-full wp-image-514" title="timer" src="/archive/uploads/2011/11/timer1.png" alt="" /></p>
<p><img class="aligncenter size-full wp-image-515" title="timeout" src="/archive/uploads/2011/11/timeout1.png" alt="" /></p>
<p></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/08/plesper/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/11/visualising-my-news-diet/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
