<div role=main class=single>
  
    
<article id="post-408" class="post-408 post type-post status-publish format-standard hentry category-mojo category-peer-2-peer-university tag-aza-raskin tag-knight-mozilla-learning-lab">
  <header class=entry-header>
    <h1 class=entry-title>Prototypes <span class="amp">&amp;</span> Communication</h1>

        <div class=entry-meta>
      <a href="/archive/2011/07/prototypes-communication/index.html" title="18:13" rel="bookmark"><time class="entry-date" datetime="2011-07-17T18:13:22+00:00" pubdate>July 17, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>In his <a href="http://p2pu.org/en/groups/knight-mozilla-learning-lab/content/lecture-no-1-with-aza-raskin/">Knight-​Mozilla Learning Lab “How to prototype and influence people” lecture</a>, Aza Raskin said “to design is to inspire participation” and one of the problem in inspiring participation is the communication bandwidth.</p>
<p style="text-align: center;"><a href="http://www.slideshare.net/azaraskin/how-to-prototype-and-influence-people"><img class="aligncenter size-full wp-image-410" title="Communication Bandwidth" src="/archive/uploads/2011/07/Screen-Shot-2011-07-17-at-18.02.451.png" alt="" width="545" height="408" /></a></p>
<p>It is interesting to observe that the bandwidth expansion is a byproduct of reducing ambiguity.<span id="more-408"></span></p>
<p>To make the abstract concrete you will require more symbols (therefore requiring more bandwidth), soon on that scale the sequential communication (the write-​up) is replaced by a parallel one (the mockups) which defines a visual language, and the elements of that language will gain meaning through their actual usage within the prototype (meaning which can be communicated later by proxy with the video).</p>
<p>The most difficult part is to be aware (and not to forget in the process) that the design is a shared communication between the designer and a person and the technology is just the medium.</p>
<p>Clarisse de Souza in “<a href="http://www.amazon.co.uk/gp/product/0262042207/ref=as_li_ss_tl?ie=UTF8&amp;tag=dichoticnoise-21&amp;linkCode=as2&amp;camp=1634&amp;creative=19450&amp;creativeASIN=0262042207">The Semiotic Engineering of Human-​Computer Interaction (Acting with Technology)</a>” shows that software is an intellectual artefact and it has the following features:</p>
<ul>
<li>it encodes a particular understanding or interpretation of a problem situation</li>
<li>it also encodes a particular set of solutions for the perceived problem situation</li>
<li>the encoding of both the problem situation and the corresponding solutions is fundamentally linguistic (i.e., based on a system of symbols — verbal, visual, aural, or other — that can be interpreted by consistent semantic rules)</li>
<li><em>the artefact’s ultimate purpose can only be completely achieved by its users if they can formulate it within the linguistic system in which the artefact is encoded.</em></li>
</ul>
<p>And that’s why you need to iterate.</p>
<p>Aza said “you are iterating your solution as well as your understanding of the problem” and “treat your code as throw-​away, but be ready to refactor”. Indeed, it is more about iterating that linguistic encoding system and less about code.</p>
<p>The <a href="http://p2pu.org/en/groups/knight-mozilla-learning-lab/content/final-assignment-software-product-proposal/">final assignment for this learning lab</a> is all about communicating design, communicating with all the stakeholders involved with the proposed artefact: users, developers, designers, clients, owners and technical support professionals.</p>
<p>Now, what is the progress of my idea on that scale? The <a href="http://gridinoc.name/blog/2011/06/the-perplex-and-other-stories/">write-​up</a> was submitted to the <a href="https://www.drumbeat.org/en-US/projects/mojo/">MoJo (Mozilla + Journalism) challenge</a> and that’s how I was invited to participate in this <a href="http://p2pu.org/en/groups/knight-mozilla-learning-lab/">Knight-​Mozilla Learning Lab</a>.</p>
<p>I’m currently iterating on a blackboard, away from the computer. The actual layout of the physical space represents the process: computer for research, post-​it notes on the wall for interaction options <em>and their reasons,</em> a reading chair next to some essential books (Edward Tufte, etc.) then the blackboard.</p>
<p style="text-align: center;"><a href="/archive/uploads/2011/07/photo21.jpg"><img class="aligncenter size-full wp-image-420" title="workspace" src="/archive/uploads/2011/07/photo21.jpg" alt="" width="717" height="960" /></a></p>
<p>My iterations are now in between the post-​it notes and the blackboard through the books. For now, I’m iterating on a monologue, trying to make sense of what I want to communicate; next week I’ll move to paper mockups as means to start a dialogue.</p>
<p><em>I cannot explain in words how the following video is related (yes, it is all in my head), but anyway enjoy it. (The <a href="http://youtu.be/kSC5x-9H0O4">original is in Japanese</a> and it is starts with “Communication is conversation,” as opposed to the English dubbed one. I could not find one with English subtitles, just <a href="http://youtu.be/kSC5x-9H0O4">Spanish</a> ones.)</em></p>
<p><iframe src="http://www.youtube.com/embed/BMn_nWYwGZc?hd=1" frameborder="0" width="853" height="510"></iframe></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/06/the-perplex-and-other-stories/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/07/sketching-thinking/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
