<div role=main class=single>
  
    
<article id="post-78" class="post-78 post type-post status-publish format-standard hentry category-uncategorised tag-david-huynh tag-gill-sans">
  <header class=entry-header>
    <h1 class=entry-title><span class="caps">ISWC</span>’<span class="numbers">07</span> — Arial domination</h1>

        <div class=entry-meta>
      <a href="/archive/2007/11/iswc07arial-domination/index.html" title="03:09" rel="bookmark"><time class="entry-date" datetime="2007-11-17T03:09:23+00:00" pubdate>November 17, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>Almost <span class="numbers">100</span>% of the presentations or the posters were using <a href="http://en.wikipedia.org/wiki/Arial">Arial</a> typeface. (Notable exceptions: <a href="http://confuseddevelopment.blogspot.com/">Knud Möller</a> was using <a href="http://en.wikipedia.org/wiki/Helvetica">Helvetica</a>, <a href="http://people.csail.mit.edu/dfhuynh/">David Huynh</a> with <a href="http://en.wikipedia.org/wiki/Gill_Sans">Gill Sans</a> and me with <a href="http://en.wikipedia.org/wiki/Optima">Optima</a>)</p>
<p>Not to mention the usual bad typography (which includes the conference’s banners and printed materials)…</p>
<p>(For a good view over <a href="http://iswc2007.semanticweb.org/"><span class="caps">ISWC</span>’<span class="numbers">07</span></a>, check <a href="http://technorati.com/search/iswc+2007?authority=a4&amp;language=en">iswc <span class="numbers">2007</span> in Technorati</a>)</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/11/naming/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/11/live-octopus/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
