<div role=main class=single>
  
    
<article id="post-285" class="post-285 post type-post status-publish format-standard hentry category-cyberpunk category-peer-2-peer-university">
  <header class=entry-header>
    <h1 class=entry-title>Cyberpunk, now!</h1>

        <div class=entry-meta>
      <a href="/archive/2010/03/cyberpunk-now/index.html" title="15:44" rel="bookmark"><time class="entry-date" datetime="2010-03-03T15:44:43+00:00" pubdate>March 3, 2010</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I’m running the next <span class="caps">P<span class="numbers">2</span>PU</span> ‘<a href="http://p2pu.org/introduction-cyberpunk-literature-mar-2010">Introduction in Cyberpunk</a>’ course. One of the aspects I’ll be focusing on is the blending between near-​future and present, and between fiction and reality.</p>
<p>I found <a href="http://twitter.com/LtWorf/status/9926190255">this endorsement</a> on twitter by Lt. Worf to be in this spirit.</p>
<p><a href="http://twitter.com/LtWorf/status/9926190255"><img class="aligncenter size-full wp-image-286" title="ltworf" src="/archive/uploads/2010/03/ltworf1.jpg" alt="I didn't know my Neal Gibson from my William Stephenson until I discovered the 'Introduction Cyberpunk Literature' course from @p2p" width="572" height="269" /></a></p>
<p><span id="more-285"></span></p>
<p style="text-align: center;"><a href="http://tweetphoto.com/13121047"><img class="size-full wp-image-292 aligncenter" title="x2_c83617" src="http://gridinoc.name/blog/wp-content/uploads/2010/03/x2_c836171.jpeg" alt="As endorsed by @LtWorf" width="200" /></a></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2010/01/ipad/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2010/04/thoughts-on-citability/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
