<div role=main class=single>
  
    
<article id="post-357" class="post-357 post type-post status-publish format-standard hentry category-jetpack category-mozilla tag-jetpack tag-mozilla-add-ons tag-mozilla-firefox">
  <header class=entry-header>
    <h1 class=entry-title>Using Jetpack on Jetpack</h1>

        <div class=entry-meta>
      <a href="/archive/2011/03/using-jetpack-on-jetpack/index.html" title="02:08" rel="bookmark"><time class="entry-date" datetime="2011-03-21T02:08:19+00:00" pubdate>March 21, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I’ve been Saturday at the <a href="http://lanyrd.com/2011/state-of-the-browser/">State Of The Brower</a> — it was a brilliant day, great talks and conversations and I’ve gave my longest Jetpack (Mozilla Add-​on <span class="caps">SDK</span>) presentation (<span class="numbers">45</span>′) and I had no slides this time.</p>
<p>I was preparing slides couple days ago then I thought that apart of duplicating bits from the existing documentation, and confuse the audience by switching between Keynote, TextMate, Terminal and Firefox; I thought that I should just show them what they will see when they will want to learn more later: the Mozilla Add-​on <span class="caps">SDK</span> <a href="https://jetpack.mozillalabs.com/">site</a> and <a href="https://jetpack.mozillalabs.com/sdk/latest/docs/">online documentation</a>, as rarely someone comes back to a set of slides.<span id="more-357"></span></p>
<p>Now, the problem with the Jetpack documentation is that in order to get the feel of how those APIs work you have to copy paste code bits into an editor and use cfx tool to run them, or simpler, paste them into the <a href="https://builder.addons.mozilla.org/">Add-​on Builder</a>.</p>
<p>But Jetpack can modify web pages, so I wrote a Jetpack that modifies the Jetpack documentation: it inserts a “Quick Example” at the top of each module page, example that can be run right there in the browser, in that very page.</p>
<p style="text-align: center;"><a href="/archive/uploads/2011/03/page-worker-Add-on-SDK-Documentation1.jpg"><img class="aligncenter size-full wp-image-358" title="Augmented Page-worker documentation page" src="/archive/uploads/2011/03/page-worker-Add-on-SDK-Documentation1.jpg" alt="" width="692" height="478" /></a></p>
<p>You can install this add-​on (it is restartless, all Jetpacks are) from <a href="https://addons.mozilla.org/en-US/firefox/addon/add-on-sdk-examples/">https://​addons​.mozilla​.org/​e​n​-​U​S​/​f​i​r​e​f​o​x​/​a​d​d​o​n​/​a​d​d​-​o​n​-​s​d​k​-​e​x​a​m​p​l​es/</a></p>
<p>This way I was able to explain all the Jetpack modules without leaving the browser; next, I’ll see how can I embed examples from the Add-​on Builder, I’ll probably have to scrape them with the page-​worker module… <em>(to be continued)</em></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/01/sonifying-web-pages/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/03/firefox/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
