<div role=main class=single>
  
    
<article id="post-13" class="post-13 post type-post status-publish format-standard hentry category-courses-etc tag-gate tag-nlp tag-spam tag-university-of-sheffield">
  <header class=entry-header>
    <h1 class=entry-title>Lovely spam! Wonderful spam!</h1>

        <div class=entry-meta>
      <a href="/archive/2006/04/lovely-spam/index.html" title="16:23" rel="bookmark"><time class="entry-date" datetime="2006-04-29T16:23:31+00:00" pubdate>April 29, 2006</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>Being in <span class="caps">UK</span> for a <a href="http://gate.ac.uk/"><acronym title="General Architecture for Text Engineering"><span class="caps">GATE</span></acronym></a> <a title="GATE Training Course, Sheffield 27-28th April 2006" href="http://gate.ac.uk/training/course-april-2006.html">training course</a> at the <a title="University of Sheffield, Department of Computer Science" href="http://www.shef.ac.uk/dcs/">University of Sheffield</a>, I had finally the opportunity to buy <a title="SPAM, Hormel Foods Corporation" href="http://en.wikipedia.org/wiki/SPAM"><span class="caps">SPAM</span>®</a>.</p>
<p><a title="Spam - A sketch from the popular show " href="http://video.google.com/videoplay?docid=5627694446211716271">Here is the video</a> of the <a title="Monty Python, or The Pythons" href="http://en.wikipedia.org/wiki/Monty_Python">Monty Python</a> <a title="Spam Monty Python sketch, first broadcast in 1970." href="http://en.wikipedia.org/wiki/Spam_%28Monty_Python%29">spam sketch</a>.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2006/04/security-and-pi-calculus/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2006/08/offline/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
