<div role=main class=single>
  
    
<article id="post-109" class="post-109 post type-post status-publish format-standard hentry category-semantic-web category-ubiquity tag-alex-faaborg tag-aza-raskin tag-knowledge-representation tag-microformat tag-rdf tag-rdfa tag-semantic-web tag-ubiquity tag-web-areas">
  <header class=entry-header>
    <h1 class=entry-title>Ubiquity and “The Semantic Web” (part <span class="numbers">2</span>)</h1>

        <div class=entry-meta>
      <a href="/archive/2009/09/ubiquity-and-the-semantic-web-2/index.html" title="23:50" rel="bookmark"><time class="entry-date" datetime="2009-09-17T23:50:27+00:00" pubdate>September 17, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I’ll assume that who reads this knows what <a href="http://labs.mozilla.com/ubiquity/">Ubiquity</a> is, if not <a href="http://labs.mozilla.com/ubiquity/">check it out</a>, it’s awesome.</p>
<p>Since Ubiquity can remember edits you do to a page (via edit and save commands), it may also be able to remember what other commands you applied to a piece of content, such that when you revisit that page you’ll see a small visual hint (could be similar to <a href="http://blog.mozilla.com/faaborg/2007/02/04/microformats-part-4-the-user-interface-of-microformat-detection/">Alex Faaborg microformats experiments</a>, or <a href="http://www.azarask.in/blog/post/can-ubiquity-be-used-only-with-the-mouse/">Aza Raskin’s mouse Ubiquity experiments</a>) that would let you re-​apply the command.</p>
<p>Imagine that you visit a blog post about a party, and the map command is just one click away just because you did it before.</p>
<p><span id="more-109"></span>Now, imagine that you go to that blog post about a party sent by a friend, and you will see the map command your friend applied it there.</p>
<p>Moreover, all these commands applied to snippets of content tell what about the content is; in other words it disambiguate that snippet for a machine, and this kind of mappings could be very useful in the information retrieval and Semantic Web areas; they are annotations made not for the sake of annotations, but made because they solved a problem for a human.</p>
<p>Ubiquity could probably do annotation persistence quite easy, while sharing them could be done via <a href="http://labs.mozilla.com/weave/">Mozilla Weave</a>.</p>
<p>That would be great, how about some interoperability right there on that very page, in that very moment? What if Ubiquity would add (upon applying a command) RDFa to the selected snippet with an rdf:type telling what the subject of the command is, or a microformat … and have additional extensions (like <a href="http://labs.mozilla.com/blog/2006/12/introducing-operator/">Operator</a>) pick that up on that instant and do amazing things?</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/09/ubiquity-and-the-semantic-web/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/09/twitter-captcha/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
