<div role=main class=single>
  
    
<article id="post-145" class="post-145 post type-post status-publish format-standard hentry category-courses-etc category-cyberpunk category-peer-2-peer-university category-postmodernism category-transhumanism tag-cyberpunk tag-the-matrix">
  <header class=entry-header>
    <h1 class=entry-title>Anti-​heroes in Cyberpunk</h1>

        <div class=entry-meta>
      <a href="/archive/2009/09/anti-heroes-cyberpunk/index.html" title="13:37" rel="bookmark"><time class="entry-date" datetime="2009-09-23T13:37:47+00:00" pubdate>September 23, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>Technically an anti-​hero lacks the attributes of the hero, of the “knight in the shining armour” type. I believe that one particular aspect of not being a (classical) hero is the use deception, living double lives, etc.</p>
<p>In The Matrix, Neo lives a double life: he works a dull cubicle job by day, helps his landlady take out the garbage; by night he’s involved in illegal information trade. He is trapped into this double life and he looks for an exit: an answer and a saviour (Morpheus).</p>
<p><span id="more-145"></span>Neo is not the hero type, he chickens when Morpheus asks him to climb to the building’s roof to escape custody. Later he undergoes extensive training, to “free his mind,” to become functional.</p>
<p>In <a class="zem_slink" title="Neuromancer" rel="wikipedia" href="http://en.wikipedia.org/wiki/Neuromancer">Neuromancer</a>, Case was a hacker, but he was damaged, denied cyberspace and trapped into his body. That’s why his suicidal life in the Night City is like not his own, he works “meat” jobs; I could say that he’s trapped into a permanent dull day job. He is offered an exit and a fix for his neural damage to become functional.</p>
<blockquote><p><span class="dquo">“</span>For Case, who had lived in the bodiless exultation of cyberspace, it was the Fall. … The body was meat. <em>Case fell into a prison of his own flesh.”</em></p></blockquote>
<p>In both cases they are offered freedom, an escape from a prison. It is interesting to observe that while for Neo the prison is the Matrix, and for Case the prison is his own body; what is actually imprisoned is their minds.</p>
<blockquote><p><span class="caps">MORPHEUS</span> “The Matrix … is the world that has been pulled over your eyes to blind you from the truth.“<br /> <span class="caps">NEO</span> “What truth?“<br /> <span class="caps">MORPHEUS</span> “That you are … kept inside a prison that you cannot smell, taste, or touch. <em>A prison for your mind.”</em></p></blockquote>
<p>Both are in this aspect freedom fighters, rebels by definition, portrayed as such by the systems they fight, that those systems underline their negative side, changing the audience’s perception on themselves.</p>
<p>I think that a characteristic of most anti-​heros is their apparent shift from anti-​hero to hero; I believe that this is actually the shift of the audience, which switches sides. Moreover, I believe that this switching makes big part of the enjoyment of reading or watching cyberpunk.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/09/arial-vs-helvetica/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/09/here-be-dragons/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
