<div role=main class=single>
  
    
<article id="post-75" class="post-75 post type-post status-publish format-standard hentry category-uncategorised">
  <header class=entry-header>
    <h1 class=entry-title>Naming</h1>

        <div class=entry-meta>
      <a href="/archive/2007/11/naming/index.html" title="03:06" rel="bookmark"><time class="entry-date" datetime="2007-11-05T03:06:55+00:00" pubdate>November 5, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>No matter what name you choose for something, always think how it looks when is displayed next to one from the opposite end of your ‘naming spectrum’:</p>
<p><img class="aligncenter size-medium wp-image-76" title="IMGP0862.JPG" src="http://localhost:8888/blog/wp-content/uploads/2009/10/IMGP0862.JPG-300x225.jpg" alt="IMGP0862.JPG" width="300" height="225" /></p>
<p><em>Aqua Spiritus</em> vs. <em>Silly Sausage,</em> picture taken one week ago somewhere in the lake district.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/10/purl-rdf/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/11/iswc07arial-domination/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
