<div role=main class=single>
  
    
<article id="post-48" class="post-48 post type-post status-publish format-standard hentry category-uncategorised tag-ben-shneiderman tag-centre-for-hci-design tag-city-university tag-data-mining tag-data-mining-methods tag-ebay tag-remarkable-tools tag-university-of-london tag-www-cs-umd-eduhcilhce tag-www-cs-umd-eduhciltimesearcher tag-www-hivegroup-com tag-www-smartmoney-commarketmap tag-www-spotfire-com">
  <header class=entry-header>
    <h1 class=entry-title><span class="quo">‘</span>The Thrill of Discovery: Information Visualisation for High-​Dimensional Spaces’</h1>

        <div class=entry-meta>
      <a href="/archive/2007/09/thrill-of-discovery/index.html" title="22:44" rel="bookmark"><time class="entry-date" datetime="2007-09-18T22:44:26+00:00" pubdate>September 18, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I attended today the Prof. Ben Shneiderman lecture ‘The Thrill of Discovery: Information Visualisation for High-​Dimensional Spaces’ at the Centre for <span class="caps">HCI</span> Design, City University of London.</p>
<p><strong>Abstract</strong> (from <a href="http://www.soi.city.ac.uk/news/researchseminars.html">http://​www​.soi​.city​.ac​.uk/​n​e​w​s​/​r​e​s​e​a​r​c​h​s​e​m​i​n​a​r​s​.​h​tml</a>)</p>
<p><span class="dquo">“</span>Interactive information visualisation provide researchers with remarkable tools for discovery. By combining powerful data mining methods with user-​controlled interfaces, users are beginning to benefit from these potent telescopes for high-​dimensional spaces. They can begin with an overview, zoom in on areas of interest, filter out unwanted items, and then click for details-on-demand. With careful design and efficient algorithms, the dynamic queries approach to data exploration can provide <span class="numbers">100</span>msec updates even for million-​record databases.</p>
<p>This talk will start by reviewing the growing commercial success stories such as <a href="http://www.spotfire.com/">www​.spotfire​.com</a>, <a href="http://www.smartmoney.com/marketmap">www​.smartmoney​.com/​m​a​r​k​e​t​map</a> and <a href="http://www.hivegroup.com/">www​.hivegroup​.com</a>. Then it will cover recent research progress for visual exploration of large time series data applied to financial, Ebay auction, and genomic data (<a href="http://www.cs.umd.edu/hcil/timesearcher">www​.cs​.umd​.edu/​h​c​i​l​/​t​i​m​e​s​e​a​r​c​her</a> ).</p>
<p>Our next step was to combine these key ideas to produce the Hierarchical Clustering Explorer <span class="numbers">3</span>.<span class="numbers">0</span> that now includes the rank-​by-​feature framework (<a href="http://www.cs.umd.edu/hcil/hce">www​.cs​.umd​.edu/​h​c​i​l​/​hce</a>). By judiciously choosing from appropriate ranking criteria for low-​dimensional axis-​parallel projections, users can locate desired features of higher dimensional spaces. Demonstrations will be shown.”</p>
<p>The talk was great, it covered more than what was promised in the above abstract. One notable mention would be <a href="http://services.alphaworks.ibm.com/manyeyes/app">ManyEyes</a> which brings a collaborative aspect within information visualisation.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/09/a-grapefruit-slice/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/09/copy-86m/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
