<div role=main class=single>
  
    
<article id="post-440" class="post-440 post type-post status-publish format-standard hentry category-mojo tag-chris-heilmann tag-jesse-james-garrett tag-john-resig tag-open-source-software tag-open-web tag-user-experience tag-web-browser">
  <header class=entry-header>
    <h1 class=entry-title>Beyond the Surface</h1>

        <div class=entry-meta>
      <a href="/archive/2011/07/beyond-the-surface/index.html" title="22:38" rel="bookmark"><time class="entry-date" datetime="2011-07-24T22:38:59+00:00" pubdate>July 24, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>The past week’s lectures connected togheter in an unexpected way. If you would just look briefly at the names involved and their track record you would expect technical lectures.</p>
<p><a class="zem_slink" title="Chris Heilmann" href="http://www.wait-till-i.com/" rel="homepage">Chris Heilmann</a> started the week with the <a href="http://p2pu.org/en/groups/knight-mozilla-learning-lab/content/lecture-no-4-with-chris-heilmann/">new capabilities in the web browser and the open web</a>; capabilities which although technical in nature, aim to augment how we (as users) experience the web.</p>
<p>This user focus was continued in the following lecture with <a class="zem_slink" title="John Resig" href="http://ejohn.org" rel="homepage">John Resig</a>, on <a href="http://p2pu.org/en/groups/knight-mozilla-learning-lab/content/lecture-no-5-with-john-resig/">how to build a community around open source software</a>. It was illuminating to learn how much effort you need to invest to lift off a community, of how much you have to do past a brilliant <span class="caps">API</span>.</p>
<p><a href="http://p2pu.org/en/groups/knight-mozilla-learning-lab/content/lecture-no-6-with-jesse-james-garrett/">Last lecture</a> was with <a class="zem_slink" title="Jesse James Garrett" href="http://blog.jjg.net/" rel="homepage">Jesse James Garrett</a> on user experience. On how to (de)construct a webapp, how to go beyond the <em>surface</em> deep down to the strategy level — and from there — how to build from bottom to top. (Check his <a href="http://www.jjg.net/elements/pdf/elements_ch02.pdf">freely available chapter</a> from ‘<a class="zem_slink" title="The Elements of User Experience: User-Centered Design for the Web" href="http://www.amazon.com/Elements-User-Experience-User-Centered-Design/dp/0735712026%3FSubscriptionId%3D0G81C5DAZ03ZR9WH9X82%26tag%3Dzemanta-20%26linkCode%3Dxm2%26camp%3D2025%26creative%3D165953%26creativeASIN%3D0735712026" rel="amazon">The Elements of User Experience</a>’)</p>
<p style="text-align: center;"><a href="http://www.jjg.net/elements/"><img class="aligncenter size-full wp-image-442" title="from surface to strategy" src="/archive/uploads/2011/07/Screen-Shot-2011-07-24-at-22.27.511.png" alt="" width="537" height="747" /></a></p>
<p>This is in essence about branding, and it reminded me of <a href="http://twitter.com/iA">Oliver Reichenstein</a>’s “<a href="http://www.informationarchitects.jp/en/the-interface-of-a-cheeseburger/">The Interface of a Cheeseburger</a>” where he explains that <em>“brand equals interface, not surface.”</em> (I cannot wait for his lecture this Friday.)</p>
<p>In a way all the past week’s lectures were about going <em>beyond the surface,</em> beyond technicalities…making me change how I was approaching <a href="http://gridinoc.name/blog/2011/06/the-perplex-and-other-stories/">my idea</a> both as technologies and <span class="caps">UX</span>, making me simplify a lot while being at <a href="http://gridinoc.name/blog/2011/07/sketching-thinking/">sketch level</a>. The next week will be instrumental in understanding the new challenges in the newsroom, and see which of those can be addressed — I’m both excited and terrified of how much they will change my initial idea.</p>
<div class="zemanta-pixie" style="margin-top: 10px; height: 15px;"><a class="zemanta-pixie-a" title="Enhanced by Zemanta" href="http://www.zemanta.com/"><img class="zemanta-pixie-img" style="border: none; float: right;" src="/wp-content/uploads/2011/07/zemified_e.png?x-id=82c2c055-8c2f-4d7f-8454-4c4e7d88b0ff" alt="Enhanced by Zemanta" /></a></div>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/07/sketching-thinking/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/07/naming-magic/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
