<div role=main class=single>
  
    
<article id="post-50" class="post-50 post type-post status-publish format-standard hentry category-uncategorised tag-zx-spectrum">
  <header class=entry-header>
    <h1 class=entry-title><span class="caps">COPY</span> <span class="numbers">86</span>/​M</h1>

        <div class=entry-meta>
      <a href="/archive/2007/09/copy-86m/index.html" title="02:47" rel="bookmark"><time class="entry-date" datetime="2007-09-25T02:47:22+00:00" pubdate>September 25, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><img class="aligncenter size-full wp-image-51" title="COPY 86/M" src="/archive/uploads/2007/09/COPY86M.gif" alt="COPY 86/M" width="256" height="192" /></p>
<p>I remembered of a nice utility I was using in the previous century to copy programs on tape (<a href="http://en.wikipedia.org/wiki/ZX_Spectrum"><span class="caps">ZX</span> Spectrum</a>), it was <span class="caps">COPY</span> <span class="numbers">86</span>/​M.</p>
<p>Surprisingly google returns <a href="http://www.google.com/search?q=%22copy+86%2Fm%22">very few</a> hits on it, all from Romanian or Russian sites. It seems that the program was Romanian? At least the <a href="http://www.worldofspectrum.org/infoseekid.cgi?id=0017077">messages</a> are in Romanian. Somewhere in the <a href="ftp://ftp.worldofspectrum.org/pub/sinclair/utils/Copy86M.tzx.zip"><span class="caps">TZX</span> image</a> is noted that it was also known as <span class="caps">KOVACS-COPY</span>. You may even <a href="http://www.worldofspectrum.org/infoseekplay.cgi?title=Copy+86M&amp;pub=&amp;year=&amp;id=0017077&amp;game=/utils/Copy86M.tzx.zip&amp;emu=3">run it</a>.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/09/thrill-of-discovery/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/10/the-neverending-story/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
