<div role=main class=single>
  
    
<article id="post-522" class="post-522 post type-post status-publish format-standard hentry category-mojo category-mozfest category-mozilla tag-dan-schultz tag-matt-stempeck tag-mit-media-labs-center tag-mit-media-labs-center-for-civic-media tag-nate-matias">
  <header class=entry-header>
    <h1 class=entry-title>Visualising My News Diet</h1>

        <div class=entry-meta>
      <a href="/archive/2011/11/visualising-my-news-diet/index.html" title="00:14" rel="bookmark"><time class="entry-date" datetime="2011-11-09T00:14:07+00:00" pubdate>November 9, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>On Sunday, at the <a href="https://wiki.mozilla.org/Festival2011/Visualize_Your_Media_Diet">Visualize Your Media Diet</a> learning lab at the <a href="https://mozillafestival.org/">Mozila Festival</a> ran by <a href="http://www.natematias.com/portfolio/">Nate Matias</a>, <a href="http://twitter.com/mstem">Matt Stempeck</a> and <a href="http://www.pbs.org/idealab/dan_schultz/">Dan Schultz</a> from the <span class="caps">MIT</span> Media Lab’s <a href="http://civic.mit.edu/">Center for Civic Media</a>, the participants had to draw how would they like to visualise their media diet, then discuss it.</p>
<p>Here is the sketch I made there on how I would like to visualise my news diet in order to understand not only the time spent with and the frequency of use of several channels/​formats, but also the actual navigation relationships, the way I discover and I engage with the news.</p>
<p><img class="aligncenter size-full wp-image-525" title="photo" src="/archive/uploads/2011/11/photo1.jpg" alt="" /></p>
<p>The idea is that you can see on a timeline the frequency and duration of what sources and types of news items you consume, and how they interrelate; for example, a tweet leads to an article, then to a Hacker News article, then I come back to the article. Another Hacker News article leads to content creation (comment, or share via tweet, etc.), other tweet might get just retweeted, etc.</p>
<p>If I would have other dimensions like sources, authors, topics, etc. I might be able in time to have an algorithm that monitor the usual sources will predict what I might consume as news item, and only if I won’t actually find it via the usual way, then notify me “you might have missed this article, you usually read this type of article because…”.</p>
<p></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/11/timeboxing-the-news/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2012/7-months-of-opennews/">Next &rarr;</a></div>
    </nav>
    
  </div>
