<div role=main class=single>
  
    
<article id="post-24" class="post-24 post type-post status-publish format-standard hentry category-courses-etc category-semantic-web tag-foaf tag-knowledge-representation tag-ontology tag-semantic-web tag-twin-peaks">
  <header class=entry-header>
    <h1 class=entry-title><span class="caps">SSSW<span class="numbers">07</span></span> — Day One</h1>

        <div class=entry-meta>
      <a href="/archive/2007/07/sssw07-day-one/index.html" title="17:01" rel="bookmark"><time class="entry-date" datetime="2007-07-10T17:01:37+00:00" pubdate>July 10, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>The day started nicely with the “Towards a Social Web?!” talk by <a href="http://www.dfki.uni-kl.de/~baumann/">Stephan Baumann</a>—which discussed from <a title="The Friend of a Friend Project" href="http://www.foaf-project.org/"><span class="caps">FOAF</span></a>, user models vs. contexts, tagging to social networks analysis and visualisation, and related work at <a href="http://www.chi2007.org/"><span class="caps">CHI<span class="numbers">2007</span></span></a>.</p>
<p>Then we got in <a href="http://en.wikipedia.org/wiki/Twin_peaks">Twin Peaks</a> mode, where <a href="http://www.cs.man.ac.uk/~seanb/">Sean Bechhofer</a> told us — well, with different words — what <a href="http://en.wikipedia.org/wiki/The_Giant_%28Twin_Peaks%29">The Giant</a> told <a href="http://en.wikipedia.org/wiki/Dale_Cooper">Agent Cooper</a>: “The OWLs are not what they seem!”</p>
<p>Further, <a href="http://www.loa-cnr.it/gangemi.html">Aldo Gangemi</a> discussed about conceptualisation and modelling aspects in ontology design, and presented some ontology patterns from <a href="http://www.neon-project.org">NeOn</a><a href="http://droz.dia.fi.upm.es/neon/servlet/download?ontology=Documentation+Ontology&amp;concept=Deliverable&amp;instanceSet=neon&amp;instance=D5.1.1%3A+NeOn+modelling+components&amp;attribute=On-line+PDF+Version&amp;value=NeOn_2007_D5.1.1.pdf">Deliverable <span class="caps">D<span class="numbers">5</span></span>.<span class="numbers">1</span>.<span class="numbers">1</span> — NeOn Modelling Components</a>.</p>
<p>In the afternoon we had a <a href="http://owl.cs.manchester.ac.uk/2007/07/sssw/">hands-​on Twin Peaks</a> session and some modelling/​ontology patterns exercises; then the first poster session, where I almost lost my voice explaining for two hours <a href="http://gridinoc.com/poster2-flat.pdf">my poster</a> about semantic browsing with <a href="http://kmi.open.ac.uk/technologies/hot.cfm/name/PowerMagpie">PowerMagpie</a>.</p>
<p>Selected links of the day:</p>
<ul>
<li><a href="http://bluetuna.opendfki.de">BluetunA</a> – an application for Bluetooth-​enabled mobile phones that allows you to connect to other BluetunA users in range and share music recommendations.</li>
<li><a title="General User Model Ontology" href="http://www.ubisworld.org/documents/gumo/2.0/gumo.owl"><span class="caps">GUMO</span></a> (General User Model Ontology) from <a title="UbisWorld - Research on User Modeling and Ubiquitous Computing" href="http://www.ubisworld.org/">www​.ubisworld​.org</a></li>
<li><a href="http://flink.semanticweb.org">Flink</a> topics <a href="http://flink.semanticweb.org/action/showontology">ontology</a>.</li>
</ul>
<p>Referred papers from <a href="http://portal.acm.org/toc.cfm?id=1240624&amp;type=proceeding&amp;coll=GUIDE&amp;dl=GUIDE&amp;CFID=23461754&amp;CFTOKEN=28157467"><span class="caps">CHI<span class="numbers">2007</span></span> proceedings</a>:</p>
<ul>
<li><a href="http://portal.acm.org/citation.cfm?id=1240624.1240683">“Over-​exposed?: privacy patterns and considerations in online and mobile photo sharing”</a></li>
<li><a href="http://portal.acm.org/citation.cfm?id=1240624.1240815&amp;coll=GUIDE&amp;dl=GUIDE&amp;type=series&amp;idx=1240624&amp;part=Proceedings&amp;WantType=Proceedings&amp;title=Conference%20on%20Human%20Factors%20in%20Computing%20Systems&amp;CFID=23461754&amp;CFTOKEN=28157467">“Follow the reader: filtering comments on slashdot”</a></li>
<li><a href="http://portal.acm.org/citation.cfm?id=1240624.1240750&amp;coll=GUIDE&amp;dl=GUIDE&amp;type=series&amp;idx=1240624&amp;part=Proceedings&amp;WantType=Proceedings&amp;title=Conference%20on%20Human%20Factors%20in%20Computing%20Systems&amp;CFID=23461754&amp;CFTOKEN=28157467">“The life and death of online gaming communities: a look at guilds in world of warcraft”</a></li>
<li><a href="http://portal.acm.org/citation.cfm?id=1240624.1240772&amp;coll=GUIDE&amp;dl=GUIDE&amp;type=series&amp;idx=1240624&amp;part=Proceedings&amp;WantType=Proceedings&amp;title=Conference%20on%20Human%20Factors%20in%20Computing%20Systems&amp;CFID=23461754&amp;CFTOKEN=28157467">“Why we tag: motivations for annotation in mobile and online media,”</a> see also <a href="http://yahooresearchberkeley.com/blog/2007/04/09/why-we-tag/">this post</a> from <a href="http://yahooresearchberkeley.com/">Yahoo! Research Berkeley</a>.</li>
<li><a href="http://portal.acm.org/citation.cfm?id=1240624.1240775&amp;coll=GUIDE&amp;dl=GUIDE&amp;type=series&amp;idx=1240624&amp;part=Proceedings&amp;WantType=Proceedings&amp;title=Conference%20on%20Human%20Factors%20in%20Computing%20Systems&amp;CFID=23461754&amp;CFTOKEN=28157467">“Getting our head in the clouds: toward evaluation studies of tagclouds”</a></li>
</ul>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2006/11/seven/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/07/sssw07-day-two/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
