<div role=main class=single>
  
    
<article id="post-459" class="post-459 post type-post status-publish format-standard hentry category-mojo tag-craig-mod tag-edward-tufte tag-faceted-search tag-marcos-weskamp tag-peter-gardenfors tag-ted-nelson tag-treemapping">
  <header class=entry-header>
    <h1 class=entry-title>News Stories <span class="amp">&amp;</span> Interaction</h1>

        <div class=entry-meta>
      <a href="/archive/2011/07/news-stories-interaction/index.html" title="23:13" rel="bookmark"><time class="entry-date" datetime="2011-07-30T23:13:20+00:00" pubdate>July 30, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><em>To convey the internal structure of complex objects, illustrators create exploded views to expose hidden parts, to convey their global structure while exposing local semantic relationships.</em><br />
<em> Stories are such objects. I’m making a tool to illustrate that.</em><span id="more-459"></span></p>
<p><small>In the “The Future Of Information” Ted Nelson states: <em>“The News” is a perplex, unless somebody edits it for you, in which case it has a point of view. </em>He calls a perplex the information of the following form: a tangle of items and relations; of facts, partial facts, beliefs, statements and views which can contradict each other in many different ways.</small></p>
<p>Rarely our experience with a news story is a direct one, therefore our point of view on a story is driven by habit and conventions and not created through a first hand experience. To understand a such story you have not to only understand the elements that composes it, but the relationship between them. <em>Understanding means deconstruction and reconstruction.</em></p>
<p>For illustrative purposes please watch this interactive <span class="caps"><span class="numbers">3</span>D</span> exploded view diagram demonstration:</p>
<p><iframe src="http://player.vimeo.com/video/1565855?title=0&amp;byline=0&amp;portrait=0" frameborder="0" width="400" height="302"></iframe></p>
<p>Think of a sub-​assembly as being an article covering that portion of a story, partially exposing (with cutaways) some inner parts, etc. To start to understand the story you need to <em>deconstruct</em> those sub-​assemblies and explore how they fit together.</p>
<p><a href="http://worrydream.com/MagicInk/#p155">This kind of interaction is essentially navigation in an information space. This is passive reading</a>.</p>
<p>Active reading would be questioning assumptions, considering alternatives, questioning the trustworthiness of the authors and their sources. An active reader will <em>reconstruct</em> his critical point of view for deeper understanding.</p>
<p><a href="http://worrydream.com/MagicInk/#p75">A passive reader needs nothing more than <strong>information software</strong>, an active one needs at least <strong>manipulation software</strong></a>. (I’m using <a href="http://worrydream.com/">Bret Victor</a>’s categories for software from <a href="http://worrydream.com/MagicInk/">Magic Ink</a>, <span class="numbers">2006</span>)</p>
<p>In the context of the prototype I’m working on I will discuss first the information software part (deconstruction, navigation) and not yet the <a href="http://worrydream.com/MagicInk/#manipulation_software_design_is_hard">manipulation part, which is the hardest to design</a>.</p>
<h3>Information Software</h3>
<p>News stories and articles are not physical objects, a <span class="caps"><span class="numbers">3</span>D</span> representation of them would be a projection of the concepts within, with some of their quality dimensions (see <a href="http://mitpress.mit.edu/books/chapters/0262572192chap1.pdf">Chapter <span class="numbers">1</span></a> of Peter Gärdenfors’ ‘<a href="http://mitpress.mit.edu/catalog/item/default.asp?ttype=2&amp;tid=10193">Conceptual Spaces — The Geometry of Thought</a>’) mapped to a <span class="caps"><span class="numbers">3</span>D</span> space our brain can understands and navigate through. Don’t worry, for the rest of this post we’ll stay in flatland.</p>
<p>We interact with a collection of articles in a <span class="caps"><span class="numbers">2</span>D</span> space (on paper and on screen), but usually those articles are aligned to one dimension only: the temporal dimension (“latest”) or frequently a composite of time and importance (“new <span class="amp">&amp;</span> noteworthy”).</p>
<p><a href="http://marumushi.com/">Marcos Weskamp</a> employed a <a href="http://marumushi.com/projects/newsmap">treemap visualisation to convey importance</a> in his <a href="http://newsmap.jp/">Newsmap​.jp</a> project. The temporal dimension was compressed to three intervals: less than <span class="numbers">10</span> minutes ago, more than <span class="numbers">10</span> minutes ago, and more than <span class="numbers">1</span> hour ago.</p>
<p style="text-align: center;"><a href="http://marumushi.com/projects/newsmap"><img class="aligncenter size-full wp-image-467" title="newsmap.jp" src="/archive/uploads/2011/07/newsmap1.jpg" alt="" width="707" height="646" /></a></p>
<p>In Newsmap, the size of each cell is determined by the amount of related articles that exist inside each news cluster computed by the Google News Aggregator.</p>
<p>Solely by clustering, labelling the cluster with the top article in it (<a href="http://en.wikipedia.org/wiki/Cluster_labeling#Title_Labels">title labels</a>) and using the volume of the cluster to convey importance you get a better view of which articles (sub-​assemblies) are critical in understanding a story.</p>
<p>Now, if you go past volume and you have access to the actual multi-​dimensional space used for clustering, you can show not only the volume but how things relate to each other, through adjacency and distance. And to convey this you need to represent the cells as convex polygons, you need to partition the space not in rectangles (rectangle tessellation) but a <a href="http://en.wikipedia.org/wiki/Voronoi_diagram">Voronoi tessellation</a> as Peter Gärdenfors explains in the Chapter <span class="numbers">3</span> of his <a href="http://mitpress.mit.edu/catalog/item/default.asp?ttype=2&amp;tid=10193&amp;mode=toc">book</a>.</p>
<p><a href="http://search.carrotsearch.com/carrot2-webapp/search?source=web&amp;view=foamtree&amp;skin=fancy-compact&amp;query=debt+senate+obama&amp;results=200&amp;algorithm=lingo3g&amp;EToolsDocumentSource.country=ALL&amp;EToolsDocumentSource.language=ENGLISH&amp;EToolsDocumentSource.safeSearch=false">Here</a> is a Voronoi treemap of the <a href="http://search.carrotsearch.com/carrot2-webapp/search?source=web&amp;view=foamtree&amp;skin=fancy-compact&amp;query=debt+senate+obama&amp;results=200&amp;algorithm=lingo3g&amp;EToolsDocumentSource.country=ALL&amp;EToolsDocumentSource.language=ENGLISH&amp;EToolsDocumentSource.safeSearch=false">search results for “debt senate obama”</a> (here the clusters are labeled with <a href="http://en.wikipedia.org/wiki/Cluster_labeling#Centroid_Labels">centroid labels</a> rather than title ones)</p>
<p style="text-align: center;"><a href="http://search.carrotsearch.com/carrot2-webapp/search?source=web&amp;view=foamtree&amp;skin=fancy-compact&amp;query=debt+senate+obama&amp;results=200&amp;algorithm=lingo3g&amp;EToolsDocumentSource.country=ALL&amp;EToolsDocumentSource.language=ENGLISH&amp;EToolsDocumentSource.safeSearch=false"><img class="aligncenter size-full wp-image-468" title="Lingo3G" src="/archive/uploads/2011/07/Lingo3G1.jpg" alt="" width="685" height="597" /></a></p>
<p>Please note that this is more than a tag cloud generated through automated tagging. Apart of having similarity measurements, <a href="http://en.wikipedia.org/wiki/Cluster_labeling">cluster labelling</a> yields labels on collections while automated tagging (and <a href="http://en.wikipedia.org/wiki/Entity_extraction">entity extraction</a>) is usually employed on individual articles then used to aggregate the collection. And such collections can be explored through <a href="http://en.wikipedia.org/wiki/Faceted_search">faceted navigation</a>, a good example of a faceted browser is <a href="http://www.simile-widgets.org/exhibit/">Exhibit</a>.</p>
<p>A similar tool for visualising news was NewsMaps​.com (now defunct, <a href="http://newsbreaks.infotoday.com/nbreader.asp?ArticleID=17968">see an <span class="numbers">1999</span> article on it</a>), it’s ThemeScape underlying software is now part of a <a href="http://www.thomsoninnovation.com/ti/workflow/analysis/">Thomson (Reuters) Innovation analytics and visualisation solution</a>. Note that individual less important articles were shown as dots on the map.</p>
<p><img class="aligncenter size-full wp-image-469" title="newsmaps" src="/archive/uploads/2011/07/newsmaps1.jpg" alt="" width="625" height="378" /></p>
<p></p>
<h3 style="margin-top: 60px;">What about the temporal dimension?</h3>
<p><a href="http://craigmod.com/">Craig Mod</a> in <a href="http://everymomentnow.com/about/">Everymoment Now</a> (which was focused on the <span class="numbers">2008</span> <span class="caps">US</span> elections) explores the concept of <em>news over time, ‘behind the fold’:</em></p>
<blockquote><p><span class="dquo">“</span>If stories ‘above the fold’ are important and those ‘below the fold’ secondary, then Everymoment Now is looking ‘behind the fold’; (fig <span class="numbers">1</span>) that is laterally, through time. Moments connected with an event both above and below the fold are brought next to each other to gain insight into the now.</p>
<div style="margin: auto auto 20px auto; width: 300px; height: 295px;"><img class="aligncenter size-full wp-image-470" title="everymomentnow" src="/archive/uploads/2011/07/everymomentnow1.png" alt="" width="300" height="295" /></div>
<p><em>People, places</em> and <em>events</em> in the context of media are like stocks — they peak and bottom out over time. <em>They have a <strong>media</strong> history.</em> There are two insights to be culled from this:</p>
<ol>
<li>Being able to see these spikes (variance) in news coverage over time will <em>illuminate potentially hidden patterns, stories or correlations</em>.</li>
<li>Providing <em>a simple, clean and intuitive interface</em> to this data will allow quick access to and assessment of these patterns and stories.”</li>
</ol>
</blockquote>
<p>Here is a screenshot from <a href="http://everymomentnow.com/about/">Everymoment Now</a> taken a while ago, note the timeline at the left and the people, places and events timelines at the right shown as <a href="http://www.edwardtufte.com/bboard/q-and-a-fetch-msg?msg_id=0001OR">sparklines</a>.</p>
<div style="margin: auto auto 20px auto; text-align: centre; width: 468px; height: 350px;"><a href="/archive/uploads/2011/07/everymomentnow-view1.jpg"><img class="aligncenter size-full wp-image-471" title="everymomentnow-view" src="/archive/uploads/2011/07/everymomentnow-view1.jpg" alt="" width="468" height="350" /></a></div>
<p>Everymoment Now is the best <a href="http://en.wikipedia.org/wiki/Faceted_search">faceted browsing</a> interface I had ever seen with regard of integrating a temporal dimension.</p>
<p>All of the above examples are about navigating a story space, and one of the navigational problems is that you lose that spatial context when you navigate to an article because the article will open in a new tab, window or even replace the view you had over that space.</p>
<p>There are several solutions to maintain that context and its dimensional navigation, one is to employ a <a href="http://en.wikipedia.org/wiki/Zooming_user_interface">zooming user interface</a>, other is to present the article (usually stripped of irrelevant clutter and navigation) in an overlay which ideally only partially obscures the space behind and which <em>allows navigation that is dimensionally coherent with the space beneath.</em> A good example is <a href="http://flipboard.com/">Flipboard</a>:</p>
<p style="text-align: center;"><a href="/archive/uploads/2011/07/flipboard-nav1.jpg"><img class="aligncenter size-full wp-image-474" title="flipboard-nav" src="/archive/uploads/2011/07/flipboard-nav1.jpg" alt="" width="614" height="918" /></a></p>
<p>It is interesting to note that both Craig Mod and Marcos Weskamp are at Flipboard.</p>
<p></p>
<h2>Introducing <span class="caps">PLESPER</span></h2>
<p>After submitting <a href="http://gridinoc.name/blog/2011/06/the-perplex-and-other-stories/">The Perplex <span class="amp">&amp;</span> Other Stories</a> at the <a href="https://drumbeat.org/en-US/challenges/open-webs-killer-app/">MoJo (Moz­illa + Journ­al­ism) People-​Powered News challenge</a>, I had to find a name for the project, a name that when explained would give me at least a coherent vision (<a href="http://gridinoc.name/blog/2011/07/naming-magic/">I have odd naming concerns</a>.) And I started deconstructing the word perplex:</p>
<p><img class="aligncenter size-full wp-image-476" style="margin: auto;" title="plexper" src="/archive/uploads/2011/07/plexper11.jpg" alt="" width="506" height="207" /></p>
<p>I was more concerned in getting an available Twitter account <a href="http://evhead.com/2011/06/five-reasons-domains-are-less-important.html">than a domain name</a> and <span class="caps">PLEXPER</span> was taken, and <span class="caps">PLEXPR</span> was not appealing, I needed to find something that could be connected somehow with the idea of making sense.</p>
<blockquote>
<ul>
<li>An esper refers to an individual capable of telepathy and other similar paranormal abilities. The term was apparently coined by Alfred Bester in his <span class="numbers">1950</span> short story “Oddy and Id” and is derived from the abbreviation <span class="caps">ESP</span> for extrasensory perception. (<a href="http://en.wikipedia.org/wiki/Esper">Esper, Wikipedia</a>)</li>
<li>In Ridley Scott’s Blade Runner, there is <a href="http://www.youtube.com/watch?v=QkcU0gwZUdg&amp;feature=player_detailpage#t=27s">a scene featuring a device called an “<span class="caps">ESPER</span>”</a> which is used to manipulate photographs.</li>
</ul>
</blockquote>
<p></p>
<p>If you’ve seen <a id="ZUI" href="http://gridinoc.name/blog/2011/07/sketching-thinking/">my sketches</a> you may have noticed that I aim for a zoomable user interface (<span class="caps">ZUI</span>) over a tiled representation of a story space (similar with a treemap).</p>
<p>The interaction would be similar with Andreas Pihlström’s <a href="http://suprmarket.net/themes/gridalicious/">Grid-​A-​Licious</a> (actually I used to have a local WordPress with <a href="http://cargocollective.com/suprb#17924/Grid-A-Licious">the first Grid-​A-​Licious theme</a> as a place to post ideas.) Imagine the interaction like <a href="http://suprmarket.net/themes/gridalicious/">Grid-​A-​Licious</a> but based on <a href="http://isotope.metafizzy.co/">Isotope</a> layout with <a href="http://janne.aukia.com/zoomooz/">Zoomooz</a> zooming. And in <span class="caps">ZUI</span> style, when zooming in more details would be available.</p>
<p>For filter I will use a simple faceted search with facets obtained via <a href="http://www.opencalais.com/">OpenCalais</a> entity extraction service, search and clustering via <a href="http://lucene.apache.org/">Apache Lucene</a> and one of the <a href="http://project.carrot2.org/algorithms.html">open source Carrot<span class="numbers">2</span> algorithms</a> and with some <a href="http://code.google.com/p/semanticvectors/">Semantic Vectors</a> magic.</p>
<p>All this is about navigating around articles, next level is to go inside articles and dissect the sub-​assemblies further. Apart of highlighting the entities and facts detected by <a href="http://www.opencalais.com/">OpenCalais</a>, I want to be able to find what other articles are related to a single paragraph from the current one, what other articles or bits of articles may connect as storyline.</p>
<p>I was thinking of using <a id="ngram" href="http://en.wikipedia.org/wiki/N-gram#n-grams_for_approximate_matching">n-​grams for a similarity measurement</a> between the paragraphs of the selected articles. But this has nothing to do with those paragraphs underlying meaning.</p>
<p>In <span class="numbers">2005</span> at the EuroLAN <span class="numbers">2005</span> Summer School “The Multilingual Web,” I met <a id="kay" href="http://en.wikipedia.org/wiki/Martin_Kay">Prof. Martin Kay</a> and we had several brilliant conversations, one was a follow-​up on his lecture on machine translation on how can you tell that document B is a translation of document A. The basic idea was B is a translation of A if it tells the same story.</p>
<p>Now what makes paragraph B similar with paragraph A? If both are factual then both answer the same question!</p>
<p>There is a lot of research in <a href="http://en.wikipedia.org/wiki/Question_answering">question answering</a>, but I’m not interested in answering questions but in answers to the same question and for my purposes I might not even need the question.</p>
<p>In ‘<a href="http://www.ark.cs.cmu.edu/mheilman/questions/">Question Generation via Overgenerating Transformations and Ranking</a>,’ <a href="http://www.cs.cmu.edu/~mheilman">Michael Heilman</a> and <a href="http://www.cs.cmu.edu/~nasmith">Noah Smith</a> created a framework for generating a ranked set of fact-​based questions. <a href="http://gist.github.com/1115914">I tested it on a sample text</a> and it is very promising, especially for my navigational needs.</p>
<p>A problem which arise from chopping articles in paragraphs is increased ambiguity, not only from just taking statements out of context but also from unresolved references (<a id="anaphora" href="http://en.wikipedia.org/wiki/Anaphora_(linguistics)#Anaphoric_reference">endophoric ones becoming exophoric</a>).</p>
<p>For example you find (via search, etc.) a tweet like (not the perfect example, but it shows the concept):</p>
<blockquote><p><span class="dquo">“</span>The pair went stroke for stroke for almost the entire race, the biggest gap between <span style="text-decoration: underline;">them</span> just the <span class="numbers">0</span>.<span class="numbers">65</span>-second lead Friis established with <span class="numbers">100</span>m to go.” <a href="http://bit.ly/ndszRa">http://​bit​.ly/​n​d​s​zRa</a></p>
<p></p></blockquote>
<p><em>Them</em> is an exophoric reference, following the link will give you the whole article, that’s information overload. You should be able to optionally see (tooltip, etc.) the minimum amount of context to understand it, and in the worst case to show the whole article with this phrase highlighted.</p>
<p>How can this be addressed? By silently retrieving the linked article, identifying the quoted phrase and running the whole article (or a larger window around the quoted phrase) through a coreference resolution system. For example through <a href="http://www.ark.cs.cmu.edu/ARKref/">ARKref</a> you get:</p>
<p><img class="aligncenter size-full wp-image-478" style="margin: auto auto 20px auto;" title="ARKref" src="/archive/uploads/2011/07/ARKref1.jpg" alt="" width="527" height="130" /></p>
<p>Imagine that all you need for <em>them</em> is to show <em>‘Adlington and Friis’</em> in a tooltip.</p>
<p>This is still navigation, passive reading. What about active reading?</p>
<h3>Manipulation Software <span class="amp">&amp;</span> Communication Software</h3>
<p>I’ve already said that active reading would be questioning assumptions, considering alternatives, questioning the trustworthiness of the authors and their sources. An active reader will <em>reconstruct</em> his critical point of view for deeper understanding.</p>
<p>Being a lone active reader is not fun, therefore all of the above actions should be shareable at various stages in their lifecycle and mixable with the actions of others.</p>
<p>The first problem to be resolved with the current articles is the one of <em>granular addressability.</em> Articles have URLs but those points to the whole, fragment identifiers (the part after the # in an <span class="caps">URL</span>) can be used to address elements in the article when the article contains them. Other alternative fragment identifier processing can be used:</p>
<ul>
<li><em>Purple Numbers</em> can link to individual paragraphs and headings. As concept they go back to the beginning Douglas Engelbart’s <a href="http://en.wikipedia.org/wiki/NLS_(computer_system)"><span class="caps">NLS</span></a> in the ‘<span class="numbers">60</span>s, <a href="http://community.cim3.net/cgi-bin/wiki.pl?PurpleNumbers#nidABB">his daughter made them purple in the ‘<span class="numbers">90</span>s</a>. For example you can use <a href="http://www.purpleslurple.net/">PurpleSlurple</a> to <a href="http://www.purpleslurple.net/ps.php?theurl=http%3A%2F%2Fgridinoc.name%2Fblog%2F2011%2F07%2Fsketching-thinking%2F#purp209">point to to a specific paragraph</a>.</li>
<li><em><a href="http://www.w3.org/TR/xptr-xpointer/">XPointer</a></em> could address not only specific elements in an <span class="caps">XML</span> document, but also ranges.</li>
<li><em>CSSFrag</em> is using <span class="caps">CSS</span> selectors as fragment identifiers, it started as <a href="http://simonstl.com/articles/cssFragID.html">a proposal</a> by <a href="http://meyerweb.com/">Eric Meyer</a> and <a href="http://simonstl.com/">Simon St.Laurent</a> in January, and <a href="http://www.shauninman.com/archive/2011/07/25/cssfrag">last week there was a chain reaction in creating extensions</a> that supports it in various browsers.</li>
</ul>
<p>All these addressing methods are brittle: their association with the content won’t always survive editing. One of the options is to store enough context with a such link to be able to re-​attach it, as in <a href="http://www9.org/w9cdrom/312/312.html">Robust Intra-​document Locations</a>.</p>
<p>How a manipulation software for an active reader engaged with a community could look like? The simplest example is <a href="http://storify.com/">Storify</a>, where you can <em>reconstruct</em> a story, an argument, etc. from such addressable bits. Moreover, the URLs for those bits can be used to make assertions and connections to other bits <a href="http://speroni.web.cs.unibo.it/cgi-bin/lode/req.py?req=http:/purl.org/spar/cito#objectproperties">like these ones from the <span class="caps">CITO</span> ontology</a>.</p>
<p>And since those assertions and connections are not absolute and represent the reader’s view, reconstruction. The URLs on which those assertion are made should be distinguishable from the the other readers’ while pointing to the same bit (usual solution through an extra level of indirection).</p>
<p>For example my bit​.ly shortened link to the Laughing Man Wikipedia page is <a href="http://bitly.com/qPJMMt">bitly​.com/​q​P​J​MMt</a> while the aggregate link is <a href="http://bit.ly/nHhv4p">bit​.ly/​n​H​h​v<span class="numbers">4</span>p</a>. My assertions would be made on my shortened link and not on the aggregate or the long link. Other reader’s assertions would be made on a different shortened link with the same aggregate, etc. (<a href="http://purlz.org/"><span class="caps">PURLZ</span></a> is the most likely to offer such metadata services in the future)</p>
<p>Those bit​.ly links have also public pages on the link itself like <a href="http://bitly.com/oEBEMO+">bitly​.com/​o​E​B​EMO+</a> and bit​.ly is already surfacing there conversations from twitter. A shortener that knows more on how to interpret such assertions could display how other bits are connected and allow you to engage with those assumptions, etc. (yielding other links for your statements towards the same aggregate)</p>
<p><em>(Another collaboration option I described in a <a href="http://gridinoc.name/blog/2011/08/collaboration-in-plesper/">following post</a>. Is not an alternative, they will weave together.)</em></p>
<p>Note that such <span class="caps">URL</span> shortening, and alternative fragment identifiers would be part of the browser (extensions and maybe native in the future), there is <em>no specific requirement</em> for the existing sites to support them.</p>
<p class=" CSSFragTarget">They will work over old pages on the web, they will work over Twitter, Facebook, G+ and whatever will be invented, they will work with deprecated <span class="caps">CMS</span> systems, with newsroom software, etc. because they are only made of what the web is made of: links.</p>
<p></p>
<p><strong>The way to get the reader to be active is not to provide more fancy social networks and shiny buttons. It is to get the passive reading experience so right that the passive reader will turn into an active one because he finally formed an opinion.</strong></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/07/naming-magic/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/08/collaboration-in-plesper/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
