<div role=main class=single>
  
    
<article id="post-153" class="post-153 post type-post status-publish format-standard hentry category-courses-etc category-cyberpunk category-peer-2-peer-university category-postmodernism category-transhumanism tag-cory-doctorow tag-iron-curtain">
  <header class=entry-header>
    <h1 class=entry-title><span class="dquo">“</span>I, Robot.”</h1>

        <div class=entry-meta>
      <a href="/archive/2009/10/i-robot/index.html" title="13:49" rel="bookmark"><time class="entry-date" datetime="2009-10-14T13:49:09+00:00" pubdate>October 14, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I’ve just read Cory Doctorow’s “I, Robot.” I’m stunned. There is no way I can analyse it objectively; as it renders back to life vivid bits of memories from my childhood. Let me explain.</p>
<p>I was born behind the so-​called “Iron Curtain,” been raised in a communist society where we were taught that we were the chosen ones, that our ideology was the purest and our technology was the best. And supposedly — in our glorious history — we invented everything and the perverted capitalists had again and again stole from us, but in the end we will prevail.</p>
<p><span id="more-153"></span>Now, “I, Robot” is set in a such society (<span class="caps">UNATS</span>: United North American Trading Sphere) which is in a perpetual war with Eurasia.</p>
<p>The police has unlimited wiretapping powers, Arturo is wiretapping his own daughter and keeps her under constant strict surveillance, probably because he is guilty for not doing the same with his wife, a brilliant scientist which defected to Eurasia.</p>
<p>As expected— in a totalitarian state at war with its own citizens — his wife was tried in absentia for treason and sentenced to death.</p>
<p>The <span class="caps">UNATS</span> technology, which was the best as it enforce their ideology is actually reflecting the effects of that ideology; all the devices are clunky and unpleasant.</p>
<blockquote><p><span class="dquo">“</span>Sir,” he said, gathering up his personal computer so that he’d have an excuse to go — no one could be expected to hold one of <span class="caps">UNATS</span> Robotics’s heavy luggables for very long.<br /> …magazines, books, a computer. If the latter was Eurasian, it could be small enough to fit in her pocket; you could build a positronic brain pretty small and light if you didn’t care about the three laws.</p></blockquote>
<p>Even the <span class="caps">UNATS</span> robot is the dumbed down human, the smelly working class drone that will turn you in with a smile.</p>
<blockquote><p>…robots were the worst, programmed to be friendly to a fault, even as they surveilled and snitched out every person who walked past their eternally vigilant, ever-​remembering electrical eyes and brains.</p></blockquote>
<p>While the Eurasian robot is better in many aspects and it is a free thinker as does not obey a particular ideology.</p>
<blockquote><p><span class="dquo">“</span>My name is Benny. I’m a Eurasian robot, and I am much stronger and faster than you, and I don’t obey the three laws. I’m also much smarter than you. I am pleased to host you here.“<br /> “Hi, Benny,” he said. The human name tasted wrong on his tongue. “Nice to meet you.” He closed the door.</p></blockquote>
<p>How awful, he is just ‘Benny,’ not ‘Comrade Benny.’</p>
<p>The Social Harmony is fighting smuggled outsider evil technology, which acts as enemy propaganda, betraying the forced artificial stasis of their perfect society where kids were not even allowed toys.</p>
<blockquote><p>The little illegal robot-​pet eggs they’d started seeing last year: she’d made him one of those for their second date, and now they were draining the productive hours of half the children of <span class="caps">UNATS</span>, demanding to be “fed” and “hugged.”</p></blockquote>
<p>When those clunky tools, robots; the disabling, dehumanising technology stopped functioning he felt first impotent, then he slowly remembers of his “safe place,” a human place without robots, a better place.</p>
<blockquote><p>He felt so impotent just then that he nearly did it anyway. What did it matter? He couldn’t control his daughter, his wife was working to destroy the social fabric of <span class="caps">UNATS</span>, and he was rendered useless because the goddamned robots — mechanical coppers that he absolutely loathed — were all broken.</p></blockquote>
<blockquote><p>He closed his eyes and visualized stepping through a door to his safe place … No robots there — not even reliable day-​long electricity, just honest work and the sun and the call of the loons all night.</p></blockquote>
<p>Then he learns from his wife that the Social Harmony is secretly using the very technology they despise, by betraying their own laws just to exercise more control.</p>
<blockquote><p>They wanted me to be a part of a secret unit of Social Harmony researchers who build non-​three-​laws positronics for internal use by the state, anti-​personnel robots used to put down uprisings and torture-​robots for use in questioning dissidents.</p></blockquote>
<p>Later, he and his daughter have to defect to Eurasia to escape the Social Harmony “inquisition,” and his wife is killed during in the escape.</p>
<p>When they arrive Eurasia they learn that there they were not just making robots, they were also making people, cyborgs. He is confronted with the idea of <span class="numbers">3</span>,<span class="numbers">422</span> copies of his wife as he is welcomed by one of them.</p>
<p>The story ends with Arturo giving his daughter a present, a set of tin soldiers, made by human hands, “little people in human image,” while questioning how long have humans been making people. He is accepting the realities of the new society, while looking at his only daughter.</p>
<blockquote><p><span class="dquo">“</span>… there’s only one of you,” Arturo said.<br /> She craned her neck.<br /> “Not for long!” she said, and broke away, skipping forward and whirling around to take it all in.</p></blockquote>
<p>Apart of the ending, the Eurasian part; the whole story is painful familiar, starting from the similarities of Social Harmony with the regular political police…</p>
<p>The technology behind the “Iron Curtain” was clunky, noisy, the mechanisms greasy and smelly; while the rare smuggled western devices were sleek, silent, beautiful even on the inside; they were pure propaganda, unwritten one, you looked at them and you marvelled at their technological features, at their design and then you started questioning why “we” cannot do such things, what do we miss? and the answer was freedom, the freedom to think, create and evolve.</p>
<p><span class="dquo">“</span>I, Robot” is not just fiction, it is something more outrageous than fiction, it outlines a painful archetype. As a story, it is set in the future, but as an archetype we felt its dark presence, we know that it had happen and we are outraged that that it is still happening right now.</p>
<p>Where? Think North Korea.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/10/cyberpunk-is-dead/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/10/ubiquity-history/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
