<div role=main class=page>
  
    
<article id="post-249" class="post-249 page type-page status-publish hentry">
  <header class=entry-header>
    <h1 class=entry-title>Profile</h1>
  </header>

  <div class=entry-content>
    <p>I make weird things, I seek <a title="Anticlimactic Simplicity" href="http://c2.com/cgi/wiki?AnticlimacticSimplicity">anticlimactic simplicity</a> (the traits of a system that is so simple for what it accomplishes that it actually frustrates you).</p>
<p>Elsewhere</p>
<ul>
<li>Twitter <a class="twooser" href="http://twitter.com/gridinoc">@gridinoc</a></li>
<li style="opacity: .5;">This blog <a href="http://gridinoc.name/blog/">gridinoc​.name/​b​log</a></li>
<li><a href="https://plus.google.com/u/0/113635591231911750164" rel="me">Google plus</a></li>
<li>Facebook <a href="http://www.facebook.com/gridinoc">facebook​.com/​g​r​i​d​i​noc</a></li>
<li>Music <a href="http://www.last.fm/user/gridinoc">last​.fm/​u​s​e​r​/​g​r​i​d​i​noc</a></li>
<li>Professional <a href="http://www.linkedin.com/in/gridinoc">linkedin​.com/​i​n​/​g​r​i​d​i​noc</a></li>
<li>Research <a href="http://kmi.open.ac.uk/publications/laurian-gridinoc">kmi​.open​.ac​.uk/​p​u​b​l​i​c​a​t​i​o​n​s​/​l​a​u​r​i​a​n​-​g​r​i​d​i​noc</a></li>
<li>Work <a href="http://talis.com/">talis​.com</a></li>
<li style="opacity: .5;">Play <a href="/">namebound​.com</a></li>
<li>Past <a href="http://www.grapefruit.ro/about/en/">Grapefruit​.ro</a></li>
</ul>
<p><a href="https://plus.google.com/u/0/113635591231911750164" rel="author"><br />
<img src="http://www.google.com/images/icons/ui/gprofile_button-32.png" alt="" width="32" height="32" /><br />
</a></p>
      </div>
  
</article>    
  </div>
