<div role=main class=single>
  
    
<article id="post-37" class="post-37 post type-post status-publish format-standard hentry category-postmodernism tag-black-iron-prison tag-gnosticism tag-national-secular-society tag-philip-k-dick tag-postmodern-literature tag-rome tag-valis">
  <header class=entry-header>
    <h1 class=entry-title>Black Iron Prison</h1>

        <div class=entry-meta>
      <a href="/archive/2007/07/black-iron-prison/index.html" title="02:22" rel="bookmark"><time class="entry-date" datetime="2007-07-19T02:22:57+00:00" pubdate>July 19, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I was browsing the <a href="http://secularism.org.uk/">National Secular Society</a> site, and from there <a href="http://www.concordatwatch.eu/">Concordat Watch</a> site and other articles — including the fact that the <a href="http://news.bbc.co.uk/2/hi/europe/6585247.stm">Pope Benedict’s plans to revive the Latin Mass</a>. And I recalled a dreadful truth: “<em>The Empire Never Ended”</em> from ‘<a href="http://en.wikipedia.org/wiki/VALIS">Valis</a>,’ the book of revelations by <a href="http://en.wikipedia.org/wiki/Philip_K._Dick">Philip K. Dick</a>…</p>
<p>Ah, and what about the post title? <em>The Black Iron Prison</em> is a concept of an all-​pervasive system of social control postulated in the <em>Tractates Cryptica Scriptura,</em> a summary of an unpublished <a title="Gnostic" href="http://en.wikipedia.org/wiki/Gnostic">Gnostic</a> exegesis included in <em><span class="caps">VALIS</span>.</em></p>
<p><span class="dquo">“</span>Once, in a cheap science fiction novel, Fat had come across a perfect description of the Black Iron Prison, but set in the far future. So if you superimposed the past (ancient Rome) over the present (California in the twentieth century) and superimposed the far future world of The Android Cried Me a River over that, you got the Empire, as the supra– or trans-​temporal constant. Everyone who had ever lived was literally surrounded by the iron walls of the prison; they were all inside it and none of them knew it.”</p>
<dl>
<dd><cite>Philip K. Dick, <em>Valis,</em> London; Gollancz, <span class="numbers">2001</span>, pp. <span class="numbers">54</span> – <span class="numbers">55</span></cite></dd>
</dl>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/07/we-won/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/08/deep-brain-stimulation/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
