<div role=main class=single>
  
    
<article id="post-16" class="post-16 post type-post status-publish format-standard hentry category-uncategorised tag-computational-linguistics tag-faculty-of-computer-science tag-grapefruit tag-nlp tag-university-of-iasi">
  <header class=entry-header>
    <h1 class=entry-title>offline</h1>

        <div class=entry-meta>
      <a href="/archive/2006/08/offline/index.html" title="16:38" rel="bookmark"><time class="entry-date" datetime="2006-08-15T16:38:21+00:00" pubdate>August 15, 2006</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><em>I have been quite preoccupied lately… so I haven’t posted in a while; I might be adding a few backposts starting with this one.</em></p>
<p>Well, I was one month offline (checking mail in an internet café does not count, E-​mail is asynchronous); before that month a lot of things happen at lightning speed, chronologically ordered: leaving <a href="http://www.grapefruit.ro/">Grapefruit</a>, finishing my masters degree (<a href="http://www.infoiasi.ro/fcs/misiunemlc.html">Computational Linguistics</a>, at the <a href="http://www.infoiasi.ro/">Faculty of Computer Science</a>, <a href="http://www.uaic.ro/">“A.I.Cuza” University of Iasi</a>), and then a one-​month holiday which was split between two locations, Crete and Transylvania.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2006/04/lovely-spam/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2006/11/seven/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
