<div role=main class=single>
  
    
<article id="post-367" class="post-367 post type-post status-publish format-standard hentry category-uncategorized">
  <header class=entry-header>
    <h1 class=entry-title>Firefox</h1>

        <div class=entry-meta>
      <a href="/archive/2011/03/firefox/index.html" title="23:05" rel="bookmark"><time class="entry-date" datetime="2011-03-21T23:05:05+00:00" pubdate>March 21, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>We all know how Firefox looks from outer space, what about from the ground level?<br />
<em>(click the image below to see the full view)</em></p>
<div id="attachment_368" class="wp-caption aligncenter" style="width: 866px"><a href="/archive/uploads/2011/03/ffx-earth1.jpg"><img class="size-full wp-image-368 " title="Firefox" src="/archive/uploads/2011/03/ffx-earth1.jpg" alt="" width="856" height="323" /></a><p class="wp-caption-text">(click to see full image)</p></div>
<p><span class="dquo">“</span>Sunny beach” image from iStockPhoto, camera icon from the <a href="http://www.thenounproject.com/">NounProject</a>.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/03/using-jetpack-on-jetpack/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/06/the-perplex-and-other-stories/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
