<div role=main class=single>
  
    
<article id="post-425" class="post-425 post type-post status-publish format-standard hentry category-featured category-mojo tag-knight-mozilla-learning-lab tag-muji">
  <header class=entry-header>
    <h1 class=entry-title>Sketching Is Thinking</h1>

        <div class=entry-meta>
      <a href="/archive/2011/07/sketching-thinking/index.html" title="00:43" rel="bookmark"><time class="entry-date" datetime="2011-07-24T00:43:12+00:00" pubdate>July 24, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I always sketch things, ideas, todo items; I actually cannot use any todo list software because of this, my todo lists are not lists, my todo items are not text, they are sketches, post-​it notes with some key words, arrows and other symbols.</p>
<p>I regard sketching as thinking, I don’t sketch something once, I do it over and over, refining what it means, and in the case of sketching interactions I do a whole series of “frames” several times until it “feels right.”<span id="more-425"></span></p>
<p>And I use different surfaces for different things, some will force me to keep it simple (small surfaces, thick pens), some will encourage iterations (blackboard), etc. Here are some stages I passed through for the idea I’m working on at the Knight-​Mozilla Learn­ing Lab.</p>
<p>Post-​it notes on the wall with interaction ideas.</p>
<p style="text-align: center;"><a href="/archive/uploads/2011/07/post-it1.jpg"><img class="aligncenter size-full wp-image-426" title="post-it" src="/archive/uploads/2011/07/post-it1.jpg" alt="" width="614" height="459" /></a></p>
<p>Then iterations on a blackboard.</p>
<p style="text-align: center;"><a href="/archive/uploads/2011/07/blackboard1.jpg"><img class="aligncenter size-full wp-image-427" title="blackboard" src="/archive/uploads/2011/07/blackboard1.jpg" alt="" width="614" height="424" /></a></p>
<p>Then a lot of small sketches, thumbnail sized, done over several evenings, mostly in bed while falling asleep. (I’m using a <a href="http://www.muji.eu/pages/online.asp?V=1&amp;Sec=14&amp;Sub=61&amp;PID=4965"><span class="caps">MUJI</span> Sticky Memo with <span class="numbers">4</span> Frames</a>)</p>
<p style="text-align: center;"><a href="/archive/uploads/2011/07/thumbnails1.jpg"><img class="aligncenter size-full wp-image-429" title="thumbnails" src="/archive/uploads/2011/07/thumbnails1.jpg" alt="" width="614" height="823" /></a></p>
<p>From this point I take most of the ideas on a bigger sketchbook, where I use post-​it notes to constrain the size; also it is easy to replace a post-​it note when iterating on a whole page (interaction).</p>
<p style="text-align: center;"><a id="sketch1" href="/archive/uploads/2011/07/sketch11.jpg"><img class="aligncenter size-full wp-image-430" title="sketch1" src="/archive/uploads/2011/07/sketch11.jpg" alt="" width="614" height="846" /></a></p>
<p>Also, I can stack the post-​it notes where I have other ideas and I’m not yet decided on how it should be.</p>
<p style="text-align: center;"><a id="sketch2" href="/archive/uploads/2011/07/sketch21.jpg"><img class="aligncenter size-full wp-image-431" title="sketch2" src="/archive/uploads/2011/07/sketch21.jpg" alt="" width="614" height="881" /></a></p>
<p>Finally, I usually do a marker sketch to get a better idea (and it is also a lot of fun playing with various shades of grey).</p>
<p style="text-align: center;"><a href="/archive/uploads/2011/07/marker1.jpg"><img class="aligncenter size-full wp-image-432" title="marker" src="/archive/uploads/2011/07/marker1.jpg" alt="" width="593" height="816" /></a></p>
<p>From this step I would move to high quality wireframes especially if I have to communicate them to, and iterate on them with others. In this case I’ll move directly to an <span class="caps">HTML</span> prototype.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/07/prototypes-communication/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/07/beyond-the-surface/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
