<div role=main class=single>
  
    
<article id="post-44" class="post-44 post type-post status-publish format-standard hentry category-uncategorised tag-information-architects-japan tag-robert-bringhurst tag-siemens tag-web-companion">
  <header class=entry-header>
    <h1 class=entry-title>(<span class="caps">CSS</span>) Reset</h1>

        <div class=entry-meta>
      <a href="/archive/2007/08/css-reset/index.html" title="02:40" rel="bookmark"><time class="entry-date" datetime="2007-08-08T02:40:35+00:00" pubdate>August 8, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>As I was just finalizing my perfect layout, based on a Fibonacci grid, inspired by both ‘<a href="http://www.informationarchitects.jp/the-ideal-website">The Ideal Web Site</a>’ by Information Architects Japan and Siemens design guidelines and based on Robert Bringhurst’s book <cite>The Elements of Typographic Style,</cite> and it’s <a href="http://webtypography.net/">web companion</a>; I encountered <a href="http://bjorkoy.com/blueprint/">Blueprint</a> (via <a href="http://www.subtraction.com/archives/2007/0807_the_framewor.php">Subtraction</a>). Now I’m following their code, and I’m trying to see where to go from here. This is a complete <span class="caps">CSS</span> reset of my code. Isn’t this a kind of <a title="wabi-sabi" href="http://en.wikipedia.org/wiki/Wabi-sabi">侘寂</a>?</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/08/live-free-or-die/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/09/a-grapefruit-slice/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
