<div role=main class=single>
  
    
<article id="post-148" class="post-148 post type-post status-publish format-standard hentry category-courses-etc category-cyberpunk category-peer-2-peer-university category-postmodernism category-transhumanism tag-blade-runner tag-cyberpunk tag-do-androids-dream-of-electric-sheep tag-jean-baudrillard tag-nihilism">
  <header class=entry-header>
    <h1 class=entry-title>Here be dragons</h1>

        <div class=entry-meta>
      <a href="/archive/2009/09/here-be-dragons/index.html" title="13:42" rel="bookmark"><time class="entry-date" datetime="2009-09-28T13:42:08+00:00" pubdate>September 28, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <blockquote><p><em>“Here be dragons” is a phrase used to denote dangerous or unexplored territories, in imitation of the medieval practice of putting sea serpents and other mythological creatures in blank areas of maps.</em> (Wikipedia, <a href="http://en.wikipedia.org/wiki/Here_be_dragons">Here be dragons</a>)</p></blockquote>
<p>As a reaction to the Utopian science fiction (frequently set into a distant glorious future), cyberpunk projected all our fears into the uncharted territory of the very near future.</p>
<p>What separates us from the near dark future is a kind of unspecified, yet imminent apocalypse. Hence, most of the cyberpunk scenes are post-​apocalyptic ones, where the apocalypse is a given, part of a forgotten history:</p>
<blockquote><p><span class="dquo">“</span>…no one today remembered why the war had come about or who, if anyone, had won.” — <a class="zem_slink" title="Do Androids Dream of Electric Sheep?" rel="wikipedia" href="http://en.wikipedia.org/wiki/Do_Androids_Dream_of_Electric_Sheep%3F">Do Androids Dream of Electric Sheep</a> (Chapter <span class="numbers">2</span>)</p></blockquote>
<p><span id="more-148"></span>This lack of the time dimension, from disinterest in history to a “<a href="http://en.wikipedia.org/wiki/Carpe_diem">carpe diem</a>” attitude towards life is the image of a chronic existential nihilism.</p>
<p>Actually various forms of nihilism are present in the cyberpunk settings: from the aforementioned existential nihilism, underlined by the timeless Mercer’s cycle in ‘Do Androids Dream of Electric Sheep,’ to the metaphysical nihilism in The Matrix:</p>
<blockquote><p>Boy: “Do not try and bend the spoon. That’s impossible. Instead… only try to realize the truth.“<br /> Neo: “What truth?“<br /> Boy: “There is no spoon.”</p></blockquote>
<p>Moreover, The Matrix features Jean Baudrillard’s “<a class="zem_slink" title="Simulacra and Simulation" rel="wikipedia" href="http://en.wikipedia.org/wiki/Simulacra_and_Simulation">Simulacra and Simulation</a>” book, as a hollowed book from the chapter “On Nihilism,” beautifully underlying Baudrillard’s message. Later in the movie, Morpheus shows Neo “the desert of the real,” a clear reference to Baudrillard’s work (<a href="http://books.google.co.uk/books?id=9Z9biHaoLZIC&amp;lpg=PP1&amp;dq=Simulacra%20and%20Simulation%20%20Jean%20Baudrillard&amp;client=firefox-a&amp;pg=PA1#v=onepage&amp;q=&amp;f=false">see first page here</a>).</p>
<p style="text-align: center"><img class="aligncenter size-full wp-image-149" title="Simulacra" src="/archive/uploads/2009/09/sim.png" alt="Simulacra" width="400" height="243" /></p>
<p>The “carpe diem” behaviour fuels the consumerism, which becomes extreme and devalues everything: Penfield mood organ devalues genuine feelings, plastic surgery devalues beauty, simstim edited reality replaces reality. Everything is available in too many ephemeral options, anchoring everyone in a perpetual present.</p>
<blockquote><p><span class="dquo">“</span>…by the <span class="numbers">1990</span>, the variety of (android) subtypes passed all understanding, in the manner of American automobiles of the <span class="numbers">1960</span>s.” — Do Androids Dream of Electric Sheep</p></blockquote>
<p>The lack of genuine items is underlined by the concept of ‘cheap copies of replicas.’ This and the continuous re-​purposed antique objects illustrate almost a coprophagous society, feeding on its own detritus.</p>
<p>Paradoxically, these settings makes you experience a claustrophobic feeling in an open space, this is achieved in Gibson’s Sprawl trilogy through the social and urban detritus; the ‘dessert of the real’ in The Matrix.</p>
<p>In Do Androids Dream of Electric Sheep the kipple, the radioactive fallout and the pressure to emigrate from Earth creates the claustrophobic environment on a depopulated Earth; with overlapping glimpses of agoraphobia triggered by the sound the empty buildings creates.</p>
<blockquote><p><span class="dquo">“</span>And for a minute I shut off the (<span class="caps">TV</span>) sound. And I heard the building, this building. I heard the — ” She gestured. “Empty apartments,” Rick said. — Do Androids Dream of Electric Sheep</p></blockquote>
<p>It is the same blending between extremes characteristic to cyberpunk, here blurring the physical space between claustro– and agoraphobia:</p>
<blockquote><p>Silence. It flashed from the woodwork and the walls … From the useless pole lamp in the living room it oozed out … It managed in fact to emerge from every object within his range of vision, as if it — the silence meant to supplant all things tangible. Hence it assailed not only his ears but his eyes; as he stood by the inert <span class="caps">TV</span> set he experienced the silence as visible and, in its own way, alive. Alive!<br /> — Do Androids Dream of Electric Sheep</p></blockquote>
<p>This is the uncharted territory to which we know we’re heading to, the scariest future of all possible futures: the future without a future.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/09/anti-heroes-cyberpunk/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/10/sharing-ubiquity-commands/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
