<div role=main class=single>
  
    
<article id="post-491" class="post-491 post type-post status-publish format-standard hentry category-mojo tag-collaboration tag-journalist tag-spotify">
  <header class=entry-header>
    <h1 class=entry-title>Collaboration in <span class="caps">PLESPER</span></h1>

        <div class=entry-meta>
      <a href="/archive/2011/08/collaboration-in-plesper/index.html" title="22:50" rel="bookmark"><time class="entry-date" datetime="2011-08-01T22:50:56+00:00" pubdate>August 1, 2011</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian Gridinoc" rel="author">Laurian Gridinoc</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>In my previous post on <a href="http://gridinoc.name/blog/2011/07/news-stories-interaction/">News Stories <span class="amp">&amp;</span> Interaction</a> where I introduced <span class="caps">PLESPER</span>, I haven’t detailed the collaboration apart of hinting of the possibility of having comments/​assertions on various article elements. And since those comments are bound to a shortened link and processed in the browser (extension) they are global, a comment thread can span various sites.</p>
<p>A collaboration feature I’m interested in more is sharing the space in which you make sense of things, the place where you collect articles, bits, etc. And that sharing can be unidirectional (broadcast-​like, but fork-​able, import-​able in other spaces) or bi-​directional, a collaborative space.</p>
<p>The simplest view over it would be to make an analogy with sharing playlists in Spotify.</p>
<p>A journalist can link from an article to the unidirectional ‘playlist’ of facts, etc. that supports the article. The article has another space of collaboration where readers can pick on those facts and overlay connections, comments, etc. over them, over the article and even connect them with other facts and articles.</p>
<p>Similarly, a story in development can be collaboratively shaped by the readers while the final article is based on a curated set from that collaborative space, an unidirectional playlist build from the collaborative one.</p>
<p></p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2011/07/news-stories-interaction/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2011/08/plesper/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
