<div role=main class=single>
  
    
<article id="post-84" class="post-84 post type-post status-publish format-standard hentry category-uncategorised tag-awesome-web-sites tag-blaine-cook tag-chief-engineer tag-ex-chief-engineer tag-kevin-rose tag-oliver-reichenstein tag-tim-bray tag-twitter-joe-stump tag-web-apps-fowa">
  <header class=entry-header>
    <h1 class=entry-title>Future of Web Apps</h1>

        <div class=entry-meta>
      <a href="/archive/2008/10/fowa08/index.html" title="03:16" rel="bookmark"><time class="entry-date" datetime="2008-10-12T03:16:06+00:00" pubdate>October 12, 2008</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p><span class="caps">FOWA</span> London’<span class="numbers">08</span> was awesome, the speakers were great, the audience was likewise. Now, shortly some impressions from day one (waiting for the videos of day two to be <a href="http://events.carsonified.com/fowa/2008/london/content">posted online</a>):</p>
<div><a href="http://events.carsonified.com/fowa/2008/london/videos/kevin-rose/">The Future of News</a> (Kevin Rose, digg) was interesting, I could not help not to merge it in my head with <a href="http://informationarchitects.jp/the-future-of-news-how-to-survive-the-new-media-shift/">Oliver Reichenstein’s Future of News</a>.</div>
<p><object id="viddler" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="437" height="287" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><param name="wmode" value="transparent" /><param name="src" value="http://www.viddler.com/player/2ce747fd/" /><param name="name" value="viddler" /><param name="allowfullscreen" value="true" /><embed id="viddler" type="application/x-shockwave-flash" width="437" height="287" src="http://www.viddler.com/player/2ce747fd/" name="viddler" wmode="transparent" allowfullscreen="true" allowscriptaccess="always"></embed></object></p>
<p><a href="http://events.carsonified.com/fowa/2008/london/highlights/blaine-cook-joe-stump/">Languages don’t scale</a> (Blaine Cook, ex Chief Engineer at Twitter <span class="amp">&amp;</span> Joe Stump, digg) was funny and insightful. Later Blaine Cook explained how <span class="caps">XMPP</span> can “save” <span class="caps">REST</span> (Colliding Worlds: Using Jabber to make awesome web sites).</p>
<p>Tim Bray gave a very motivational speech, I twittered it almost all (I wonder how many followers I lost in the<br /> process):</p>
<p><object id="viddler" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="437" height="287" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowScriptAccess" value="always" /><param name="allowFullScreen" value="true" /><param name="wmode" value="transparent" /><param name="src" value="http://www.viddler.com/player/1444587/" /><param name="name" value="viddler" /><param name="allowfullscreen" value="true" /><embed id="viddler" type="application/x-shockwave-flash" width="437" height="287" src="http://www.viddler.com/player/1444587/" name="viddler" wmode="transparent" allowfullscreen="true" allowscriptaccess="always"></embed></object></p>
<p>Interesting things spotted around: <a href="http://howsociable.com/">howsociable​.com</a> (from <a href="http://www.inuda.com/">inunda​.com</a>), <a href="http://www.swirrl.com/">Swirrl​.com</a>, <a href="http://zembly.com/">Zembly​.com</a>, and <a href="http://flexiscale.com/">flexiscale​.com</a> cloud computing thing (with which I’m playing right now).</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2008/05/about-to-change/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2008/12/about-to-change-2/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
