<div role=main class=single>
  
    
<article id="post-251" class="post-251 post type-post status-publish format-standard hentry category-courses-etc category-cyberpunk category-peer-2-peer-university">
  <header class=entry-header>
    <h1 class=entry-title>Haute Couture</h1>

        <div class=entry-meta>
      <a href="/archive/2009/11/haute-couture/index.html" title="16:43" rel="bookmark"><time class="entry-date" datetime="2009-11-03T16:43:04+00:00" pubdate>November 3, 2009</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>The alarm clock projected its cardioid waking field over the bed. The substance of his dream started to fade away and crisp reality was pouring in…</p>
<p><span class="dquo">“</span>Damn it, not again, not when I’m dreaming of her” he shouted, kicking away the clock’s antenna towards the wall. He closed his eyes, she was still there: soft and warm, sleeping in his arms and slowly fading away.</p>
<p>He opened his eyes — she was gone.<span id="more-251"></span></p>
<p style="text-align: center;">⁂</p>
<p>She died two months ago — a traffic accident they said, and he had almost bought it. But he had spotted something on the advertisement for the next show she was supposed to run. He saw the designs he knew by heart — low quality copies of her ideas. He should know them, after all, he had helped her with the algorithms that ran them.</p>
<p>He reminded himself of the importance of that very day, and he rose. Behind him, the bed sheets rolled and disappeared into the recycling unit accompanied by the voracious sound of thousand of nano machines at work.</p>
<p><span class="dquo">“</span>Today,” he spoke to himself, “today is revenge — pure, precise mathematical revenge.”</p>
<p>He met her in a bar in Akureyri, on one of the few snowy days of the year. He had come with no specific goal — and surely not looking for a woman — he sat at the bar next to her by chance. While he was waiting for his drink, he noticed the fine shadows she was casting with the coaster she was cutting with a small sharp scissor. There was something fractal and at the same time, deeply visceral in her cutwork. He could almost feel the algorithms breathing behind those interweaved moving patterns.</p>
<p>By morning they were already packing for London. Her name was Julia.</p>
<p style="text-align: center;">⁂</p>
<p>Today’s event was in the <span class="caps">TATE</span> Modern’s Turbine Room. Glowing billboards on the sides of the building were shouting in bright orange: ‘London Couture Fashion Week.’</p>
<p>He was late. He rushed in, flashed his <span class="caps">ID</span> card towards an immobile yet menacing security guard shouting “I’m Oren, I’m… I’m with that equipment” — pointing towards the stage — “and I’m late!” and asked one of the useless assistants to fetch him a double espresso. He then proceeded backstage to check the antennae and their delay lines.</p>
<p style="text-align: center;">⁂</p>
<p>This had all started couple years ago: fashion houses equipped their outlets with nano factories — tens of thousands of nano machines at work. Miniature Jacquard looms that would knit, weave and sew anything according to rigourous patterns. Each night, authorised shops would tune into a broadcast and manufacture the stocks needed.</p>
<p>Julia started as a fashion pirate: she was illegally tuning into such broadcasts and fabricating pirate copies of various popular and expensive garments. One could easily identify the copies, as they had compression artefacts visible on some delicate patterns and particularly along the seams.</p>
<p>It quickly became very fashionable to wear such obviously pirated clothes, and the fashion industry reacted by incorporating intentional flaws — now called “designer artefacts” — into their collections and charging even more for them.</p>
<p>This was a declaration of war.</p>
<p>Ironically, the fashion pirates’ replicas were soon copied back into the original collection, upsetting many of the pirates. They fought back by jamming and altering the very broadcasts they were copying, trying to buff out the synthetic artefacts and etch instead various statements and poor designs on the original clothing.</p>
<p>This was the birth of the fashion graffiti.</p>
<p>The fashion and entertainment industries, while fighting the pirates and the fashion graffiti artists, needed a way monetize this. Many of the fashion houses began headhunting and even started to cut deals with several talented graffiti artists stage performances of the new ‘haute couture.’</p>
<p>The day they met in Akureyri, she had just done such a graffiti, but her piece wasn’t just the mere “spraying” of some bizarre pattern into a broadcast. She managed — in realtime — to decode, alter and re-​inject the sewing instructions creating an intricate and uniquely beautiful lace on a very expensive dress.</p>
<p>That night he was bewitched. They spent the whole night arguing on generative algorithms, fractals and compression techniques. He hadn’t had such fun with a girl in ages.</p>
<p>The next day they left for London to cut a deal with a fashion house, any big house.</p>
<p style="text-align: center;">⁂</p>
<p>Today’s Haute Couture event was based on a very simple concept: a graffiti artist would manipulate the broadcast live, on stage. The unique creations would then be on the catwalk in a matter of tens of seconds.</p>
<p>This was supposed to be Julia’s show.</p>
<p>He finished the hardware checks and proceeded to inspect the seed data for his algorithms, doing the final adjustments for his victim, who had just arrived. The controversial Alex, a mediocre actor turned fashion designer and now — through his connections in the industry — become the fashion graffiti sensation of the year almost overnight.</p>
<p>With Julia’s designs.</p>
<p>Alex intermediated Julia’s deal, had her run a pilot show. He had stole everything he could and disposed of her. But Alex didn’t know about the relationship between Oren and Julia. Or, maybe he was too arrogant to believe that Oren would dare to do anything apart of his job, as broadcast engineer.</p>
<p>And he was going to do his job, to implement the so-​called Alex designs into the transcoders. He worked obsessively day and night to perfect his algorithms, to avenge her with her own designs.</p>
<p style="text-align: center;">⁂</p>
<p>The show was approaching its glorious end, the lights faded and the spotlight focused on the catwalk. After twelve brilliant designs created live on the stage, Alex was going to reveal the orchestrated masterpiece of the season.</p>
<p>Alex, wearing the ultimate creation stepped out, onto the catwalk. He made couple steps and the audience was stilled.</p>
<p>The collar was the first thing, its purpose was to silence him. Then, the memory fibres in his white suit started to react to his body heat: seams constricting, lace coming to life, patterns unfolding.</p>
<p>Shoulder blades rose behind him with a wet sound and then slowly folded back like the wings of an impotent angel. Muscles started slowly to extrude between seams, perfect symmetrical red stains appeared on the white suit, a red Rorschach butterfly trying to escape from his white cocoon.</p>
<p>The suit started folding him in angular patterns, with a beautiful mathematical precision.</p>
<p>Then the process stopped, the end form was attained: a silent sculpture, ribs in blossom, a bright red origami flower, like a water lily resting on a lake of bloody pink foam, still steaming.</p>
<p>And the silence ended.</p>
<p style="text-align: center;">⁂</p>
<p>After four months they found him hiding in Korea. Two Network agents escorted him to one of their facilities in Busan.</p>
<p>He sat in a room, alone at a table for at least two hours when two carefully dressed men entered.</p>
<p><span class="dquo">“</span>You thought you could get away with that stunt, didn’t you?” one of them asked.</p>
<p><span class="dquo">“</span>Not in this world,” said the other.</p>
<p>Not anymore, he thought.</p>
<p><span class="dquo">“</span>In our current legal system, we have an average of <span class="numbers">27</span> executions per month,” started the first one, then continued:</p>
<p><span class="dquo">“</span>But the public is quite bored of all the bloody medieval re-​enactments we do for them. We want you to put your stunt to good, public use. We want you to design the executions for the next season, we even have several fashion houses investing in the show, for the pilot one we chose to work with…”</p>
<p>He turned his head away and looked up through the window, it was one of those rare snowy days.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2009/10/ubiquity-history/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2009/11/ten-years/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
