<div role=main class=single>
  
    
<article id="post-39" class="post-39 post type-post status-publish format-standard hentry category-cyberpunk category-postmodernism category-transhumanism tag-brain-implant tag-brain-pacemaker tag-iphone tag-ipod tag-johnny-mnemonic tag-neuroprosthetics tag-philip-k-dick tag-steve-jobs tag-tekwar">
  <header class=entry-header>
    <h1 class=entry-title>Deep Brain Stimulation</h1>

        <div class=entry-meta>
      <a href="/archive/2007/08/deep-brain-stimulation/index.html" title="02:29" rel="bookmark"><time class="entry-date" datetime="2007-08-02T02:29:27+00:00" pubdate>August 2, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>I just saw an <a href="http://www.theglobeandmail.com/servlet/story/RTGAM.20070801.wbrain0801/BNStory/specialScienceandHealth/home">article</a> about how a <a href="http://en.wikipedia.org/wiki/Brain_pacemaker">brain pacemaker</a> revived a man who was a ‘vegetable’ for <span class="numbers">6</span> years. Previously <a href="http://en.wikipedia.org/wiki/Deep_brain_stimulation">deep brain stimulation</a> (<acronym class=".caps" title="Deep Brain Stimulation"><span class="caps">DBS</span></acronym>) was used to treat Parkinson disease, <a href="http://news.bbc.co.uk/1/hi/health/4625775.stm">clinical depression</a>, etc. While brain stimulation as concept is around since <span class="numbers">1940</span>s, until now there was not enough knowledge and techniques to identify where in the brain confuse or abnormal signals are generated, nor how to implant at millimeter accuracy electrodes near these areas. Note that this is quite different as the historical brain stimulation, is not just to excite the brain, but to re-​tune and re-​modulate signals. As for the side effects, literature reports: apathy, hallucinations, compulsive gambling, hypersexuality, cognitive dysfunction and depression. If <acronym class=".caps" title="Deep Brain Stimulation"><span class="caps">DBS</span></acronym> could revive a vegetative human, it would be very interesting what it can do on a (clinical) normal human being, just think of:</p>
<ul>
<li><a href="http://www.everything2.com/index.pl?node_id=1042278">Penfield mood organ</a> of ‘<a href="http://en.wikipedia.org/wiki/Do_Androids_Dream_of_Electric_Sheep%3F">Do Androids Dream of Electric Sheep</a>?’ by <a href="http://en.wikipedia.org/wiki/Philip_K._Dick">Philip K. Dick</a></li>
<li>Tek a computerised mind-​altering drug, from ‘<a href="http://en.wikipedia.org/wiki/TekWar">TekWar</a>’ by <a href="http://en.wikipedia.org/wiki/William_Shatner">William Shatner</a></li>
<li>memory implants as in ‘<a href="http://en.wikipedia.org/wiki/Johnny_Mnemonic_%28short_story%29">Johnny Mnemonic</a>’ by <a href="http://en.wikipedia.org/wiki/William_Gibson_%28novelist%29">William Gibson</a></li>
<li><a href="http://www.technovelgy.com/ct/content.asp?Bnum=177">SimStim</a> entertainment and cyberdeck consoles as in ‘<a href="http://en.wikipedia.org/wiki/Neuromancer">Neuromancer</a>’ also by William Gibson</li>
</ul>
<p>If you think it will take ages to get there, just bypass the normal lengthy treatment adoption in western countries, get your electrodes implanted somewhere in Honk Kong, a smuggled brain pacemaker and load your favourite russian firmware on it. Once you have the electrodes the rest is just as Steve Jobs said about the iPhone and the iPod: “it is just software.” Oh, wait — be careful what you load on your brain, use a barrier maze to protect you from <a href="http://en.wikipedia.org/wiki/Ghost_hacking">ghost hacking</a> and beware of black <a href="http://en.wikipedia.org/wiki/Intrusion_Countermeasures_Electronics"><span class="caps">ICE</span></a> when you go online.</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/07/black-iron-prison/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/08/live-free-or-die/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
