<div role=main class=single>
  
    
<article id="post-33" class="post-33 post type-post status-publish format-standard hentry category-courses-etc category-semantic-web tag-semantic-web tag-service-web-3-0 tag-soa tag-triplespace tag-web-services tag-wsmo">
  <header class=entry-header>
    <h1 class=entry-title><span class="caps">SSSW<span class="numbers">07</span></span> — Days Four <span class="amp">&amp;</span> Five</h1>

        <div class=entry-meta>
      <a href="/archive/2007/07/sssw07-days-four-five/index.html" title="22:18" rel="bookmark"><time class="entry-date" datetime="2007-07-13T22:18:05+00:00" pubdate>July 13, 2007</time></a><span class="by-author"> <span class="sep"> by </span> <span class="author vcard"><a class="url fn n" href="/archive/profile/index.html" title="View all posts by Laurian" rel="author">Laurian</a></span></span>    </div>
      </header>

  <div class=entry-content>
    <p>On day four, the invited speaker was <a href="http://www.fensel.com/">Dieter Fensel</a>, who presented “Service Web <span class="numbers">3</span>.<span class="numbers">0</span>″ — from services ubiquity (the milk bottle in the fridge becomes a service), what’s missing in <a title="Service Oriented Architecture" href="http://en.wikipedia.org/wiki/Service-oriented_architecture"><span class="caps">SOA</span></a> and to how to bring to it the web properties (scalability, descentralisation, interoperability, openness, etc.). He underlined the major breakthroughs of Web <span class="numbers">2</span>.<span class="numbers">0</span>: blurring the distinction between content/​service consumers and providers, the move from media for individuals to media for communities and integration of human and machine computing in novel ways. Next he presented the Semantic Service Bus, <a href="http://www.wsmo.org/"><span class="caps">WSMO</span></a> and MicroWSMO, and the semantic space: <a href="http://www.wsmo.org/TR/d21/v0.1/">TripleSpace</a>.</p>
<p>On day five, <a href="http://kmi.open.ac.uk/people/motta/">Enrico Motta</a> spoke about “A Research Programme for the Semantic Web,” where he underlined that the classical problem of knowledge aquisition<br /> (<span class="caps">KA</span>) bottleneck can be solved by using the whole semantic web as an infrastructure and also as background knowledge provider. The gaved examples were about semantic web background knowledge usage in ontology matching.</p>
<p>The rest of these two days were dedicated to the work for “mini-​projects.” Most of the meetings for these projects employed more or less formal places, such as the pool and the bar.…</p>
      </div>
  
</article>    <nav id=page-nav>
      
      <div class=previous><a href="/archive/2007/07/sssw07-day-three/index.html" rel="prev">&larr; Previous</a></div>
      <div class=next><a href="/archive/2007/07/we-won/index.html" rel="next">Next &rarr;</a></div>
    </nav>
    
  </div>
